@media (max-width: 600px) {
    .dashboard-page {
        .dashboard-sidebar {
            .card {
                margin-left: -.75rem;
                margin-right: -.75rem;
            }
        }
    }
}
