@media only screen and (max-width: 600px) {
    .box-job-page {
        .box-job-detail{
            .available{
                .list-button{
                    padding: 0px;
                    .row{
                        .btn{
                            &:first-child{
                                padding: 0px;
                                font-size: 14px;
                                i{
                                    float: left;
                                }
                            }
                            &:last-child{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        .bid-box {
            .row-people {
                position: relative;
                .qualified {
                    width: 100%;
                    .qualified-avatar {
                        // width: 100%;
                    }
                    .qualified-information {
                        width: 100%; 
                    }
                }
                .price{
                    position: absolute;
                    right: 0px;
                }
            }
        }
    }
    .price{
        p.white-text.center-align{
            padding-left: 0px;
        }
    }
    .er-create-job{
        div{
            margin: 0 auto !important;
            float: none !important;
            padding-bottom: 10px;
        }
    }
    .list-jobs{
        padding: 0px !important;
    }
}
