@media (max-width: 600px) {
    .profile {
        .profile-cover {
            .avatar {
                bottom: 80px;
                .avatar-container {
                    .username {
                        font-size: 14px;
                    }
                }
            }
            .profile-button {
                text-align: center;
                .send-message,
                .edit-profile {
                    position: initial;
                }
            }
        }
    }
}
