<div ng-if="user.isEmployer()" ng-include="'/frontend/js/components/dashboard/employer/_dashboard_jobs.tpl.html'"></div>
<div ng-if="user.isEmployee()" ng-include="'/frontend/js/components/dashboard/employee/_dashboard_jobs.tpl.html'"></div>