<div id="dashboard">
    <div class="container">
        <!-- Employee -->
        <div class="row employee-dashboard" ng-if="vm.user.isEmployee()">
            <div class="col s12 m8">
                <div class="dashboard-navbar">
                    <div class="row">
                        <ul>
                            <li ui-sref-active="active">
                                <a ui-sref="app.dashboard.jobs({status: 'pending'})">Pending Shifts</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="app.dashboard.jobs({status: 'completed'})">Completed Shifts</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row dashboard-content" ui-view="dashboard-content"></div>
            </div>
            <div class="col s12 m4 dashboard-upcomming">
                <div class="dashboard-navbar">
                    <p>Upcomming Shifts</p>
                </div>
                <div class="row" ui-view="dashboard-upcomming"></div>
            </div>
        </div>
        <!-- Employer -->
        <div class="row employer-dashboard" ng-if="vm.user.isEmployer()">
            <div class="col s12 m3" ng-include="'/frontend/js/components/dashboard/employer/_sidebar.tpl.html'"></div>
            <div class="col s12 m9">
                <div class="row dashboard-content" ui-view="dashboard-content"></div>
            </div>
        </div>
    </div>
</div>
