@media only screen and (min-width: 993px) {
    .menu-list-job{
    	ul{
    		height: 100%;
    		li{
    			height: 100%;
    			a{
    				height: 100%;
    			}
    		}
    	}
    }
    .list-jobs{
       padding-right: 0px !important; 
    }
}