<div class="col s12 m6">
    <div class="er-widget widget-first-job" ng-if="vm.jobs | empty">
        <div class="card">
            <div class="card-title">Post your first Job</div>
            <div class="card-content">
                <p>Let's post your first Job</p>
                <a ui-sref="app.dashboard.new-job" class="waves-effect waves-light btn"><i class="material-icons left">add</i>New Job</a>
            </div>
        </div>
    </div>
    <div class="er-widget widget-last-job" ng-if="vm.jobs | hasItem">
        <div class="card">
            <div class="card-title">Your last Job</div>
            <div class="card-content">
                <div class="job">
                    <job item="vm.jobs[0]"></job>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m6">
    <div class="er-widget widget-complete-profile">
        <div class="card">
            <div class="card-title">Complete your profile</div>
            <div class="card-content">
                <div class="col s6">
                    <div class="progress">
                        <div ng-show="vm.completedProfile" class="determinate" style="width: {{vm.completedProfile}}%">{{vm.completedProfile}}%</div>
                    </div>
                </div>
                <div class="col s6 right-align">
                    <a ui-sref="app.profile.update.general({user_id: 'me'})">update your profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="er-widget widget-company-profile">
        <div class="card">
            <div class="card-title">Company profile</div>
            <div class="card-content">
                <div class="col s3">
                    <div class="company-image">
                        <img ng-src="{{vm.user.getImage()}}" alt="company image">
                    </div>
                </div>
                <div class="col s9">
                    <table class="striped">
                        <tbody>
                            <tr ng-if="vm.user.employer.getCompanyName()">
                                <td>Name</td>
                                <td ng-bind="vm.user.employer.getCompanyName()"></td>
                            </tr>
                            <tr ng-if="vm.user.employer.getCompanyAbout()">
                                <td>About</td>
                                <td ng-bind="vm.user.employer.getCompanyAbout()"></td>
                            </tr>
                            <tr ng-if="vm.user.employer.getCompanyMainActivity()">
                                <td>Main Activity</td>
                                <td ng-bind="vm.user.employer.getCompanyMainActivity()"></td>
                            </tr>
                            <tr ng-if="vm.user.employer.getCompanyAddress()">
                                <td>Address</td>
                                <td ng-bind="vm.user.employer.getCompanyAddress()"></td>
                            </tr>
                            <tr ng-if="m.user.employer.getNumberOfOutlets()">
                                <td>Number of outlets</td>
                                <td ng-bind="vm.user.employer.getNumberOfOutlets()"></td>
                            </tr>
                            <tr ng-if="vm.user.employer.getPerferredContactMethod()">
                                <td>Contact method</td>
                                <td ng-bind="vm.user.employer.getPerferredContactMethod()"></td>
                            </tr>
                            <tr ng-if="vm.user.employer.getPreferredContactTime()">
                                <td>Contact time</td>
                                <td ng-bind="vm.user.employer.getPreferredContactTime()"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="right-align update-company-info">
                        <a ui-sref="app.profile.update.company-infomation">Update</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
