<div class="list-jobs">
    <div ng-if="vm.jobs | empty" class="col s12">
        <div ng-if="vm.jobs | empty" class="post-new-jobs">
            <p>Let's post your Job</p>
            <a ui-sref="app.dashboard.new-job" class="waves-effect waves-light btn"><i class="material-icons left">add</i>New Job</a>
        </div>
    </div>
    <div class="job" ng-repeat="item in vm.jobs">
        <job item="item" action="vm.action"></job>
    </div>
</div>
<simple-pagination page="vm.page" ng-show="vm.showPagination"></simple-pagination>
