<div id="er-dashboard-sidebar">
    <ul class="er-sidebar collapsible" data-collapsible="expandable">
        <li class="er-sidebar-item" ng-repeat="item in vm.employerSidebarItems" ng-class="{'has-submenu': vm.hasSubmenu(item)}" ui-sref-active="er-navbar-item-active">
            <a ng-if="item.state" ui-sref="{{item.state}}">
                <div class="icon">
                    <i class="material-icons">{{ item.icon }}</i>
                </div>
                <div class="menu">
                    {{item.menu}}
                </div>
            </a>
            <a ng-if="!item.state" class="collapsible-header active">
                <div class="icon">
                    <i class="material-icons">{{ item.icon }}</i>
                </div>
                <div class="menu">
                    {{item.menu}}
                </div>
            </a>
            <div class="submenu collapsible-body" ng-show="item.submenu | hasItem">
                <ul>
                    <li ng-repeat="submenu in item.submenu" ui-sref-active-eq="er-navbar-item-active">
                        <a ui-sref="{{submenu.state}}({{submenu.stateOption | json}})" ui-sref-opts="">{{submenu.menu}}</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
