<div class="previous-shifts profile-card top-nav white-text col s12">
    <div class="card-header">Completed Jobs</div>
    <div class="card-content white black-text">
        <div class="list-jobs">
            <div class="job" ng-repeat="item in vm.jobs">
                <job item="item"></job>
            </div>
        </div>
        <simple-pagination page="vm.page"></simple-pagination>
    </div>
</div>
