<div class="row">
    <div class="work profile-card top-nav white-text col s12">
        <div class="card-header">Interested In</div>
        <div class="card-content white black-text">
            <div class="row" ng-if="vm.profile.getEmployee().kind_of_work">
                <div class="col s12">
                    <p><strong>Preferred Work Type:</strong> <span ng-bind="vm.profile.getEmployee().kind_of_work"></span></p>
                </div>
            </div>
            <div class="row" ng-if="vm.profile.getEmployee().hours_per_week">
                <div class="col s12">
                    <p><strong>I can work for:</strong> <span ng-bind="vm.profile.getEmployee().hours_per_week"></span> hours/week</p>
                </div>
            </div>
            <div class="row" ng-if="vm.profile.getEmployee().industry.id">
                <div class="col s12">
                    <p><strong>Industry:</strong> <span ng-bind="vm.profile.getEmployee().industry.name"></span></span>
                    </p>
                </div>
            </div>
            <div class="row" ng-if="vm.profile.getEmployee().preferred_positions | hasItem">
                <div class="col s12">
                    <p><strong>Preferred Position:</strong> <span ng-repeat="position in vm.profile.getEmployee().preferred_positions"><span ng-bind="position.name"></span><span ng-show="!$last">, </span></span>
                    </p>
                </div>
            </div>
            <div class="row" ng-if="vm.profile.getEmployee().preferred_locations | hasItem">
                <div class="col s12">
                    <p><strong>Preferred Location:</strong> <span ng-repeat="location in vm.profile.getEmployee().preferred_locations"><span ng-bind="location.name"></span><span ng-show="!$last">, </span></span>
                    </p>
                </div>
            </div>
            <div class="row" ng-if="vm.profile.getEmployee().allow_to_work_in_sg">
                <div class="col s12">
                    <p>Allow to work in Singapore</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="work profile-card top-nav white-text col s12">
        <div class="card-header">Working Experiences</div>
        <div class="card-content white black-text">
            <div class="row" ng-if="vm.profile.getEmployee().education_level.name">
                <div class="skill col s12">
                    <p><strong>Education Level:</strong> <span ng-bind="vm.profile.getEmployee().education_level.name"></span></p>
                </div>
            </div>
            <div class="row" ng-if="vm.profile.getEmployee().working_experience.name">
                <div class="skill col s12">
                    <p><strong>Experiences:</strong> <span ng-bind="vm.profile.getEmployee().working_experience.name"></span></p>
                </div>
            </div>
            <div class="row" ng-if="vm.profile.getEmployee().last_positions | hasItem">
                <div class="last-positions col s12">
                    <p><strong>Last Positions</strong></p>
                    <table class="responsive-table striped bordered">
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th>Type</th>
                                <th>Country</th>
                                <th>Role</th>
                                <th>Name of Manager</th>
                                <th>Reason of Leaving</th>
                                <th>Start</th>
                                <th>End</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="position in vm.profile.getEmployee().last_positions">
                                <td ng-bind="position.company_name"></td>
                                <td ng-bind="position.type"></td>
                                <td ng-bind="position.country"></td>
                                <td ng-bind="position.role"></td>
                                <td ng-bind="position.name_of_manager"></td>
                                <td ng-bind="position.reason_of_leaving"></td>
                                <td ng-bind="position.start_date | timeFormat:'LL'"></td>
                                <td ng-bind="position.end_date | timeFormat:'LL'"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
