<div class="row">
    <div class="work profile-card top-nav white-text col s12">
        <div class="card-header">Company</div>
        <div class="card-content white black-text">
            <div class="row" ng-if="vm.profile.getCompanyName()">
                <div class="col s12">
                    <p><strong>Name:</strong> <span ng-bind="vm.profile.getCompanyName()"></span></p>
                </div>
            </div>
            <div class="row" ng-if="vm.profile.getCompanyAbout()">
                <div class="col s12">
                    <p><strong>About:</strong> <span ng-bind="vm.profile.getCompanyAbout()"></span></p>
                </div>
            </div>
            <div class="row" ng-if="vm.profile.getCompanyAddress()">
                <div class="col s12">
                    <p><strong>Address:</strong> <span ng-bind="vm.profile.getCompanyAddress()"></span></p>
                </div>
            </div>
            <div class="row" ng-if="vm.profile.getRegistedNumber()">
                <div class="col s12">
                    <p><strong>Registed Number:</strong> <span ng-bind="vm.profile.getRegistedNumber()"></span></p>
                </div>
            </div>
            <div class="row" ng-if="vm.profile.getCompanyMainActivity()">
                <div class="col s12">
                    <p><strong>Main Activity:</strong> <span ng-bind="vm.profile.getCompanyMainActivity()"></span></p>
                </div>
            </div>
            <div class="row" ng-if="vm.profile.getNumberOfOutlets()">
                <div class="col s12">
                    <p><strong>Number Of Outlets:</strong> <span ng-bind="vm.profile.getNumberOfOutlets()"></span></p>
                </div>
            </div>
            <div class="row" ng-if="vm.profile.getPreferredContactMethod()">
                <div class="col s12">
                    <p><strong>Preferred Contact Method:</strong> <span ng-bind="vm.profile.getPreferredContactMethod()"></span></p>
                </div>
            </div>
            <div class="row" ng-if="vm.profile.getPreferredContactTime()">
                <div class="col s12">
                    <p><strong>Preferred Contact Time:</strong> <span ng-bind="vm.profile.getPreferredContactTime()"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
