<div class="profile">
    <div class="profile-cover" style="height: 200px;background-image: url('{{vm.profile.getCover()}}')">
        <div class="container" style="min-height: 200px;">
            <div class="user-infomation" style="height: 120px;
    overflow: auto;
    position: absolute;
    top: 50px;
    width: 100%;">
                <div class="avatar">
                    <user-profile-image class="left" image="vm.profile.getImage()"></user-profile-image>
                    <h5 class="left username" ng-bind="vm.profile.getUsername()"></h5>
                </div>
                <div class="profile-button">
                    <a ng-if="user !== undefined && vm.profile.getId() === user.getId()" ui-sref="app.profile.update.general" class="edit-profile waves-effect waves-light btn">Edit Profile</a>
                    <a ng-if="vm.profile.isEmployee() && user.isEmployer()" class="send-message waves-effect waves-light btn grey darken-4" ng-click="initConversation(vm.profile.getId())">Send Message</a>
                </div>
            </div>
        </div>
    </div>
    <div class="box-gray">
        <div class="container profile-container">
            <div class="row">
                <div class="col m7 s12">
                    <div class="row">
                        <div class="general-information profile-card top-nav white-text col s12">
                            <div class="card-header">General information</div>
                            <div class="card-content white black-text">
                                <div class="row" ng-if="vm.profile.getFirstName()">
                                    <div class="col s12">
                                        <p><strong>First Name:</strong> <span ng-bind="vm.profile.getFirstName()"></span></p>
                                    </div>
                                </div>
                                <div class="row" ng-if="vm.profile.getLastName()">
                                    <div class="col s12">
                                        <p><strong>First Name:</strong> <span ng-bind="vm.profile.getLastName()"></span></p>
                                    </div>
                                </div>
                                <div class="row" ng-if="vm.profile.getGender()">
                                    <div class="gender col s12">
                                        <p><strong>Gender:</strong> <span ng-bind="vm.profile.getGender()"></span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="birthday col s12" ng-if="vm.profile.getBirth()">
                                        <p><strong>Birthday:</strong> <span ng-bind="vm.profile.getBirth() | timeFormat: 'LL'"></span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="address col s12" ng-if="vm.profile.getAddress() || vm.profile.getCity() || vm.profile.getCountry()">
                                        <p>
                                            <strong>Address: </strong>
                                            <span ng-bind="vm.profile.getAddress()"></span><span ng-if="vm.profile.getAddress()">, </span>
                                            <span ng-bind="vm.profile.getCity()"></span><span ng-if="vm.profile.getCity()">, </span>
                                            <span ng-bind="vm.profile.getCountry()"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="summary col s12" ng-if="vm.profile.summary">
                                        <p><strong>Summary</strong></p>
                                        <p class="value" ng-bind="vm.profile.summary"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="contact profile-card top-nav white-text col s12">
                            <div class="card-header">Contact</div>
                            <div class="card-content white black-text">
                                <div class="row" ng-if="vm.profile.mobile">
                                    <div class="mobile col s12">
                                        <p><strong>Mobile:</strong> <span ng-bind="vm.profile.mobile"></span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="email col s12">
                                        <p><strong>Email:</strong> <span ng-bind="vm.profile.email"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="vm.profile.isEmployee()" ng-include="'/frontend/js/components/profile/_employee_info.tpl.html'"></div>
                    <div ng-if="vm.profile.isEmployer()" ng-include="'/frontend/js/components/profile/_employer_info.tpl.html'"></div>
                </div>
                <div class="col m5 s12">
                    <div class="row">
                        <div ng-if="vm.profile.isEmployee()" ng-include="'/frontend/js/components/profile/_employee_sidebar.tpl.html'"></div>
                        <div ng-if="vm.profile.isEmployer()" ng-include="'/frontend/js/components/profile/_employer_sidebar.tpl.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
