@media (max-width: 480px) {
    .profile_edit {
        .container_profile_edit {
            .cover-avatar {
                .avatar {
                    left: 0;
                    right: 0;
                    margin: auto;
                    text-align: center;
                    width: 80%;
                    .avatar-container {
                        text-align: center;
                        margin: auto;
                        width: 100%;
                        .avatar-image {
                            width: 100%;
                            height: auto;
                            max-height: 150px;
                            max-width: 150px;
                            margin-bottom: 10px;
                            float: none!important;
                        }
                        .username {
                            font-size: 14px;
                            height: initial;
                            line-height: initial;
                            margin: 0;
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
