<div id="create-job-page" class="container create-job-page">
    <form ng-submit="vm.CreateJobForm.$valid && vm.create(vm.job)" name="vm.CreateJobForm" novalidate>
        <div class="create-job row">
            <div class="col s12 m8">
                <div class="card">
                    <div class="card-title blue-grey darken-1">Offer</div>
                    <div class="card-content">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="title" ng-model="vm.job.title" required>
                                <label>Title</label>
                                <div class="errors">
                                    <span ng-show="vm.CreateJobForm.$submitted && vm.CreateJobForm.title.$error.required">Required</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="short_desc" ng-model="vm.job.short_desc" required>
                                <label>Short Desc</label>
                                <div class="errors">
                                    <span ng-show="vm.CreateJobForm.$submitted && vm.CreateJobForm.short_desc.$error.required">Required</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <span>Description:</span>
                                <trix-editor angular-trix ng-model="vm.job.description" class="trix-content" required name="description"></trix-editor>
                                <div class="errors">
                                    <span ng-show="vm.CreateJobForm.$submitted && vm.CreateJobForm.description.$error.required">Required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title blue-grey darken-1">Requirements</div>
                    <div class="card-content">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" ng-model="vm.job.note">
                                <label>Note</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" ng-model="vm.job.requirement">
                                <label>Requirement</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <select ng-model="vm.job.type" material-select name="type" required>
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="parttime">Parttime only</option>
                                    <option value="fulltime">Fulltime only</option>
                                    <option value="parttime & fulltime">Parttime & fulltime</option>
                                </select>
                                <label>What kind of work you are looking for?</label>
                                <div class="errors">
                                    <span ng-show="vm.CreateJobForm.$submitted && vm.CreateJobForm.type.$error.required">Required</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <md-select ng-model="vm.job.parent_category_id" aria-label="Choose a category" name="category" required>
                                    <option value="" disabled selected>Choose a Category</option>
                                    <md-option ng-value="category.getId()" ng-repeat="category in vm.categories| filterBy:['level']:1">{{category.getName()}}</md-option>
                                </md-select>
                                <label class="active">Choose a category</label>
                                <div class="errors">
                                    <span ng-show="vm.CreateJobForm.$submitted && vm.CreateJobForm.category.$error.required">Required</span>
                                </div>
                            </div>
                            <div class="input-field col s12 m6" ng-show="vm.job.parent_category_id">
                                <md-select ng-model="vm.job.category_id" aria-label="Choose a sub-category" name="subCategory" required>
                                    <option value="" disabled selected>Choose your option</option>
                                    <md-option ng-value="category.getId()" ng-repeat="category in vm.categories| filterBy:['parent_id']:vm.job.parent_category_id">{{category.getName()}}</md-option>
                                </md-select>
                                <label class="active">Choose a sub-category</label>
                                <div class="errors">
                                    <span ng-show="vm.CreateJobForm.$submitted && vm.CreateJobForm.subCategory.$error.required">Required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col s12 m4 right-column">
                <div class="card">
                    <div class="card-title blue-grey darken-1">Upload image</div>
                    <div class="card-content">


                        <div class="nf-drop-zone" dropzone before-upload="vm.beforeUpload" on-success="vm.onSuccess">
                            <div class="drop-zone-center">
                                <i class="material-icons">system_update_alt</i><span>Chose your image or drag them here to upload</span>
                            </div>
                            <div class="job-image-preview" ng-if="vm.job.image">
                                <img ng-src="{{vm.job.image}}">
                                <div class="edit" ng-if="vm.job.image">
                                    <a ng-click="vm.job.image = undefined">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-title blue-grey darken-1">Map</div>
                    <div class="card-content">
                        <div class="job-map-preview">
                            <p> <strong>Map Preview</strong></p>
                            <geocoding address="vm.job.addresss" default-lat="'1.352083'" default-lng="'103.819836'" lat="vm.job.latitude" lng="vm.job.longitude"></geocoding>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input ng-model-options="{ debounce: 1000 }" type="text" name="address" ng-model="vm.job.addresss" required>
                                <label>Address</label>
                                <div class="errors">
                                    <span ng-show="vm.CreateJobForm.$submitted && vm.CreateJobForm.address.$error.required">Required</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s6">
                                <input type="text" ng-model="vm.job.latitude">
                                <label ng-class="{active: vm.job.latitude}">Latitude</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="text" ng-model="vm.job.longitude">
                                <label ng-class="{active: vm.job.longitude}">Longitude</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="create-job">
            <div class="s12 m12">
                <div class="card">
                    <div class="card-title blue-grey darken-1">Shifts</div>
                    <div class="card-content">
                        <div class="row shifts">
                            <p><strong>Availabe Shifts</strong></p>
                            <div class="shift" ng-repeat="shift in vm.shifts">
                                <div class="input-field col s12 shift_description">
                                    <input id="shift_description" name="shift_description_{{$index}}" type="text" ng-model="shift.description">
                                    <label for="shift_description">Description</label>
                                    <div class="errors">
                                        <span ng-show="vm.CreateJobForm.$submitted && vm.CreateJobForm.shift_description_{{$index}}.$error.required">Required</span>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <md-input-container class="col s4 md-input-has-placeholder">
                                        <label>Start Date/Time</label>
                                        <input mdc-datetime-picker="" name="start_{{$index}}" date="true" time="true" type="text" max-date="shift.end" ng-model="shift.start" required>
                                        <div class="errors">
                                            <span ng-show="vm.CreateJobForm.$submitted && vm.CreateJobForm.start_{{$index}}.$error.required">Required</span>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="col s4 md-input-has-placeholder">
                                        <label>End Date/Time</label>
                                        <input mdc-datetime-picker="" name="end_{{$index}}" date="true" time="true" type="text" min-date="shift.start" ng-model="shift.end" required>
                                        <div class="errors">
                                            <span ng-show="vm.CreateJobForm.$submitted && vm.CreateJobForm.end_{{$index}}.$error.required">Required</span>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="col s2">
                                        <input type="number" ng-model="shift.salary" name="salary" required ng-pattern="/^[1-9][0-9]*$/" ng-maxlength="7" aria-label="salary">
                                        <label>Salary</label>
                                        <div class="errors">
                                            <span ng-show="vm.CreateJobForm.$submitted && vm.CreateJobForm.salary.$error.required">Required</span>
                                            <span ng-show="vm.CreateJobForm.$submitted && vm.CreateJobForm.salary.$error.pattern">Please enter a valid value</span>
                                            <span ng-show="vm.CreateJobForm.$submitted && vm.CreateJobForm.salary.$error.maxlength">The value is too long</span>
                                        </div>
                                    </md-input-container>
                                    <div class="col s2 delete-btn">
                                        <a class="waves-effect btn-flat" ng-click="vm.removeShift(shift)"><i class="material-icons">delete</i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="add-more-shift-btn">
                                <a class="waves-effect btn-flat" ng-click="vm.addMoreShift()"><i class="material-icons left">add</i>Add more shift</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 right-align">
                        <button class="btn waves-effect waves-light" ng-disabled="vm.inProgress" ng-class="{'disabled': vm.inProgress}" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                            <i class="material-icons right icon-pending">replay</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
