@media (max-width: 320px) {
    .profile {
        .profile-cover {
            .avatar {
                bottom: 80px;
                .avatar-container {
                    .avatar-image {
                        width: 80px;
                        height: 80px;
                    }
                    .username {
                        height: 80px;
                        line-height: 80px;
                        font-size: 14px;
                    }
                }
            }
        }
        .profile-container {
            .row {
                &:first-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
