<ul class="collection">
    <li class="collection-item avatar" ng-repeat="shift in vm.shifts">
        <img ng-src="{{shift.job.image}}" alt="" class="circle">
        <span class="title" ng-bind="shift.description"></span>
        <div class="shift-info">
            <p><a ui-sref="app.job({slug: shift.job.slug})"><strong ng-bind="shift.job.title"></strong></a></p>
            <p>
                <strong>From:</strong> {{ shift.getStartTime() | timeFormat:'MMMM Do YYYY, hh:mm'}}
            </p>
            <p>
                <strong>To:</strong> {{ shift.getEndTime() | timeFormat:'MMMM Do YYYY, hh:mm' }}
            </p>
        </div>
    </li>
</ul>
<simple-pagination page="vm.page" ng-show="vm.showPagination"></simple-pagination>
