@media only screen and (max-width: 600px) {
    .box-job-page {
        .bid-box {
            .row-people {
                .qualified {
                    .qualified-avatar {
                        width: 100%;
                    }
                    .qualified-information {
                        width: 100%; 
                    }
                }
            }
        }
    }
}
