<div class="box-gray">
    <div class="container">
        <div class="row" id="application">
            <div class="white col s12 m4 l3 user" ng-if="user.isEmployer()">
                <div class="center-align avatar">
                    <user-profile-image image="vm.employee.getImage()"></user-profile-image>
                    <p><a ui-sref="app.profile({user_id: vm.employee.getEmployeeId()})"><strong ng-bind="vm.employee.getName()"></strong></a></p>
                </div>
                <p><strong>Gender: </strong><span ng-bind="vm.employee.getGender()"></span></p>
                <p ng-show="vm.employee.getEmail()"><strong>Email: </strong><span ng-bind="vm.employee.getEmail()"></span></p>
                <p ng-show="vm.employee.getMobile()"><strong>Tel: </strong><span ng-bind="vm.employee.getMobile()"></span></p>
                <p ng-show="vm.employee.getBirth()"><strong>Birthday: </strong><span ng-bind="vm.employee.getBirth() | timeFormat:'LL'"></span></p>
                <p ng-show="vm.employee.getAddress()"><strong>Address: </strong><span ng-bind="vm.employee.getAddress()"></span></p>
                <p ng-show="vm.employee.getSummary()"><strong>About Me: </strong><span ng-bind-html="vm.employee.getSummary()"></span></p>
                <div class="contact-btn">
                    <button class="btn btn-flat" ng-click="initConversation(vm.employee.getId(), vm.job.getId())">Contact</button>
                </div>
            </div>
            <div class="white col s12 m4 l3 user" ng-if="user.isEmployee()">
                <div class="center-align avatar">
                    <user-profile-image image="vm.job.employer.getImage()"></user-profile-image>
                    <p><a ui-sref="app.profile({user_id: vm.job.employer.getEmployeeId()})"><strong ng-bind="vm.job.employer.getName()"></strong></a></p>
                </div>
                <p><strong>Company: </strong><span ng-bind="vm.job.employer.getCompanyName()"></span></p>
                <p><strong>About: </strong><span ng-bind="vm.job.employer.getCompanyAbout()"></span></p>
                <p><strong>Preferred Contact Method:</strong> <span ng-bind="vm.job.employer.getPreferredContactMethod()"></span></p>
                <p><strong>Preferred Contact Time:</strong> <span ng-bind="vm.job.employer.getPreferredContactTime()"></span></p>
                <p ng-show="vm.job.employer.getEmail()"><strong>Email: </strong><span ng-bind="vm.job.employer.getEmail()"></span></p>
                <div class="contact-btn">
                    <button class="btn btn-flat" ng-click="initConversation(vm.job.employer.getEmployeeId(), vm.job.getId())">Contact</button>
                </div>
            </div>
            <div class="col s12 m8 l9">
                <div class="white job">
                    <div class="col s12">
                        <div class="job-detail">
                            <h5 class="job-name">{{ vm.job.getTitle() }} <i ng-if="vm.job.isCompleted()" class="material-icons green-text">check_circle</i></h5>
                            <span><small>Job are created form: {{vm.job.getCreatedAtDate() | timeFormat: 'YYYY/MM/DD'}}</small></span>
                            <div class="row">
                                <div class="exchenge-title col s12 m3 l2">
                                    <p><strong>Description</strong></p>
                                </div>
                                <div class="content col s12 m9 l10" ng-bind-html="vm.job.getShortDesc()"></div>
                            </div>
                        </div>
                        <div class="ee-infomation" ng-if="user.isEmployer()">
                            <div class="row">
                                <div class="work profile-card top-nav white-text col s12">
                                    <div class="card-header">Interested In</div>
                                    <div class="card-content white black-text">
                                        <div class="row" ng-if="vm.employee.getEmployee().kind_of_work">
                                            <div class="col s12">
                                                <p><strong>Preferred Work Type:</strong> <span ng-bind="vm.employee.getEmployee().kind_of_work"></span></p>
                                            </div>
                                        </div>
                                        <div class="row" ng-if="vm.employee.getEmployee().hours_per_week">
                                            <div class="col s12">
                                                <p><strong>I can work for:</strong> <span ng-bind="vm.employee.getEmployee().hours_per_week"></span> hours/week</p>
                                            </div>
                                        </div>
                                        <div class="row" ng-if="vm.employee.getEmployee().industry.id">
                                            <div class="col s12">
                                                <p><strong>Industry:</strong> <span ng-bind="vm.employee.getEmployee().industry.name"></span></span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row" ng-if="vm.employee.getEmployee().preferred_positions | hasItem">
                                            <div class="col s12">
                                                <p><strong>Preferred Position:</strong> <span ng-repeat="position in vm.employee.getEmployee().preferred_positions"><span ng-bind="position.name"></span><span ng-show="!$last">, </span></span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row" ng-if="vm.employee.getEmployee().preferred_locations | hasItem">
                                            <div class="col s12">
                                                <p><strong>Preferred Location:</strong> <span ng-repeat="location in vm.employee.getEmployee().preferred_locations"><span ng-bind="location.name"></span><span ng-show="!$last">, </span></span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row" ng-if="vm.employee.getEmployee().allow_to_work_in_sg">
                                            <div class="col s12">
                                                <p>Allow to work in Singapore</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="work profile-card top-nav white-text col s12">
                                    <div class="card-header">Working Experiences</div>
                                    <div class="card-content white black-text">
                                        <div class="row" ng-if="vm.employee.getEmployee().education_level.name">
                                            <div class="skill col s12">
                                                <p><strong>Education Level:</strong> <span ng-bind="vm.employee.getEmployee().education_level.name"></span></p>
                                            </div>
                                        </div>
                                        <div class="row" ng-if="vm.employee.getEmployee().working_experience.name">
                                            <div class="skill col s12">
                                                <p><strong>Experiences:</strong> <span ng-bind="vm.employee.getEmployee().working_experience.name"></span></p>
                                            </div>
                                        </div>
                                        <div class="row" ng-if="vm.employee.getEmployee().last_positions | hasItem">
                                            <div class="last-positions col s12">
                                                <p><strong>Last Positions</strong></p>
                                                <table class="responsive-table bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Company</th>
                                                            <th>Role</th>
                                                            <th>Name of Manager</th>
                                                            <th>Reason of Leaving</th>
                                                            <th>Start</th>
                                                            <th>End</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="position in vm.employee.getEmployee().last_positions">
                                                            <td ng-bind="position.company_name"></td>
                                                            <td ng-bind="position.role"></td>
                                                            <td ng-bind="position.name_of_manager"></td>
                                                            <td ng-bind="position.reason_of_leaving"></td>
                                                            <td ng-bind="position.start_date | timeFormat:'LL'"></td>
                                                            <td ng-bind="position.end_date | timeFormat:'LL'"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="application">
                            <div class="row">
                                <div class="col s12 m3 l2">
                                    <p><strong>Request</strong></p>
                                </div>
                                <div class="content col s12 m9 l10" ng-bind-html="vm.application.applications[0].getRequest()"></div>
                            </div>
                            <div class="row">
                                <div class="col s12 m3 l2">
                                    <p><strong>Selected Shifts</strong></p>
                                </div>
                                <div class="content col s12 m9 l10">
                                    <div class="selected-shift" ng-repeat="item in vm.appliedShifts">
                                        <div class="row">
                                            <div class="col s12 m4">
                                                <p><strong ng-bind="item.shift.getDescription()"></strong></p>
                                                <p><strong>Salary:</strong> {{item.shift.getSalary()}}</p>
                                            </div>
                                            <div class="col s12 m8 right-align">
                                                <md-checkbox ng-disabled="!vm.is_owner || vm.job.isCompleted()" ng-model="item.application.accept" aria-label="accept_application">Accept</md-checkbox>
                                                <!-- <md-checkbox ng-disabled="!vm.is_owner" ng-model="item.application.complete" aria-label="accept_application">Completed</md-checkbox> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-align" ng-if="vm.is_owner && !vm.job.isCompleted()">
                                        <button class="btn waves-effect waves-light btn-flat" ng-click="vm.acceptSelectedShift(vm.appliedShifts)" ng-class="{'disabled': vm.inProgress}" ng-disabled="vm.inProgress">Save <i class="material-icons right icon-pending">replay</i></button>
                                        <button class="btn waves-effect waves-light btn-flat" ng-click="vm.markCompleteAcceptedShift(vm.appliedShifts)" ng-class="{'disabled': vm.inMarkCompetedProgress}" ng-disabled="vm.inMarkCompetedProgress">Mark as Completed <i class="material-icons right icon-pending">replay</i></button>
                                        <button class="btn waves-effect waves-light btn-flat grey darken-2" ng-click="$state.reload()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
