.box-search {
    max-width: 450px;
    #search {
        max-width: calc(100% - 50px);
        margin-bottom: 5px;
        height: 30px;
        float: left;
    }
    i {
        margin-top: 5px;
        margin-left: 10px;
    }
}

.row {
    .box-search {
        margin-top: 10px !important;
    }
    .box-login {
        margin-top: 10px;
        float: right;
        .signup{
        	padding-left: 10px;
        	padding-right: 10px;
        }
    }
}
