.box-job-page {
    background-color: #f7f7f7;
    padding-top: 25px;
    margin-top: 2px;
    font-size: 14px;
    h1,
    h2,
    h3,
    h4 {
        font-size: 20px;
    }
    .box-job-detail {
        float: left;
        padding: 15px 0px 15px 0px;
        width: 100%;
        box-shadow: 0px 0px 5px #ddd;
        margin-top: 5px;
        margin-bottom: 15px;
        border-radius: 2px;
        .title {
            h2 {
                font-size: 20px;
            }
        }
        .box-detail-second {
            padding-bottom: 10px;
            .title {
                // margin-top: 5px;
            }
            ul {
                padding-bottom: 15px;
            }
        }
        .shortlist {
            margin-right: 15px;
            a {
                text-transform: inherit;
                padding-left: 10px;
                padding-right: 10px;
                height: 25px;
                line-height: 25px;
            }
        }
        .available {
            h3,
            h4 {
                font-size: 20px;
            }
            .calendar-detail {
                padding: 2px;
                .row {
                    padding: 2px;
                    border-radius: 2px;
                }
                .title {
                    margin: 2px;
                }
                a {
                    display: block;
                    margin: 2px;
                    padding: 6px 10px;
                    border-radius: 3px;
                    p {
                        margin: 0px;
                    }
                }
            }
            .list-button {
                .row {
                    max-width: 450px;
                    margin: 0 auto;
                    margin-top: 20px;
                    .btn {
                        width: 20%;
                        float: left;
                        box-shadow: none;
                        text-transform: inherit;
                        padding: 0px 5px;
                        border-radius: 0px;
                        font-size: 13px;
                        i {
                            font-size: inherit;
                        }
                        &:first-child {
                            border-radius: 5px 0px 0px 5px;
                            font-weight: bold;
                            font-size: 15px;
                        }
                        &:last-child {
                            border-radius: 0px 5px 5px 0px;
                            font-weight: bold;
                            font-size: 15px;
                        }
                        span {
                            font-size: 18px;
                        }
                    }
                }
            }
            .note-shortlisted {
                span {
                    font-size: 13px;
                }
            }
        }
    }
    .related-box {
        .related-list {
            .related-detail {
                padding: 0px;
                margin-bottom: 10px;
                .related-detail-box {
                    margin: 5px;
                    p {
                        margin: 0px;
                        font-size: 11px;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                    a{
                        color: #333;
                    }
                    .img-thumbnail {
                        border: 1px #aaa solid;
                        background-size: contain;
                        background-color: #fff;
                        background-repeat: no-repeat;
                        background-position: center center;
                        line-height: 0px;
                        position: relative;
                        img {
                            height: auto;
                            width: 100%;
                        }
                        .tag-text {
                            position: absolute;
                            bottom: -8px;
                            right: 0px;
                            text-shadow: 2px 2px 2px white;
                            background: rgba(255, 255, 255, 0.5);
                            padding: 5px;
                            line-height: 5px;
                            border-radius: 10px;
                            font-size: 9px;
                            color: #000;
                        }
                    }
                    .title {
                        padding: 5px;
                        margin-top: 10px;
                        margin-bottom: 0px;
                    }
                    .information-shop {
                        padding: 5px;
                    }
                }
            }
        }
    }
    .bid-box {
        padding: 0px;
        .navbar-title {
            p {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 13px;
            }
        }
        .row-people {
            border: 1px solid #ddd;
            border-top: none;
            .qualified {
                padding: 0px;
                .qualified-avatar {
                    width: 120px;
                    .avatar {
                        width: 100%;
                        height: auto;
                        margin-top: 10px;
                        max-width: 120px;
                    }
                    .portfolio {
                        margin: 0px;
                    }
                }
                a {
                    color: #1976D2;
                }
                .qualified-information {
                    width: calc(100% - 120px);
                    .list-description {
                        span {
                            font-size: 13px;
                            padding-right: 5px;
                        }
                        .name {
                            font-size: 17px;
                        }
                    }
                    .text-description {
                        font-size: 13px;
                        line-height: 16px;
                    }
                }
            }
            .price {
                b {
                    font-size: 20px;
                }
                span {
                    font-size: 13px;
                }
            }
        }
    }
}
