.menu-list-job {
    height: 35px;
    line-height: 35px;
    // margin-bottom: 20px;
    a.button-collapse {
        i {
            line-height: 39px;
        }
    }
    ul {
        li {
            a {
                letter-spacing: -0.04em;
                padding: 0px 8px;
                color: #555555;
                font-size: 0.9rem;
                &:hover {
                    color: #000;
                    text-decoration: inherit;
                }
            }
        }
    }
}

.sub-category {
    margin-top: 6px !important;
    padding: 0px !important;
    border: 1px #eeeeee solid; 
    .title {
        font-size: 1.56rem;
        // padding: 0.75rem;
        margin: 0px;
        padding:12px;
        border-bottom: 1px #eeeeee solid;
    }
    ul {
        padding:12px;
        li{
        	a {
        	    display: block;
        	    width: 100%;
        	    color: #555555;
        	    padding: 5px;
        	    border-bottom: 1px #eeeeee solid;
        	    &:hover {
        	        color: #000;
        	        text-decoration: inherit;
        	        background: #eeeeee;
        	    }
        	}
        	&:last-child{
        		a{
        			border-bottom: none;
        		}
        	}
        }
    }
}

.list-jobs {
    .card {
        .card-title {
            h3 {
                font-size: 16px;
                line-height: 20px;
                font-weight: bold;
                margin: 0px;
            }
        }
        .card-content {
            padding: 7px;
            position: inherit;
            .card-title {
                h3 {
                    font-size: 15px;
                    font-weight: 300;
                    margin: 0px;
                }
                .button-open {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
            }
        }
        p {
            font-weight: 300;
        }
        .prince {
            clear: both;
            font-size: 18px;
            margin-top: 5px;
            a {
               	font-size: 15px; 
                i {
                    color: #c6c6c6;
                }
                &:first-child{
                	i{
                		// font-size: 22px;
                	}
                }
            }
            span {
                color: #00b22d;
                font-weight: bold;
                i{
                	font-size: 11px;
                	text-transform: uppercase;
                	font-weight: 400;
                }
            }
        }
        .button-close {
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }
}
