.sidebar-job{
	h1{
		font-size: 35px;
	}
	h3{
		font-size: 20px;
	}
	.logo-shop{
		margin-top: 10px;
	}
	.tag-category{
		.list-cate{
			a{
				text-transform: inherit;
			    padding-left: 10px;
			    padding-right: 10px;
			    height: 25px;
			    line-height: 25px; 
			}
		}
	}

}