#application {
    p {
        margin-top: 0px;
    }
    .user {
        padding-bottom: 20px;
        .avatar {
            margin-top: 20px;
            border-bottom: 1px solid #ddd;
            margin-bottom: 20px;
            img {
                width: 65px;
                height: 65px;
            }
        }
        p {
            margin: 5px 0px 10px;
            font-size: 13px;
        }
    }
    .job {
        margin: 0px 10px;
        padding: 0px 0px 15px;
        overflow: overlay;
        .job-detail {
            border-bottom: 1px solid #ddd;
            .title {
                margin: 0px;
                padding: 10px;
            }
            .job-name {
                padding-top: 20px;
                margin-bottom: 0px;
            }
            .shift {
                overflow: hidden;
                border: 1px dashed #eee;
                margin-bottom: 10px;
                padding: 5px;
                .row {
                    margin-bottom: 0px;
                    font-size: 12px;
                }
            }
        }
        .ee-infomation {
            .row {
                margin-bottom: 10px;
                p {
                    margin-bottom: 10px;
                }
            }
        }
        .application {
            padding-top: 15px;
            .application-action {
                .cancel {
                    @extend %bg-button;
                    font-weight: 400 !important;
                    margin-left: 5px;
                }
            }
            .selected-shift {
                overflow: hidden;
                border: 1px dashed #eee;
                margin-bottom: 10px;
                padding: 5px;
                .row {
                    margin-bottom: 0px;
                    font-size: 12px;
                    md-checkbox {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}
