html {
    overflow-y: scroll!important;
    background-color: #f9f7f7;
    body {
        nav {
            background-color: #fff;
            box-shadow: none;
        }
        background-color: #f7f7f7;
        .btn {
            background-color: #c44e38;
            color: white;
            .grey {
                background-color: #cccccc;
                color: white;
            }
        }
        .btn:focus,
        .btn:hover,
        {
            background-color: #B54C39;
        }
        div[ui-view="main"] {
            /*padding-top: 93px;*/
            /*            .fixed-header,
                        div[ui-view="header"] {
                            position: fixed;
                            top: 0px;
                            left: 0px;
                            right: 0px;
                            z-index: 99;
                        }*/
            div[ui-view="content"] {}
        }
        footer.bottom-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .md-dialog-container {
            top: 0px!important;
            position: fixed;
        }
        .card {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.04);
            .card-title {
                padding: 5px 10px;
                overflow: hidden;
                font-size: 15px;
                color: #fff;
                padding: 5px 20px;
                background-color: #929292 !important;
                font-weight: 400;
                p {
                    font-weight: bold;
                    margin-bottom: 0px;
                    font-size: 16px;
                }
                md-checkbox {
                    margin: 0px;
                    padding: 0px;
                    height: auto;
                }
            }
        }
    }
    md-select-menu {
        md-content {
            md-select-label {
                text-transform: capitalize;
                color: #333;
            }
            md-option {
                .md-text {
                    text-transform: capitalize;
                }
            }
        }
    }
    md-select {
        md-select-value {
            span {
                div {
                    display: inline;
                }
            }
        }
    }
    md-checkbox {
        height: 50px;
        .md-label {
            line-height: 50px;
            color: #333;
        }
    }
    md-input-container {
        textarea.md-input {
            min-height: 50px;
            border-bottom: 1px solid #9e9e9e;
        }
    }
    .notify {
        position: fixed;
        width: 100%;
        z-index: 9999999;
        .right-align {
            float: right;
            margin-right: 5px;
        }
    }
    user-profile-image {
        display: inline-block;
        .user-profile-image {
            img {
                background-size: cover;
                background-position: center;
                width: 65px;
                height: 65px;
                border-radius: 100%;
            }
        }
    }
    conversation-item {
        .conversation-item-content {
            text-align: left;
            padding-left: 5px;
        }
    }
}

label.required {
    &:after {
        content: '*';
        padding-left: 5px;
    }
}

preloader {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.breadcrumb::before {
    color: rgba(76, 76, 76, 0.7);
}

nav.breadcrumb-navbar {
    background: #f5f5f5;
    box-shadow: none;
    border: none;
    height: auto;
    overflow: auto;
    border-top: 1px solid rgba(225, 225, 225, 0.98);
    .nav-wrapper {
        >div {
            line-height: 35px;
            a {
                font-size: 12px;
                color: #4c4c4c;
                cursor: pointer;
                text-transform: capitalize;
            }
            a[href] {
                font-weight: bold;
            }
            a[href]:hover {
                color: #c44e38;
            }
            a.first {
                padding: 0px 20px;
                background: #c44e38;
                line-height: 32px;
                color: #fff;
                font-weight: bold;
                transform: all 0.5s;
                margin-right: 15px;
                i {
                    margin: 0px;
                    padding: 0px;
                    line-height: 31px;
                    display: inline-block;
                    height: 31px;
                    vertical-align: middle;
                    font-size: 20px;
                }
            }
            .breadcrumb-item-first::before {
                display: none;
            }
            a.first:hover {
                color: #fff;
                background: #883526;
            }
        }
    }
}

.global-page > .row {
    margin-bottom: 0;
}


/*
* md switch color
*/

md-switch.md-default-theme.md-checked .md-thumb,
md-switch.md-checked .md-thumb {
    background-color: #16a085;
}

md-switch.md-default-theme.md-checked .md-bar,
md-switch.md-checked .md-bar {
    background-color: rgb(120, 144, 156);
}


/*
* form input margin bottom
*/

form {
    .input-field {
        input {}
    }
    .errors {
        span {
            font-size: 13px;
            color: #c0392b;
        }
    }
}

.avatar {
    background-size: cover !important;
}


/*
* Simple Pagination
*/

simple-pagination {
    display: inline-block;
    ul {
        li:first-child,
        li:last-child {
            outline: none;
            a {
                color: #fff;
            }
        }
    }
}


/*
* Application paginator
*/

.application-paginator {
    ul {
        overflow: hiddens;
        display: inline-block;
        li {
            display: inline-block;
            float: left;
            line-height: 25px;
        }
        li:first-child,
        li:last-child {
            a {
                font-size: 25px;
                cursor: pointer;
                color: #333;
                &:hover {
                    color: #039be5;
                }
            }
        }
        li:first-child {
            margin-right: 5px;
        }
        li:last-child {
            margin-left: 5px;
        }
        li:nth-child(2) {
            font-size: 13px;
            color: #333;
        }
    }
}

button {
    .icon-pending {
        display: none;
        -webkit-animation: spin 1s linear infinite;
        -moz-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
    }
    @-moz-keyframes spin {
        100% {
            -moz-transform: rotate(-360deg);
        }
    }
    @-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(-360deg);
        }
    }
    @keyframes spin {
        100% {
            -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
        }
    }
}

button.disabled {
    .material-icons {
        display: none;
    }
    .material-icons.icon-pending {
        display: inline-block;
    }
}

md-toolbar {
    min-height: 40px;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
    background-color: #fff!important;
    color: #555555;
}

trix-toolbar {
    background: #fff;
    .button_groups {
        border: 1px solid #9e9e9e;
        padding: 0px;
        border-bottom: none;
        line-height: 10px;
        .button_group {
            border: none;
            margin: 0px;
            padding: 0px;
            border-radius: 0px;
            button {
                border-bottom: none;
            }
            button.active {
                background: #c44e38;
            }
        }
    }
}

trix-editor {
    border-radius: 0px;
    border: 1px solid #9e9e9e;
}

trix-editor:focus {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

.no-padding {
    padding: 0!important;
}

.uppercase {
    text-transform: uppercase !important;
}

.no-margin {
    margin: 0!important;
}

.no-margin-bottom {
    margin-bottom: 0!important;
}

%login-form {
    /*margin-top: 50px;*/
    form {
        .row {
            margin-bottom: 10px;
            md-input-container.col {
                padding-left: 0px;
                margin: 0px;
                label.active {
                    color: #26a69a!important;
                }
                input {
                    height: 50px;
                    margin-bottom: 0px;
                }
            }
            .form-links {
                margin-top: 0px;
                margin-bottom: 20px;
                overflow: auto;
                .form-links-item {
                    display: inline-block;
                }
            }
        }
    }
}

.menu-main-top {
    margin: auto;
}

.fade.ng-enter,
.fade.ng-hide {
    transition: 0.5s linear all;
    opacity: 0;
}

.fade.ng-enter.ng-enter-active {
    opacity: 1;
}

.container-bt {
    margin-bottom: 0px;
}

%display-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

%bg-button {
    background-color: #c44e38;
    font-weight: bold;
}

@mixin align-item($align) {
    -webkit-align-items: $align;
    -ms-flex-align: $align;
    align-items: $align;
}

@mixin rotate($deg) {
    -ms-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin gradient($start-color, $end-color) {
    background: -webkit-linear-gradient($start-color, $end-color);
    background: -o-linear-gradient($start-color, $end-color);
    background: -moz-linear-gradient($start-color, $end-color);
    background: linear-gradient($start-color, $end-color);
}

@mixin box-shadow($box-shadow) {
    -moz-box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

.box-gray {
    background-color: #f7f7f7;
    padding-top: 25px;
    margin-top: 2px;
}

.text-justify {
    text-align: justify;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-transform-none {
    text-transform: none;
}


/** PAGINATION */

.pagination {
    li.active {
        background-color: #00b22d;
    }
    li {
        font-size: 0.9rem;
    }
}

%job {
    .img-thumbnail {
        padding: 0.15rem;
        img {
            max-width: 100%;
        }
    }
    .content {
        .row {
            margin-bottom: 0px;
        }
        .shift {
            overflow: auto;
            border: 1px dashed #eee;
            margin-bottom: 10px;
            padding: 5px;
            .shift-title {
                p {
                    overflow: hidden;
                    display: inline-block;
                }
                .shift-status-icon {
                    display: inline-block;
                    float: right;
                    i.material-icons {
                        color: #27ae60;
                        font-size: 18px;
                        vertical-align: middle;
                        cursor: pointer;
                    }
                    i.text-black {
                        color: #000!important;
                    }
                }
            }
        }
        .title {
            font-size: 1.1rem;
            margin-top: 0px;
            color: #c44e38;
            i.material-icons {
                font-size: 15px;
                vertical-align: middle;
            }
        }
        .time-recr {
            font-size: 13px;
        }
        .user-er {
            hr {
                border: 0px;
                border-top: 1px solid #ddd;
                border-style: dotted;
            }
            .user {
                padding-left: 0px;
                .image {
                    width: 40px;
                    height: 40px;
                    float: left;
                    border-radius: 100%;
                    background-size: cover;
                    img {
                        width: 100%;
                    }
                }
                .name-er {
                    width: calc(100% - 40px);
                    p {
                        margin: 0px;
                        padding-left: 5px;
                        line-height: 18px;
                    }
                }
            }
            .application {
                .btn {
                    background: none;
                    border: 1px solid #c44e38;
                    color: #c44e38;
                    padding: 0 0.5rem;
                }
            }
        }
        .job-manage-actions {
            button {
                background: #ddd;
                box-shadow: none;
                border-radius: 0px;
                &:hover {
                    background: #c44e38;
                }
            }
        }
    }
}
