.create-job-page {
    @extend %card;
    .title {
        color: #c44e38;
    }
    .shifts {
        p {
            padding-left: 10px;
        }
        a {
            margin-left: 10px;
            font-size: 12px;
        }
        .shift {
            md-input-container {
                label {
                    margin-left: 10px;
                }
                input {
                    height: 40px;
                    margin-bottom: 0px;
                }
            }
            .shift_description {
                margin-bottom: 15px;
            }
            overflow: auto;
            .delete-btn {
                a {
                    margin: 25px 0px 0px 0px;
                    padding: 0px 10px;
                }
            }
        }
        .add-more-shift-btn {
            a {
                padding-left: 0px;
            }
        }
    }
    .nf-drop-zone {
        min-height: 100px;
        overflow: auto;
        position: relative;
        border: 2px dashed #ddd;
        padding: 10px;
        cursor: pointer;
        .drop-zone-center {
            color: #ddd;
            i {
                vertical-align: middle;
                font-size: 30px;
            }
            span {
                font-size: 12px;
                font-style: italic;
            }
        }
        .job-image-preview {
            text-align: center;
            img {
                max-width: 200px;
                margin-bottom: 5px;
            }
            .edit {
                span {
                    font-style: italic;
                    font-size: 11px;
                    color: #ddd;
                }
            }
        }
    }
}

.right-column {
    .nf-geocoding {
        width: 100%;
        height: 250px;
    }
}
