$sidebar-item-height: 40px;
$er-sidebar-selected-color: none;
$er-sidebar-hover-color: #ccc;
$er-sidebar-hover-text-color: black;
$er-sidebar-text-color:#555;
$sidebar-item-icon-font-size: 24px;
$er-sidebar-hover-text-font-size: 16px;
$er-sidebar-hover-text-font-weight: 600;

#dashboard {
    .container {
        .employee-dashboard,
        .employer-dashboard {
            margin-bottom: 0px;
            #er-dashboard-sidebar {
                margin: .5rem 0 1rem;
                background: #f9f9f9;
/*                border: 1px solid #eaeaea;*/
                .er-sidebar {
                    margin: 0px;
                    padding: 0px;
                    border:none;
                    box-shadow:none;
                    .er-sidebar-item {
                        overflow: auto;
/*                        border-bottom: 1px solid #eaeaea;*/
                        .collapsible-header {
                            padding: 0px;
                            border: none;
                            i {
                                float: none;
                                line-height: $sidebar-item-height;
                                width: auto;
                                margin-right: 0px;
                            }
                        }
                        .collapsible-body {
                            border: none;
                        }

                        a {
                            color: $er-sidebar-text-color;
                            cursor: pointer;
                            overflow: hidden;
                            .icon {
                                width: 40px;
                                height: $sidebar-item-height;
                                float: left;
                                text-align: center;
                                font-size: $sidebar-item-icon-font-size;
                                i {
                                    line-height: $sidebar-item-height;
                                }
                            }
                            .menu {
                                overflow: hidden;
                                line-height: $sidebar-item-height;
                            }
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                        .submenu {
                            ul {
                                li {
                                    width: 100%;
                                    line-height: $sidebar-item-height;
                                    overflow: auto;
                                    cursor: pointer;
                                    a {
                                        display: block;
                                        padding-left: 50px;
                                    }
                                }
                                li:hover {
                                    background: $er-sidebar-hover-color;
                                    a {
                                        color: $er-sidebar-hover-text-color;
/*                                        font-size: $er-sidebar-hover-text-font-size;
                                        font-weight: $er-sidebar-hover-text-font-weight;*/
                                    }
                                }
                                li.er-navbar-item-active {
                                    a {
                                        background: $er-sidebar-selected-color;
                                        color: $er-sidebar-hover-text-color;
                                        font-size: $er-sidebar-hover-text-font-size;
                                        font-weight:$er-sidebar-hover-text-font-weight;
                                    }
                                }
                            }
                        }
                        &.er-navbar-item-active{
                            > a {
                                display: block;
                                overflow: auto;
                                background: $er-sidebar-selected-color;
                                color: $er-sidebar-hover-text-color;
                                font-size: $er-sidebar-hover-text-font-size;
                                font-weight: $er-sidebar-hover-text-font-weight;
                            }
                        }
                        &:hover {
                            > a {
                                display: block;
                                overflow: auto;
                                background: $er-sidebar-hover-color;
                                color: $er-sidebar-hover-text-color;
/*                                font-size: $er-sidebar-hover-text-font-size;
                                font-weight: $er-sidebar-hover-text-font-weight;*/
                            }
                        }
                        &.has-submenu,
                        &.has-submenu.er-navbar-item-active,
                        &.has-submenu:hover {
                            > a {
                                background: none;
                                color: $er-sidebar-text-color;
                            }
                        }
                    }
                }
            }
            .dashboard-navbar {
                .row {
                    margin-top: 10px;
                    margin-bottom: 0px;
                    ul {
                        margin: 0px;
                        padding: 0px;
                        background: #4C4C4C;
                        li {
                            padding: 10px 15px;
                            display: inline-block;
                            a {
                                color: #fff;
                            }
                        }
                        li.active {
                            background: #fff;
                            a {
                                color: #333;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .dashboard-content {
                .post-new-jobs {
                    margin-bottom: 20px;
                }
                .list-jobs {
                    margin-top: 0.5rem;
                    /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06), 0 1px 5px 0 rgba(0, 0, 0, .04);*/
                }
                .er-widget {
                    .card {
                        @extend %card;
                    }
                }
                .widget-first-job {
                    .card {
                        p {
                            margin-bottom: 20px;
                        }
                    }
                }
                .widget-last-job {
                    .job {
                        @extend %job;
                        .time-recr {
                            > div {
                                width: 100%;
                            }
                        }
                    }
                }
                .widget-complete-profile {
                    .card {
                        .card-content {
                            .progress {
                                height: 20px;
                                .determinate {
                                    color: #fff;
                                    font-size: 12px;
                                    text-align: center;
                                }
                            }
                            .right-align {
                                a {
                                    font-size: 12px;
                                    line-height: 35px;
                                }
                            }
                        }
                    }
                }
                .widget-company-profile {
                    .card {
                        .card-content {
                            .company-image {
                                img {
                                    max-width: 100%;
                                }
                            }
                            table {
                                font-size: 12px;
                            }
                            .update-company-info {
                                font-size: 12px;
                            }
                        }
                    }
                }
                .collection {
                    margin-top: 0px;
                    border-left: none;
                    border-top: none;
                }
            }
        }
        .dashboard-upcomming {
            .dashboard-navbar {
                margin-top: 10px;
                margin-bottom: 0px;
                background: #4C4C4C;
                p {
                    margin: 0px;
                    color: #fff;
                    padding: 10px;
                }
            }
            .collection {
                margin-top: 0px;
            }
        }
        .employer-dashboard {
            .list-jobs {
                background: #fff;
                overflow: auto;
                margin-bottom: 0px !important;
                padding-top: 10px;
                overflow: auto;
                .navbar-title {
                    overflow: auto;
                    margin-bottom: 10px;
                }
                .job {
                    @extends %job;
                    .content {
                        .employer-info {
                            display: none;
                        }
                    }
                }
                .job:last-child {
                    border-bottom: none;
                }
                .employer-info {
                    margin-top: 10px;
                    padding-top: 5px;
                    border-top: 1px dashed #eee;
                    p {
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
    .shift-info {
        p {
            font-size: 13px;
            color: #999
        }
    }
    simple-pagination {
        float: right;
        .pagination li.active {
            line-height: 30px;
            background: none;
        }
        ul {
            li:first-child,
            li:last-child {
                a {
                    color: #333;
                }
            }
        }
    }
}
