div[ui-view="header"] {
    .container {
        .logo-main {
            float: left;
            padding-top: 10px;
            a{
                img{
                    height: 34px;
                }
            }
        }

        .first {
            padding: 0px 20px;
            background: #c44e38;
            line-height: 32px;
            color: #fff;
            transform: all 0.5s;
            margin-right: 15px;
            i {
                margin: 0px;
                padding: 0px;
                line-height: 31px;
                display: inline-block;
                height: 31px;
                vertical-align: middle;
                font-size: 20px;
            }
        }
        .er-browse-job-link{       
            padding: 5px 30px;
            color:#c44e38;
        }
        logo-main > img {
            margin: auto;
            padding: 2px 0;
            vertical-align: middle;

        }
        logo-main > a > img {

            height: 34px;
        }
        .box-login {
            float: right;
        }
        .box-search {
            margin-top: 10px !important;
        }
        .box-login {
            margin-top: 10px;
            float: right;
            position: relative;
            .header-btn {
                padding: 0px;
                margin: 0px;
                >li {
                    display: inline-block;
                    overflow: auto;
                    float: right;
                    .notification-icon {
                        color:#c44e38;
                        display: inline-block;
                        padding: 6px 15px;
                        cursor: pointer;
                        i {
                            font-size: 24px;
                        }
                    }
                }
                >li:first-child {
                    margin-left: 0px;
                }
            }
            .login {
                margin-right: 20px;
            }
            #notification-dropdown {
                display: none;
                position: absolute;
                top: 50px;
                border-radius: 0px 0px 2px 2px;
                right: 45px;
                background: #fff;
                z-index: 10;
                .collection {
                    margin-top: 0px;
                    margin-bottom: 0px;
                    min-width: 250px;
                    max-width: 500px;
                    .collection-item {
                        font-size: 12px;
                        p,
                        a {
                            font-size: 12px;
                        }
                    }
                    .collection-item.unread-message {
                        background: #eee;
                    }
                    .collection-item.avatar {
                        .circle {
                            width: 35px;
                            height: 35px;
                            left: 5px;
                        }
                        padding-left: 45px;
                    }
                }
            }
            #notification-dropdown.active {
                display: block;
            }
            img {
                width: 42px;
                height: 42px;
            }
            .signup {
                padding-left: 10px;
                padding-right: 10px;
            }
            .user-avatar {
                width: 42px;
                float: right;
                cursor: pointer;
                outline: none;
                .col-avatar-small {
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                }
            }
            .user-dropdown.active {
                display: block;
            }
            .user-dropdown {
                position: absolute;
                right: 0px;
                top: 40px;
                width: auto;
                border-radius: 0px 0px 2px 2px;
                z-index: 9;
                display: none;
                .nickname {
                    margin: 0px;
                    font-size: 1.3em;
                }
                ul {
                    margin: 0px;
                    li {
                        overflow: auto;
                        padding: 5px;
                        .user-information {
                            padding-left: 30px;
                        }
                        &:first-child {
                            padding-top: 10px;
                        }
                        &:hover {
                            background-color: #1976D2;
                            a {
                                color: #fff;
                            }
                        }
                        a {
                            float: left;
                            text-align: left;
                            color: #333;
                            font-size: 15px;
                            line-height: 30px;
                            width: 100%;
                        }
                    }
                    .divider {
                        padding-top: 0px;
                        padding-bottom: 0px;
                    }
                }
            }
            .create-job {
                @extend %bg-button;
            }
        }
    }
}
