$inbox-border-color: #e0e0e0;
#inbox {
    overflow: auto;
    .inbox-header {
        margin-bottom: 0px;
        background: #2c3e50;
        p {
            color: #fff;
        }
    }
    .inbox-body {
        border-right: 1px solid $inbox-border-color;
        margin-bottom: 0px;
        height: 100%;
        .contacts,
        div[ui-view="messages"] {
            padding: 0px;
        }
        .contacts {
            height: 100%;
            border-left: 1px solid $inbox-border-color;
            border-right: 1px solid $inbox-border-color;
            overflow-y: scroll;
            .collection {
                border: none;
                margin-top: 0px;
                li.active {
                    background-color: #26a69a!important;
                    a {
                        color: #fff!important;
                    }
                }
                li.has-new-message {
                    background-color: #eee;
                }
            }
        }
        .nav-wrapper {
            .button-collapse {
                padding: 15px;
                font-size: 30px;
                i {
                    vertical-align: text-bottom;
                }
                span {
                    font-size: 15px;
                }
            }
            a {
                padding: 0px;
                font-size: 14px;
                height: auto;
                line-height: 22px;
                display: inline;
            }
            p {}
        }
        div[ui-view="messages"] {
            height: 100%;
            .inbox-loadmore {
                padding: 15px 0px;
                cursor: pointer;
            }
            .chatbox {
                height: 100%;
                position: relative;
                .collection {
                    border: none;
                    margin-bottom: 0px;
                }
                .messages-area {
                    overflow-y: scroll;
                    .messages {
                        .messages-collection {
                            .message-type-normal {
                                //border-bottom: 1px solid $inbox-border-color;
                                overflow: auto;
                                padding: 5px;
                                position: relative;
                                .message-image {
                                    width: 80px;
                                    float: left;
                                    text-align: center;
                                    img {
                                        width: 100%;
                                        max-width: 40px;
                                    }
                                }
                                .message-red {
                                    background-color: rgba(196, 78, 56, 0.4)!important;
                                }
                                .message-red:before {
                                    border-right-color: rgba(196, 78, 56, 0.4)!important;
                                }
                                .message-content:before {
                                    content: "";
                                    position: absolute;
                                    margin-top: -8px; // adjust position, arrow has a height of 30px. 
                                    left: 71px;
                                    border: solid 7px transparent;
                                    border-right-color: #eeeeee;
                                    z-index: 1;
                                }
                                .message-content {
                                    overflow: hidden;
                                    //padding-left: 10px;
                                    background-color: #eeeeee;
                                    border-radius: 3px;
                                    max-width: 400px;
                                    padding: 20px;
                                }
                            }
                            .message-type-mark {
                                border-bottom: 1px solid $inbox-border-color;
                                padding-bottom: 20px;
                            }
                            .progress {
                                position: absolute;
                                bottom: 0px;
                                left: 0px;
                                right: 0px;
                                height: 1px;
                                margin: 0px;
                            }
                        }
                    }
                }
                .message-box {
                    margin-bottom: 0px;
                    border-top: 1px solid $inbox-border-color;
                    position: absolute;
                    overflow: auto;
                    bottom: 0px;
                    width: 100%;
                    overflow: hidden;
                    background: #fff;
                    .row {
                        margin-bottom: 0px;
                    }
                    textarea {
                        border-bottom: none!important;
                        box-shadow: none!important;
                    }
                    .actions {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border-top: 1px solid $inbox-border-color;
                    }
                }
            }
        }
    }
}
