.box-job-page {
    background-color: #f7f7f7;
    .job-detail {
        .apply-form {
            padding-top: 10px;
            padding-bottom: 20px;
            background: #fff;
            .select-wrapper input.select-dropdown {
                margin-bottom: 0px;
            }
            md-select {
                margin-bottom: 0px;
                .md-select-value {
                    margin-top: -3px;
                    border-bottom: 1px solid #9e9e9e;
                }
            }
            trix-editor {
                min-height: 100px;
            }
        }
        p {
            margin-top: 0px;
        }
        .title {
            margin-bottom: 10px;
            h1 {
                font-size: 20px;
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }
        .bid-project {
            a {
                @extend %bg-button;
                margin-top: 15px;
            }
        }
        .form-recruitment {}
        .row {
            margin-bottom: 20px;
            .content {
                color: #333;
            }
        }
        .shortlist {
            margin-right: 15px;
            a {
                text-transform: inherit;
                padding-left: 10px;
                padding-right: 10px;
                height: 25px;
                line-height: 25px;
            }
        }
        .available {
            margin-bottom: 0px;
            .calendar-detail {
                padding: 2px;
                .row {
                    padding: 2px;
                    border-radius: 2px;
                }
                .title {
                    margin: 2px;
                }
                a {
                    display: block;
                    margin: 2px;
                    padding: 6px 10px;
                    border-radius: 3px;
                    p {
                        margin: 0px;
                    }
                }
            }
            .list-button {
                .row {
                    max-width: 450px;
                    margin: 0 auto;
                    margin-top: 20px;
                    .btn {
                        width: 20%;
                        float: left;
                        box-shadow: none;
                        text-transform: inherit;
                        padding: 0px 5px;
                        border-radius: 0px;
                        font-size: 13px;
                        i {
                            font-size: inherit;
                        }
                        &:first-child {
                            border-radius: 5px 0px 0px 5px;
                            font-weight: bold;
                            font-size: 15px;
                        }
                        &:last-child {
                            border-radius: 0px 5px 5px 0px;
                            font-weight: bold;
                            font-size: 15px;
                        }
                        span {
                            font-size: 18px;
                        }
                    }
                }
            }
            .note-shortlisted {
                span {
                    font-size: 13px;
                }
            }
            .shifts {
                .card {
                    .card-content {
                        outline: none;
                        cursor: pointer;
                        padding: 5px 10px;
                        font-size: 12px;
                        p {
                            color: #666;
                        }
                    }
/*                    .card-title {
                        padding: 5px 10px;
                        overflow: hidden;
                        p {
                            font-weight: bold;
                            margin-bottom: 0px;
                            font-size: 16px;
                        }
                        md-checkbox {
                            margin: 0px;
                            padding: 0px;
                            height: auto;
                        }
                    }*/
                }
            }
        }
    }
    .send-request {
        margin-bottom: 10px;
        span {
            font-style: italic;
            font-size: 13px;
        }
    }
    .related-box {
        .related-list {
            width: 100%;
            overflow: auto;
            .navbar-title {
                overflow: auto;
                width: 100%;
            }
            .job {
                @extend %job;
                margin-top: 15px;
                width: 100%;
                overflow: auto;
                border-bottom: 1px solid #eee;
                .employer-info {
                    p {
                        margin: 0px;
                    }
                }
            }
        }
        .title {
            h4 {
                font-size: 18px;
            }
        }
        .card {
            @extend %job;
        }
    }
    .bid-box {
        margin-bottom: 10px;
        padding: 0px;
        p {
            margin-top: 5px;
        }
        .navbar-title {
            margin-bottom: 0px;
            p {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 13px;
            }
        }
        md-switch {
            margin-top: 0px;
            display: inline-block;
        }
        .people {
            padding-bottom: 5px;
            .qualified {
                overflow: auto;
                width: 100%;
                .qualified-avatar {
                    margin-top: 10px;
                    .avatar {
                        width: 100%;
                    }
                }
                .employee-actions {
                    margin-top: 5px;
                    a {
                        display: block;
                        width: 100%;
                        cursor: pointer;
                        color: #ddd;
                        padding-left: 5px;
                        padding-right: 5px;
                        font-size: 10px;
                        i {
                            margin-right: 0px;
                        }
                    }
                }
                .qualified-information {
                    .list-description {
                        span {
                            font-size: 13px;
                            padding-right: 5px;
                        }
                        .name {
                            font-size: 17px;
                        }
                    }
                    .text-description {
                        font-size: 13px;
                        line-height: 16px;
                        margin-bottom: 20px;
                    }
                    .selected-shift {}
                }
            }
            .price {
                b {
                    font-size: 20px;
                }
                span {
                    font-size: 13px;
                }
            }
        }
    }
}
