.animate-fade {
    opacity: 1;
}

.animate-fade.ng-hide-add,
.animate-fade.ng-hide-remove {
    transition: all linear 0.5s;
}

.animate-fade.ng-hide {
    opacity: 0;
}


.animate-collapse {
    max-height: 500px;
    height: auto;
    overflow: hidden;
}

.animate-collapse.ng-hide-add,
.animate-collapse.ng-hide-remove {
    transition: all linear 0.5s;
}

.animate-collapse.ng-hide {
    max-height: 0px;
}
