#nf-notify {
    height: 0px;
    color: #FFF;
    overflow: hidden;
    @extend %display-flex;
    @include align-item(center);
    .notify-container {
        text-align: center;
        width: 100%;
        .material-icons {
            vertical-align: middle;
            font-size: 20px;
            margin-top: -2px;
            margin-right: 3px;
        }
        .notify-message {
            font-size: 14px;
        }
    }
}

#nf-notify.notify-success {
    background: #00e676;
}

#nf-notify.notify-warning {
    background: #fa9325;
}
