.profile_edit {
    .container_profile_edit {
        background: #FFF;
        padding: 20px;
        .cover-avatar {
            position: relative;
            .cover {
                background-repeat: no-repeat;
                background-size: cover;
                height: 400px;
                .cover-image {
                    width: 100%;
                }
            }
            .avatar {
                position: absolute;
                bottom: 30px;
                z-index: 3;
                color: #FFF;
                left: 30px;
                width: calc(100% - 30px);
                .avatar-container {
                    .avatar-image {
                        width: 100px;
                        height: 100px;
                    }
                    .username {
                        height: 100px;
                        line-height: 100px;
                        margin: 0;
                        margin-left: 20px;
                    }
                }
            }
        }
        .button-upload {
            width: 200px;
        }
        .col-avatar-full {
            max-width: 283px;
            max-height: 283px;
            overflow: hidden;
            border-radius: 100%;
            img {
                width: 100%;
            }
        }
        #modalEditProfile {
            .modal-title {
                background: #26a69a;
                text-align: center;
                color: #FFF;
                height: 50px;
                .title {
                    line-height: 45px;
                }
            }
            .modal-content {
                .previewAvatar {
                    img {
                        width: 200px;
                        height: 200px;
                    }
                }
                .avatar {
                    .preUploadAvatarStatus {
                        vertical-align: middle;
                        margin: 0 10px;
                    }
                }
            }
        }
        .preview-image {
            width: 40px;
            height: 40px;
        }
        .upload-resume {
            .resume-done {
                color: #26a69a;
            }
        }
        .last-position-table {
            clear: both;
        }
    }
    .vertical-middle {
        vertical-align: middle;
    }
}
