.profile {
    .profile-cover {
        background-position: center;
        background-size: cover;
        .container {
            min-height: 400px;
            position: relative;
            .user-infomation {
                overflow: auto;
                position: absolute;
                bottom: 20px;
                width: 100%;
                .avatar {
                    h5 {
                        margin: 0px 0px 0px 20px;
                        line-height: 65px;
                        color: #fff;
                        font-size: 20px;
                        text-shadow: 0 0 1px #000;
                    }
                }
                .profile-button {
                    width: 100%;
                    bottom: 30px;
                    .send-message,
                    .edit-profile {
                        position: absolute;
                        bottom: 0;
                        z-index: 3;
                    }
                    .send-message {
                        right: 30px;
                    }
                    .edit-profile {
                        right: 220px;
                    }
                }
            }
        }
    }
    .box-gray {
        padding: 0;
        margin: 0;
    }
    .profile-container {
        padding-top: 10px;
        .profile-card {
            margin-bottom: 10px;
            .card-header,
            .card-content {
                padding: 0px 20px;
                .row {
                    margin-bottom: 0px;
                }
            }
            .card-header {
                background: #1b9ce2;
                height: 40px;
                font-size: 16px;
                line-height: 40px;
                font-weight: bold;
            }
            .card-content {
                .last-positions {
                    table {
                        border: 1px solid #ddd;
                        thead {
                            tr {
                                th {
                                    font-size: 12px;
                                }
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .previous-shifts {
            .card-content {
                overflow: auto;
                padding: 0px;
                .collection {
                    margin-top: 0px;
                    border-left: none;
                    border-right: none;
                    .shift-info {
                        font-size: 11px;
                        color: #666;
                    }
                }
                .job {
                    .shift {
                        font-size: 10px;
                    }
                }
                .no-work {
                    font-size: 12px;
                    color: #9e9e9e;
                }
                simple-pagination {
                    float: right;
                    .pagination li.active {
                        line-height: 30px;
                        background-color: #fff;
                    }
                    ul {
                        li:first-child,
                        li:last-child {
                            a {
                                color: #333;
                            }
                        }
                    }
                }
            }
        }
    }
}
