%card {
    a {
        cursor: pointer;
    }
/*    .card-title {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        padding: 5px 20px;
        background-color: #c44e38 !important;
    }*/
    .card-content {
        overflow: hidden;
        .cover-preview {
            img {
                width: 100%;
            }
        }
        .row {
            md-input-container.col {
                padding-left: 0px;
                margin: 0px;
                label.active {
                    color: #26a69a!important;
                }
                input,
                md-select {
                    height: 50px;
                    margin-bottom: 0px;
                    border-bottom: 1px solid #9e9e9e;
                    md-select-value {
                        .md-text {
                            color: #333;
                            text-transform: capitalize;
                        }
                    }
                }
            }
            .upload-avatar {
                margin-bottom: 20px;
                text-align: center;
                .image-preview {
                    .user-profile-image {
                        img {
                            max-width: 100%;
                            height: 150px;
                            width: 150px;
                            border-radius: 100%;
                        }
                    }
                }
                .change-avatar-btn {
                    font-size: 12px;
                    cursor: pointer;
                    .material-icons {
                        font-size: 16px;
                        vertical-align: middle;
                    }
                }
                .dz-preview {
                    display: none;
                }
            }
        }
    }
    .card-action {
        a {
            cursor: pointer;
        }
    }
}

#update-profile {
    padding-top: 20px;
    .card {
        @extend %card;
    }
}
