#register {
    position: relative;
    /*margin-top: 50px;*/
    #choose-user-type,
    #register-form {
        position: absolute;
        width: 100%;
        top: 50px;
    }
    #choose-user-type {
        .container {
            .row {
                .col:first-child {
                    border-right: 1px solid #333;
                }
            }
        }
    }
    #register-form {
        @extend %login-form;
    }
}
