/* duplicate content from dashboard --- IMPROVE */

#search{
     .er-sidebar {
                    margin: 0px;
                    padding: 0px;
                    border:none;
                    box-shadow:none;
                    .er-sidebar-item {
                        overflow: auto;
/*                        border-bottom: 1px solid #eaeaea;*/
                        .collapsible-header {
                            padding: 0px;
                            border: none;
                            i {
                                float: none;
                                line-height: $sidebar-item-height;
                                width: auto;
                                margin-right: 0px;
                            }
                        }
                        .collapsible-body {
                            border: none;
                        }

                        a {
                            color: $er-sidebar-text-color;
                            cursor: pointer;
                            overflow: hidden;
                            .icon {
                                width: 40px;
                                height: $sidebar-item-height;
                                float: left;
                                text-align: center;
                                font-size: $sidebar-item-icon-font-size;
                                i {
                                    line-height: $sidebar-item-height;
                                }
                            }
                            .menu {
                                overflow: hidden;
                                line-height: $sidebar-item-height;
                            }
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                        .submenu {
                            ul {
                                li {
                                    width: 100%;
                                    line-height: $sidebar-item-height;
                                    overflow: auto;
                                    cursor: pointer;
                                    a {
                                        display: block;
                                        padding-left: 50px;
                                    }
                                }
                                li:hover {
                                    background: $er-sidebar-hover-color;
                                    a {
                                        color: $er-sidebar-hover-text-color;
/*                                        font-size: $er-sidebar-hover-text-font-size;
                                        font-weight: $er-sidebar-hover-text-font-weight;*/
                                    }
                                }
                                li.er-navbar-item-active {
                                    a {
                                        background: $er-sidebar-selected-color;
                                        color: $er-sidebar-hover-text-color;
                                        font-size: $er-sidebar-hover-text-font-size;
                                        font-weight:$er-sidebar-hover-text-font-weight;
                                    }
                                }
                            }
                        }
                        &.er-navbar-item-active{
                            > a {
                                display: block;
                                overflow: auto;
                                background: $er-sidebar-selected-color;
                                color: $er-sidebar-hover-text-color;
                                font-size: $er-sidebar-hover-text-font-size;
                                font-weight: $er-sidebar-hover-text-font-weight;
                            }
                        }
                        &:hover {
                            > a {
                                display: block;
                                overflow: auto;
                                background: $er-sidebar-hover-color;
                                color: $er-sidebar-hover-text-color;
/*                                font-size: $er-sidebar-hover-text-font-size;
                                font-weight: $er-sidebar-hover-text-font-weight;*/
                            }
                        }
                        &.has-submenu,
                        &.has-submenu.er-navbar-item-active,
                        &.has-submenu:hover {
                            > a {
                                background: none;
                                color: $er-sidebar-text-color;
                            }
                        }
                    }
                }
}


.search-categories {
    overflow: auto;
    height: auto;
    line-height: 35px;
    margin-bottom: 20px;
    a.button-collapse {
        i {
            line-height: 39px;
        }
    }
    ul {
        li {
            a {
                letter-spacing: -0.04em;
                padding: 0px 8px;
                color: #555555;
                font-size: 0.9rem;
                text-transform: capitalize;
                &:hover {
                    color: #000;
                    text-decoration: inherit;
                }
            }
        }
    }
}

.sub-category {
    margin-top: 6px !important;
    padding: 0px !important;
    border: 1px #eeeeee solid;
    > div {
        margin-bottom: 10px;
        background: #fff;
        .title {
            font-size: 16px;
            margin: 0px;
            padding: 12px;
            border-bottom: 1px #eeeeee solid;
            text-transform: capitalize;
        }
        ul {
            overflow: auto;
            margin: 0px;
            li {
                a {
                    display: block;
                    width: 100%;
                    color: #555555;
                    padding: 5px 5px 5px 10px;
                    border-bottom: 1px #eeeeee solid;
                    text-transform: capitalize;
                }
                &:last-child {
                    a {
                        border-bottom: none;
                    }
                }
            }
            li:hover,
            .active {
                a {
                    color: #000;
                    text-decoration: inherit;
                    background: #eeeeee;
                }
            }
        }
    }
}

.list-jobs {
    margin-bottom: 0px !important;
    overflow: auto;
    .navbar-title {
        overflow: auto;
        margin-bottom: 10px;
    }
    .job {
        @extend %job;
    }
    .job:last-child {
        border-bottom: none;
    }
    .employer-info {
        margin-top: 10px;
        margin-bottom: 20px;
        p {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}
