#application p {
  margin-top: 0px; }

#application .user {
  padding-bottom: 20px; }
  #application .user .avatar {
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px; }
    #application .user .avatar img {
      width: 65px;
      height: 65px; }
  #application .user p {
    margin: 5px 0px 10px;
    font-size: 13px; }

#application .job {
  margin: 0px 10px;
  padding: 0px 0px 15px;
  overflow: overlay; }
  #application .job .job-detail {
    border-bottom: 1px solid #ddd; }
    #application .job .job-detail .title {
      margin: 0px;
      padding: 10px; }
    #application .job .job-detail .job-name {
      padding-top: 20px;
      margin-bottom: 0px; }
    #application .job .job-detail .shift {
      overflow: hidden;
      border: 1px dashed #eee;
      margin-bottom: 10px;
      padding: 5px; }
      #application .job .job-detail .shift .row {
        margin-bottom: 0px;
        font-size: 12px; }
  #application .job .ee-infomation .row {
    margin-bottom: 10px; }
    #application .job .ee-infomation .row p {
      margin-bottom: 10px; }
  #application .job .application {
    padding-top: 15px; }
    #application .job .application .application-action .cancel {
      font-weight: 400 !important;
      margin-left: 5px; }
    #application .job .application .selected-shift {
      overflow: hidden;
      border: 1px dashed #eee;
      margin-bottom: 10px;
      padding: 5px; }
      #application .job .application .selected-shift .row {
        margin-bottom: 0px;
        font-size: 12px; }
        #application .job .application .selected-shift .row md-checkbox {
          margin-bottom: 0px; }

html {
  overflow-y: scroll !important;
  background-color: #f9f7f7; }
  html body {
    background-color: #f7f7f7; }
    html body nav {
      background-color: #fff;
      box-shadow: none; }
    html body .btn {
      background-color: #c44e38;
      color: white; }
      html body .btn .grey {
        background-color: #cccccc;
        color: white; }
    html body .btn:focus,
    html body .btn:hover {
      background-color: #B54C39; }
    html body div[ui-view="main"] {
      /*padding-top: 93px;*/
      /*            .fixed-header,
                        div[ui-view="header"] {
                            position: fixed;
                            top: 0px;
                            left: 0px;
                            right: 0px;
                            z-index: 99;
                        }*/ }
    html body footer.bottom-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
    html body .md-dialog-container {
      top: 0px !important;
      position: fixed; }
    html body .card {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.04); }
      html body .card .card-title {
        padding: 5px 10px;
        overflow: hidden;
        font-size: 15px;
        color: #fff;
        padding: 5px 20px;
        background-color: #929292 !important;
        font-weight: 400; }
        html body .card .card-title p {
          font-weight: bold;
          margin-bottom: 0px;
          font-size: 16px; }
        html body .card .card-title md-checkbox {
          margin: 0px;
          padding: 0px;
          height: auto; }
  html md-select-menu md-content md-select-label {
    text-transform: capitalize;
    color: #333; }
  html md-select-menu md-content md-option .md-text {
    text-transform: capitalize; }
  html md-select md-select-value span div {
    display: inline; }
  html md-checkbox {
    height: 50px; }
    html md-checkbox .md-label {
      line-height: 50px;
      color: #333; }
  html md-input-container textarea.md-input {
    min-height: 50px;
    border-bottom: 1px solid #9e9e9e; }
  html .notify {
    position: fixed;
    width: 100%;
    z-index: 9999999; }
    html .notify .right-align {
      float: right;
      margin-right: 5px; }
  html user-profile-image {
    display: inline-block; }
    html user-profile-image .user-profile-image img {
      background-size: cover;
      background-position: center;
      width: 65px;
      height: 65px;
      border-radius: 100%; }
  html conversation-item .conversation-item-content {
    text-align: left;
    padding-left: 5px; }

label.required:after {
  content: '*';
  padding-left: 5px; }

preloader {
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden; }

.breadcrumb::before {
  color: rgba(76, 76, 76, 0.7); }

nav.breadcrumb-navbar {
  background: #f5f5f5;
  box-shadow: none;
  border: none;
  height: auto;
  overflow: auto;
  border-top: 1px solid rgba(225, 225, 225, 0.98); }
  nav.breadcrumb-navbar .nav-wrapper > div {
    line-height: 35px; }
    nav.breadcrumb-navbar .nav-wrapper > div a {
      font-size: 12px;
      color: #4c4c4c;
      cursor: pointer;
      text-transform: capitalize; }
    nav.breadcrumb-navbar .nav-wrapper > div a[href] {
      font-weight: bold; }
    nav.breadcrumb-navbar .nav-wrapper > div a[href]:hover {
      color: #c44e38; }
    nav.breadcrumb-navbar .nav-wrapper > div a.first {
      padding: 0px 20px;
      background: #c44e38;
      line-height: 32px;
      color: #fff;
      font-weight: bold;
      transform: all 0.5s;
      margin-right: 15px; }
      nav.breadcrumb-navbar .nav-wrapper > div a.first i {
        margin: 0px;
        padding: 0px;
        line-height: 31px;
        display: inline-block;
        height: 31px;
        vertical-align: middle;
        font-size: 20px; }
    nav.breadcrumb-navbar .nav-wrapper > div .breadcrumb-item-first::before {
      display: none; }
    nav.breadcrumb-navbar .nav-wrapper > div a.first:hover {
      color: #fff;
      background: #883526; }

.global-page > .row {
  margin-bottom: 0; }

/*
* md switch color
*/
md-switch.md-default-theme.md-checked .md-thumb,
md-switch.md-checked .md-thumb {
  background-color: #16a085; }

md-switch.md-default-theme.md-checked .md-bar,
md-switch.md-checked .md-bar {
  background-color: #78909c; }

/*
* form input margin bottom
*/
form .errors span {
  font-size: 13px;
  color: #c0392b; }

.avatar {
  background-size: cover !important; }

/*
* Simple Pagination
*/
simple-pagination {
  display: inline-block; }
  simple-pagination ul li:first-child,
  simple-pagination ul li:last-child {
    outline: none; }
    simple-pagination ul li:first-child a,
    simple-pagination ul li:last-child a {
      color: #fff; }

/*
* Application paginator
*/
.application-paginator ul {
  overflow: hiddens;
  display: inline-block; }
  .application-paginator ul li {
    display: inline-block;
    float: left;
    line-height: 25px; }
  .application-paginator ul li:first-child a,
  .application-paginator ul li:last-child a {
    font-size: 25px;
    cursor: pointer;
    color: #333; }
    .application-paginator ul li:first-child a:hover,
    .application-paginator ul li:last-child a:hover {
      color: #039be5; }
  .application-paginator ul li:first-child {
    margin-right: 5px; }
  .application-paginator ul li:last-child {
    margin-left: 5px; }
  .application-paginator ul li:nth-child(2) {
    font-size: 13px;
    color: #333; }

button .icon-pending {
  display: none;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(-360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

button.disabled .material-icons {
  display: none; }

button.disabled .material-icons.icon-pending {
  display: inline-block; }

md-toolbar {
  min-height: 40px; }

md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
  background-color: #fff !important;
  color: #555555; }

trix-toolbar {
  background: #fff; }
  trix-toolbar .button_groups {
    border: 1px solid #9e9e9e;
    padding: 0px;
    border-bottom: none;
    line-height: 10px; }
    trix-toolbar .button_groups .button_group {
      border: none;
      margin: 0px;
      padding: 0px;
      border-radius: 0px; }
      trix-toolbar .button_groups .button_group button {
        border-bottom: none; }
      trix-toolbar .button_groups .button_group button.active {
        background: #c44e38; }

trix-editor {
  border-radius: 0px;
  border: 1px solid #9e9e9e; }

trix-editor:focus {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a; }

.no-padding {
  padding: 0 !important; }

.uppercase {
  text-transform: uppercase !important; }

.no-margin {
  margin: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

#login, #forgot-password,
#reset-password, #register #register-form {
  /*margin-top: 50px;*/ }
  #login form .row, #forgot-password form .row,
  #reset-password form .row, #register #register-form form .row {
    margin-bottom: 10px; }
    #login form .row md-input-container.col, #forgot-password form .row md-input-container.col,
    #reset-password form .row md-input-container.col, #register #register-form form .row md-input-container.col {
      padding-left: 0px;
      margin: 0px; }
      #login form .row md-input-container.col label.active, #forgot-password form .row md-input-container.col label.active,
      #reset-password form .row md-input-container.col label.active, #register #register-form form .row md-input-container.col label.active {
        color: #26a69a !important; }
      #login form .row md-input-container.col input, #forgot-password form .row md-input-container.col input,
      #reset-password form .row md-input-container.col input, #register #register-form form .row md-input-container.col input {
        height: 50px;
        margin-bottom: 0px; }
    #login form .row .form-links, #forgot-password form .row .form-links,
    #reset-password form .row .form-links, #register #register-form form .row .form-links {
      margin-top: 0px;
      margin-bottom: 20px;
      overflow: auto; }
      #login form .row .form-links .form-links-item, #forgot-password form .row .form-links .form-links-item,
      #reset-password form .row .form-links .form-links-item, #register #register-form form .row .form-links .form-links-item {
        display: inline-block; }

.menu-main-top {
  margin: auto; }

.fade.ng-enter,
.fade.ng-hide {
  transition: 0.5s linear all;
  opacity: 0; }

.fade.ng-enter.ng-enter-active {
  opacity: 1; }

.container-bt {
  margin-bottom: 0px; }

#nf-notify {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

#application .job .application .application-action .cancel, div[ui-view="header"] .container .box-login .create-job, .box-job-page .job-detail .bid-project a {
  background-color: #c44e38;
  font-weight: bold; }

.box-gray {
  background-color: #f7f7f7;
  padding-top: 25px;
  margin-top: 2px; }

.text-justify {
  text-align: justify; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-transform-none {
  text-transform: none; }

/** PAGINATION */
.pagination li.active {
  background-color: #00b22d; }

.pagination li {
  font-size: 0.9rem; }

#dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .img-thumbnail,
#dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .img-thumbnail, .box-job-page .related-box .related-list .job .img-thumbnail, .box-job-page .related-box .card .img-thumbnail, .list-jobs .job .img-thumbnail {
  padding: 0.15rem; }
  #dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .img-thumbnail img,
  #dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .img-thumbnail img, .box-job-page .related-box .related-list .job .img-thumbnail img, .box-job-page .related-box .card .img-thumbnail img, .list-jobs .job .img-thumbnail img {
    max-width: 100%; }

#dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .content .row,
#dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .content .row, .box-job-page .related-box .related-list .job .content .row, .box-job-page .related-box .card .content .row, .list-jobs .job .content .row {
  margin-bottom: 0px; }

#dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .content .shift,
#dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .content .shift, .box-job-page .related-box .related-list .job .content .shift, .box-job-page .related-box .card .content .shift, .list-jobs .job .content .shift {
  overflow: auto;
  border: 1px dashed #eee;
  margin-bottom: 10px;
  padding: 5px; }
  #dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .content .shift .shift-title p,
  #dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .content .shift .shift-title p, .box-job-page .related-box .related-list .job .content .shift .shift-title p, .box-job-page .related-box .card .content .shift .shift-title p, .list-jobs .job .content .shift .shift-title p {
    overflow: hidden;
    display: inline-block; }
  #dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .content .shift .shift-title .shift-status-icon,
  #dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .content .shift .shift-title .shift-status-icon, .box-job-page .related-box .related-list .job .content .shift .shift-title .shift-status-icon, .box-job-page .related-box .card .content .shift .shift-title .shift-status-icon, .list-jobs .job .content .shift .shift-title .shift-status-icon {
    display: inline-block;
    float: right; }
    #dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .content .shift .shift-title .shift-status-icon i.material-icons,
    #dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .content .shift .shift-title .shift-status-icon i.material-icons, .box-job-page .related-box .related-list .job .content .shift .shift-title .shift-status-icon i.material-icons, .box-job-page .related-box .card .content .shift .shift-title .shift-status-icon i.material-icons, .list-jobs .job .content .shift .shift-title .shift-status-icon i.material-icons {
      color: #27ae60;
      font-size: 18px;
      vertical-align: middle;
      cursor: pointer; }
    #dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .content .shift .shift-title .shift-status-icon i.text-black,
    #dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .content .shift .shift-title .shift-status-icon i.text-black, .box-job-page .related-box .related-list .job .content .shift .shift-title .shift-status-icon i.text-black, .box-job-page .related-box .card .content .shift .shift-title .shift-status-icon i.text-black, .list-jobs .job .content .shift .shift-title .shift-status-icon i.text-black {
      color: #000 !important; }

#dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .content .title,
#dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .content .title, .box-job-page .related-box .related-list .job .content .title, .box-job-page .related-box .card .content .title, .list-jobs .job .content .title {
  font-size: 1.1rem;
  margin-top: 0px;
  color: #c44e38; }
  #dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .content .title i.material-icons,
  #dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .content .title i.material-icons, .box-job-page .related-box .related-list .job .content .title i.material-icons, .box-job-page .related-box .card .content .title i.material-icons, .list-jobs .job .content .title i.material-icons {
    font-size: 15px;
    vertical-align: middle; }

#dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .content .time-recr,
#dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .content .time-recr, .box-job-page .related-box .related-list .job .content .time-recr, .box-job-page .related-box .card .content .time-recr, .list-jobs .job .content .time-recr {
  font-size: 13px; }

#dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .content .user-er hr,
#dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .content .user-er hr, .box-job-page .related-box .related-list .job .content .user-er hr, .box-job-page .related-box .card .content .user-er hr, .list-jobs .job .content .user-er hr {
  border: 0px;
  border-top: 1px solid #ddd;
  border-style: dotted; }

#dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .content .user-er .user,
#dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .content .user-er .user, .box-job-page .related-box .related-list .job .content .user-er .user, .box-job-page .related-box .card .content .user-er .user, .list-jobs .job .content .user-er .user {
  padding-left: 0px; }
  #dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .content .user-er .user .image,
  #dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .content .user-er .user .image, .box-job-page .related-box .related-list .job .content .user-er .user .image, .box-job-page .related-box .card .content .user-er .user .image, .list-jobs .job .content .user-er .user .image {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 100%;
    background-size: cover; }
    #dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .content .user-er .user .image img,
    #dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .content .user-er .user .image img, .box-job-page .related-box .related-list .job .content .user-er .user .image img, .box-job-page .related-box .card .content .user-er .user .image img, .list-jobs .job .content .user-er .user .image img {
      width: 100%; }
  #dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .content .user-er .user .name-er,
  #dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .content .user-er .user .name-er, .box-job-page .related-box .related-list .job .content .user-er .user .name-er, .box-job-page .related-box .card .content .user-er .user .name-er, .list-jobs .job .content .user-er .user .name-er {
    width: calc(100% - 40px); }
    #dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .content .user-er .user .name-er p,
    #dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .content .user-er .user .name-er p, .box-job-page .related-box .related-list .job .content .user-er .user .name-er p, .box-job-page .related-box .card .content .user-er .user .name-er p, .list-jobs .job .content .user-er .user .name-er p {
      margin: 0px;
      padding-left: 5px;
      line-height: 18px; }

#dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .content .user-er .application .btn,
#dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .content .user-er .application .btn, .box-job-page .related-box .related-list .job .content .user-er .application .btn, .box-job-page .related-box .card .content .user-er .application .btn, .list-jobs .job .content .user-er .application .btn {
  background: none;
  border: 1px solid #c44e38;
  color: #c44e38;
  padding: 0 0.5rem; }

#dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .content .job-manage-actions button,
#dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .content .job-manage-actions button, .box-job-page .related-box .related-list .job .content .job-manage-actions button, .box-job-page .related-box .card .content .job-manage-actions button, .list-jobs .job .content .job-manage-actions button {
  background: #ddd;
  box-shadow: none;
  border-radius: 0px; }
  #dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .content .job-manage-actions button:hover,
  #dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .content .job-manage-actions button:hover, .box-job-page .related-box .related-list .job .content .job-manage-actions button:hover, .box-job-page .related-box .card .content .job-manage-actions button:hover, .list-jobs .job .content .job-manage-actions button:hover {
    background: #c44e38; }

.create-job-page .title {
  color: #c44e38; }

.create-job-page .shifts p {
  padding-left: 10px; }

.create-job-page .shifts a {
  margin-left: 10px;
  font-size: 12px; }

.create-job-page .shifts .shift {
  overflow: auto; }
  .create-job-page .shifts .shift md-input-container label {
    margin-left: 10px; }
  .create-job-page .shifts .shift md-input-container input {
    height: 40px;
    margin-bottom: 0px; }
  .create-job-page .shifts .shift .shift_description {
    margin-bottom: 15px; }
  .create-job-page .shifts .shift .delete-btn a {
    margin: 25px 0px 0px 0px;
    padding: 0px 10px; }

.create-job-page .shifts .add-more-shift-btn a {
  padding-left: 0px; }

.create-job-page .nf-drop-zone {
  min-height: 100px;
  overflow: auto;
  position: relative;
  border: 2px dashed #ddd;
  padding: 10px;
  cursor: pointer; }
  .create-job-page .nf-drop-zone .drop-zone-center {
    color: #ddd; }
    .create-job-page .nf-drop-zone .drop-zone-center i {
      vertical-align: middle;
      font-size: 30px; }
    .create-job-page .nf-drop-zone .drop-zone-center span {
      font-size: 12px;
      font-style: italic; }
  .create-job-page .nf-drop-zone .job-image-preview {
    text-align: center; }
    .create-job-page .nf-drop-zone .job-image-preview img {
      max-width: 200px;
      margin-bottom: 5px; }
    .create-job-page .nf-drop-zone .job-image-preview .edit span {
      font-style: italic;
      font-size: 11px;
      color: #ddd; }

.right-column .nf-geocoding {
  width: 100%;
  height: 250px; }

#dashboard .container .employee-dashboard,
#dashboard .container .employer-dashboard {
  margin-bottom: 0px; }
  #dashboard .container .employee-dashboard #er-dashboard-sidebar,
  #dashboard .container .employer-dashboard #er-dashboard-sidebar {
    margin: .5rem 0 1rem;
    background: #f9f9f9;
    /*                border: 1px solid #eaeaea;*/ }
    #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar,
    #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar {
      margin: 0px;
      padding: 0px;
      border: none;
      box-shadow: none; }
      #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item,
      #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item {
        overflow: auto;
        /*                        border-bottom: 1px solid #eaeaea;*/ }
        #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item .collapsible-header,
        #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item .collapsible-header {
          padding: 0px;
          border: none; }
          #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item .collapsible-header i,
          #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item .collapsible-header i {
            float: none;
            line-height: 40px;
            width: auto;
            margin-right: 0px; }
        #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item .collapsible-body,
        #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item .collapsible-body {
          border: none; }
        #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item a,
        #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item a {
          color: #555;
          cursor: pointer;
          overflow: hidden; }
          #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item a .icon,
          #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item a .icon {
            width: 40px;
            height: 40px;
            float: left;
            text-align: center;
            font-size: 24px; }
            #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item a .icon i,
            #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item a .icon i {
              line-height: 40px; }
          #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item a .menu,
          #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item a .menu {
            overflow: hidden;
            line-height: 40px; }
        #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item:last-child,
        #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item:last-child {
          border-bottom: none; }
        #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item .submenu ul li,
        #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item .submenu ul li {
          width: 100%;
          line-height: 40px;
          overflow: auto;
          cursor: pointer; }
          #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item .submenu ul li a,
          #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item .submenu ul li a {
            display: block;
            padding-left: 50px; }
        #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item .submenu ul li:hover,
        #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item .submenu ul li:hover {
          background: #ccc; }
          #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item .submenu ul li:hover a,
          #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item .submenu ul li:hover a {
            color: black;
            /*                                        font-size: $er-sidebar-hover-text-font-size;
                                        font-weight: $er-sidebar-hover-text-font-weight;*/ }
        #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item .submenu ul li.er-navbar-item-active a,
        #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item .submenu ul li.er-navbar-item-active a {
          background: none;
          color: black;
          font-size: 16px;
          font-weight: 600; }
        #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item.er-navbar-item-active > a,
        #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item.er-navbar-item-active > a {
          display: block;
          overflow: auto;
          background: none;
          color: black;
          font-size: 16px;
          font-weight: 600; }
        #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item:hover > a,
        #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item:hover > a {
          display: block;
          overflow: auto;
          background: #ccc;
          color: black;
          /*                                font-size: $er-sidebar-hover-text-font-size;
                                font-weight: $er-sidebar-hover-text-font-weight;*/ }
        #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item.has-submenu > a, #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item.has-submenu.er-navbar-item-active > a, #dashboard .container .employee-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item.has-submenu:hover > a,
        #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item.has-submenu > a,
        #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item.has-submenu.er-navbar-item-active > a,
        #dashboard .container .employer-dashboard #er-dashboard-sidebar .er-sidebar .er-sidebar-item.has-submenu:hover > a {
          background: none;
          color: #555; }
  #dashboard .container .employee-dashboard .dashboard-navbar .row,
  #dashboard .container .employer-dashboard .dashboard-navbar .row {
    margin-top: 10px;
    margin-bottom: 0px; }
    #dashboard .container .employee-dashboard .dashboard-navbar .row ul,
    #dashboard .container .employer-dashboard .dashboard-navbar .row ul {
      margin: 0px;
      padding: 0px;
      background: #4C4C4C; }
      #dashboard .container .employee-dashboard .dashboard-navbar .row ul li,
      #dashboard .container .employer-dashboard .dashboard-navbar .row ul li {
        padding: 10px 15px;
        display: inline-block; }
        #dashboard .container .employee-dashboard .dashboard-navbar .row ul li a,
        #dashboard .container .employer-dashboard .dashboard-navbar .row ul li a {
          color: #fff; }
      #dashboard .container .employee-dashboard .dashboard-navbar .row ul li.active,
      #dashboard .container .employer-dashboard .dashboard-navbar .row ul li.active {
        background: #fff; }
        #dashboard .container .employee-dashboard .dashboard-navbar .row ul li.active a,
        #dashboard .container .employer-dashboard .dashboard-navbar .row ul li.active a {
          color: #333;
          font-weight: bold; }
  #dashboard .container .employee-dashboard .dashboard-content .post-new-jobs,
  #dashboard .container .employer-dashboard .dashboard-content .post-new-jobs {
    margin-bottom: 20px; }
  #dashboard .container .employee-dashboard .dashboard-content .list-jobs,
  #dashboard .container .employer-dashboard .dashboard-content .list-jobs {
    margin-top: 0.5rem;
    /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06), 0 1px 5px 0 rgba(0, 0, 0, .04);*/ }
  #dashboard .container .employee-dashboard .dashboard-content .widget-first-job .card p,
  #dashboard .container .employer-dashboard .dashboard-content .widget-first-job .card p {
    margin-bottom: 20px; }
  #dashboard .container .employee-dashboard .dashboard-content .widget-last-job .job .time-recr > div,
  #dashboard .container .employer-dashboard .dashboard-content .widget-last-job .job .time-recr > div {
    width: 100%; }
  #dashboard .container .employee-dashboard .dashboard-content .widget-complete-profile .card .card-content .progress,
  #dashboard .container .employer-dashboard .dashboard-content .widget-complete-profile .card .card-content .progress {
    height: 20px; }
    #dashboard .container .employee-dashboard .dashboard-content .widget-complete-profile .card .card-content .progress .determinate,
    #dashboard .container .employer-dashboard .dashboard-content .widget-complete-profile .card .card-content .progress .determinate {
      color: #fff;
      font-size: 12px;
      text-align: center; }
  #dashboard .container .employee-dashboard .dashboard-content .widget-complete-profile .card .card-content .right-align a,
  #dashboard .container .employer-dashboard .dashboard-content .widget-complete-profile .card .card-content .right-align a {
    font-size: 12px;
    line-height: 35px; }
  #dashboard .container .employee-dashboard .dashboard-content .widget-company-profile .card .card-content .company-image img,
  #dashboard .container .employer-dashboard .dashboard-content .widget-company-profile .card .card-content .company-image img {
    max-width: 100%; }
  #dashboard .container .employee-dashboard .dashboard-content .widget-company-profile .card .card-content table,
  #dashboard .container .employer-dashboard .dashboard-content .widget-company-profile .card .card-content table {
    font-size: 12px; }
  #dashboard .container .employee-dashboard .dashboard-content .widget-company-profile .card .card-content .update-company-info,
  #dashboard .container .employer-dashboard .dashboard-content .widget-company-profile .card .card-content .update-company-info {
    font-size: 12px; }
  #dashboard .container .employee-dashboard .dashboard-content .collection,
  #dashboard .container .employer-dashboard .dashboard-content .collection {
    margin-top: 0px;
    border-left: none;
    border-top: none; }

#dashboard .container .dashboard-upcomming .dashboard-navbar {
  margin-top: 10px;
  margin-bottom: 0px;
  background: #4C4C4C; }
  #dashboard .container .dashboard-upcomming .dashboard-navbar p {
    margin: 0px;
    color: #fff;
    padding: 10px; }

#dashboard .container .dashboard-upcomming .collection {
  margin-top: 0px; }

#dashboard .container .employer-dashboard .list-jobs {
  background: #fff;
  overflow: auto;
  margin-bottom: 0px !important;
  padding-top: 10px;
  overflow: auto; }
  #dashboard .container .employer-dashboard .list-jobs .navbar-title {
    overflow: auto;
    margin-bottom: 10px; }
  #dashboard .container .employer-dashboard .list-jobs .job {
    @extends %job; }
    #dashboard .container .employer-dashboard .list-jobs .job .content .employer-info {
      display: none; }
  #dashboard .container .employer-dashboard .list-jobs .job:last-child {
    border-bottom: none; }
  #dashboard .container .employer-dashboard .list-jobs .employer-info {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px dashed #eee; }
    #dashboard .container .employer-dashboard .list-jobs .employer-info p {
      margin-top: 0px;
      margin-bottom: 0px; }

#dashboard .shift-info p {
  font-size: 13px;
  color: #999; }

#dashboard simple-pagination {
  float: right; }
  #dashboard simple-pagination .pagination li.active {
    line-height: 30px;
    background: none; }
  #dashboard simple-pagination ul li:first-child a,
  #dashboard simple-pagination ul li:last-child a {
    color: #333; }

footer .container {
  width: 100%;
  max-width: 1240px; }

div[ui-view="header"] .container .logo-main {
  float: left;
  padding-top: 10px; }
  div[ui-view="header"] .container .logo-main a img {
    height: 34px; }

div[ui-view="header"] .container .first {
  padding: 0px 20px;
  background: #c44e38;
  line-height: 32px;
  color: #fff;
  transform: all 0.5s;
  margin-right: 15px; }
  div[ui-view="header"] .container .first i {
    margin: 0px;
    padding: 0px;
    line-height: 31px;
    display: inline-block;
    height: 31px;
    vertical-align: middle;
    font-size: 20px; }

div[ui-view="header"] .container .er-browse-job-link {
  padding: 5px 30px;
  color: #c44e38; }

div[ui-view="header"] .container logo-main > img {
  margin: auto;
  padding: 2px 0;
  vertical-align: middle; }

div[ui-view="header"] .container logo-main > a > img {
  height: 34px; }

div[ui-view="header"] .container .box-login {
  float: right; }

div[ui-view="header"] .container .box-search {
  margin-top: 10px !important; }

div[ui-view="header"] .container .box-login {
  margin-top: 10px;
  float: right;
  position: relative; }
  div[ui-view="header"] .container .box-login .header-btn {
    padding: 0px;
    margin: 0px; }
    div[ui-view="header"] .container .box-login .header-btn > li {
      display: inline-block;
      overflow: auto;
      float: right; }
      div[ui-view="header"] .container .box-login .header-btn > li .notification-icon {
        color: #c44e38;
        display: inline-block;
        padding: 6px 15px;
        cursor: pointer; }
        div[ui-view="header"] .container .box-login .header-btn > li .notification-icon i {
          font-size: 24px; }
    div[ui-view="header"] .container .box-login .header-btn > li:first-child {
      margin-left: 0px; }
  div[ui-view="header"] .container .box-login .login {
    margin-right: 20px; }
  div[ui-view="header"] .container .box-login #notification-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    border-radius: 0px 0px 2px 2px;
    right: 45px;
    background: #fff;
    z-index: 10; }
    div[ui-view="header"] .container .box-login #notification-dropdown .collection {
      margin-top: 0px;
      margin-bottom: 0px;
      min-width: 250px;
      max-width: 500px; }
      div[ui-view="header"] .container .box-login #notification-dropdown .collection .collection-item {
        font-size: 12px; }
        div[ui-view="header"] .container .box-login #notification-dropdown .collection .collection-item p,
        div[ui-view="header"] .container .box-login #notification-dropdown .collection .collection-item a {
          font-size: 12px; }
      div[ui-view="header"] .container .box-login #notification-dropdown .collection .collection-item.unread-message {
        background: #eee; }
      div[ui-view="header"] .container .box-login #notification-dropdown .collection .collection-item.avatar {
        padding-left: 45px; }
        div[ui-view="header"] .container .box-login #notification-dropdown .collection .collection-item.avatar .circle {
          width: 35px;
          height: 35px;
          left: 5px; }
  div[ui-view="header"] .container .box-login #notification-dropdown.active {
    display: block; }
  div[ui-view="header"] .container .box-login img {
    width: 42px;
    height: 42px; }
  div[ui-view="header"] .container .box-login .signup {
    padding-left: 10px;
    padding-right: 10px; }
  div[ui-view="header"] .container .box-login .user-avatar {
    width: 42px;
    float: right;
    cursor: pointer;
    outline: none; }
    div[ui-view="header"] .container .box-login .user-avatar .col-avatar-small {
      width: 42px;
      height: 42px;
      border-radius: 50%; }
  div[ui-view="header"] .container .box-login .user-dropdown.active {
    display: block; }
  div[ui-view="header"] .container .box-login .user-dropdown {
    position: absolute;
    right: 0px;
    top: 40px;
    width: auto;
    border-radius: 0px 0px 2px 2px;
    z-index: 9;
    display: none; }
    div[ui-view="header"] .container .box-login .user-dropdown .nickname {
      margin: 0px;
      font-size: 1.3em; }
    div[ui-view="header"] .container .box-login .user-dropdown ul {
      margin: 0px; }
      div[ui-view="header"] .container .box-login .user-dropdown ul li {
        overflow: auto;
        padding: 5px; }
        div[ui-view="header"] .container .box-login .user-dropdown ul li .user-information {
          padding-left: 30px; }
        div[ui-view="header"] .container .box-login .user-dropdown ul li:first-child {
          padding-top: 10px; }
        div[ui-view="header"] .container .box-login .user-dropdown ul li:hover {
          background-color: #1976D2; }
          div[ui-view="header"] .container .box-login .user-dropdown ul li:hover a {
            color: #fff; }
        div[ui-view="header"] .container .box-login .user-dropdown ul li a {
          float: left;
          text-align: left;
          color: #333;
          font-size: 15px;
          line-height: 30px;
          width: 100%; }
      div[ui-view="header"] .container .box-login .user-dropdown ul .divider {
        padding-top: 0px;
        padding-bottom: 0px; }

#inbox {
  overflow: auto; }
  #inbox .inbox-header {
    margin-bottom: 0px;
    background: #2c3e50; }
    #inbox .inbox-header p {
      color: #fff; }
  #inbox .inbox-body {
    border-right: 1px solid #e0e0e0;
    margin-bottom: 0px;
    height: 100%; }
    #inbox .inbox-body .contacts,
    #inbox .inbox-body div[ui-view="messages"] {
      padding: 0px; }
    #inbox .inbox-body .contacts {
      height: 100%;
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      overflow-y: scroll; }
      #inbox .inbox-body .contacts .collection {
        border: none;
        margin-top: 0px; }
        #inbox .inbox-body .contacts .collection li.active {
          background-color: #26a69a !important; }
          #inbox .inbox-body .contacts .collection li.active a {
            color: #fff !important; }
        #inbox .inbox-body .contacts .collection li.has-new-message {
          background-color: #eee; }
    #inbox .inbox-body .nav-wrapper .button-collapse {
      padding: 15px;
      font-size: 30px; }
      #inbox .inbox-body .nav-wrapper .button-collapse i {
        vertical-align: text-bottom; }
      #inbox .inbox-body .nav-wrapper .button-collapse span {
        font-size: 15px; }
    #inbox .inbox-body .nav-wrapper a {
      padding: 0px;
      font-size: 14px;
      height: auto;
      line-height: 22px;
      display: inline; }
    #inbox .inbox-body div[ui-view="messages"] {
      height: 100%; }
      #inbox .inbox-body div[ui-view="messages"] .inbox-loadmore {
        padding: 15px 0px;
        cursor: pointer; }
      #inbox .inbox-body div[ui-view="messages"] .chatbox {
        height: 100%;
        position: relative; }
        #inbox .inbox-body div[ui-view="messages"] .chatbox .collection {
          border: none;
          margin-bottom: 0px; }
        #inbox .inbox-body div[ui-view="messages"] .chatbox .messages-area {
          overflow-y: scroll; }
          #inbox .inbox-body div[ui-view="messages"] .chatbox .messages-area .messages .messages-collection .message-type-normal {
            overflow: auto;
            padding: 5px;
            position: relative; }
            #inbox .inbox-body div[ui-view="messages"] .chatbox .messages-area .messages .messages-collection .message-type-normal .message-image {
              width: 80px;
              float: left;
              text-align: center; }
              #inbox .inbox-body div[ui-view="messages"] .chatbox .messages-area .messages .messages-collection .message-type-normal .message-image img {
                width: 100%;
                max-width: 40px; }
            #inbox .inbox-body div[ui-view="messages"] .chatbox .messages-area .messages .messages-collection .message-type-normal .message-red {
              background-color: rgba(196, 78, 56, 0.4) !important; }
            #inbox .inbox-body div[ui-view="messages"] .chatbox .messages-area .messages .messages-collection .message-type-normal .message-red:before {
              border-right-color: rgba(196, 78, 56, 0.4) !important; }
            #inbox .inbox-body div[ui-view="messages"] .chatbox .messages-area .messages .messages-collection .message-type-normal .message-content:before {
              content: "";
              position: absolute;
              margin-top: -8px;
              left: 71px;
              border: solid 7px transparent;
              border-right-color: #eeeeee;
              z-index: 1; }
            #inbox .inbox-body div[ui-view="messages"] .chatbox .messages-area .messages .messages-collection .message-type-normal .message-content {
              overflow: hidden;
              background-color: #eeeeee;
              border-radius: 3px;
              max-width: 400px;
              padding: 20px; }
          #inbox .inbox-body div[ui-view="messages"] .chatbox .messages-area .messages .messages-collection .message-type-mark {
            border-bottom: 1px solid #e0e0e0;
            padding-bottom: 20px; }
          #inbox .inbox-body div[ui-view="messages"] .chatbox .messages-area .messages .messages-collection .progress {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            height: 1px;
            margin: 0px; }
        #inbox .inbox-body div[ui-view="messages"] .chatbox .message-box {
          margin-bottom: 0px;
          border-top: 1px solid #e0e0e0;
          position: absolute;
          overflow: auto;
          bottom: 0px;
          width: 100%;
          overflow: hidden;
          background: #fff; }
          #inbox .inbox-body div[ui-view="messages"] .chatbox .message-box .row {
            margin-bottom: 0px; }
          #inbox .inbox-body div[ui-view="messages"] .chatbox .message-box textarea {
            border-bottom: none !important;
            box-shadow: none !important; }
          #inbox .inbox-body div[ui-view="messages"] .chatbox .message-box .actions {
            padding-top: 10px;
            padding-bottom: 10px;
            border-top: 1px solid #e0e0e0; }

.box-job-page {
  background-color: #f7f7f7; }
  .box-job-page .job-detail .apply-form {
    padding-top: 10px;
    padding-bottom: 20px;
    background: #fff; }
    .box-job-page .job-detail .apply-form .select-wrapper input.select-dropdown {
      margin-bottom: 0px; }
    .box-job-page .job-detail .apply-form md-select {
      margin-bottom: 0px; }
      .box-job-page .job-detail .apply-form md-select .md-select-value {
        margin-top: -3px;
        border-bottom: 1px solid #9e9e9e; }
    .box-job-page .job-detail .apply-form trix-editor {
      min-height: 100px; }
  .box-job-page .job-detail p {
    margin-top: 0px; }
  .box-job-page .job-detail .title {
    margin-bottom: 10px; }
    .box-job-page .job-detail .title h1 {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 10px; }
  .box-job-page .job-detail .bid-project a {
    margin-top: 15px; }
  .box-job-page .job-detail .row {
    margin-bottom: 20px; }
    .box-job-page .job-detail .row .content {
      color: #333; }
  .box-job-page .job-detail .shortlist {
    margin-right: 15px; }
    .box-job-page .job-detail .shortlist a {
      text-transform: inherit;
      padding-left: 10px;
      padding-right: 10px;
      height: 25px;
      line-height: 25px; }
  .box-job-page .job-detail .available {
    margin-bottom: 0px; }
    .box-job-page .job-detail .available .calendar-detail {
      padding: 2px; }
      .box-job-page .job-detail .available .calendar-detail .row {
        padding: 2px;
        border-radius: 2px; }
      .box-job-page .job-detail .available .calendar-detail .title {
        margin: 2px; }
      .box-job-page .job-detail .available .calendar-detail a {
        display: block;
        margin: 2px;
        padding: 6px 10px;
        border-radius: 3px; }
        .box-job-page .job-detail .available .calendar-detail a p {
          margin: 0px; }
    .box-job-page .job-detail .available .list-button .row {
      max-width: 450px;
      margin: 0 auto;
      margin-top: 20px; }
      .box-job-page .job-detail .available .list-button .row .btn {
        width: 20%;
        float: left;
        box-shadow: none;
        text-transform: inherit;
        padding: 0px 5px;
        border-radius: 0px;
        font-size: 13px; }
        .box-job-page .job-detail .available .list-button .row .btn i {
          font-size: inherit; }
        .box-job-page .job-detail .available .list-button .row .btn:first-child {
          border-radius: 5px 0px 0px 5px;
          font-weight: bold;
          font-size: 15px; }
        .box-job-page .job-detail .available .list-button .row .btn:last-child {
          border-radius: 0px 5px 5px 0px;
          font-weight: bold;
          font-size: 15px; }
        .box-job-page .job-detail .available .list-button .row .btn span {
          font-size: 18px; }
    .box-job-page .job-detail .available .note-shortlisted span {
      font-size: 13px; }
    .box-job-page .job-detail .available .shifts .card {
      /*                    .card-title {
                        padding: 5px 10px;
                        overflow: hidden;
                        p {
                            font-weight: bold;
                            margin-bottom: 0px;
                            font-size: 16px;
                        }
                        md-checkbox {
                            margin: 0px;
                            padding: 0px;
                            height: auto;
                        }
                    }*/ }
      .box-job-page .job-detail .available .shifts .card .card-content {
        outline: none;
        cursor: pointer;
        padding: 5px 10px;
        font-size: 12px; }
        .box-job-page .job-detail .available .shifts .card .card-content p {
          color: #666; }
  .box-job-page .send-request {
    margin-bottom: 10px; }
    .box-job-page .send-request span {
      font-style: italic;
      font-size: 13px; }
  .box-job-page .related-box .related-list {
    width: 100%;
    overflow: auto; }
    .box-job-page .related-box .related-list .navbar-title {
      overflow: auto;
      width: 100%; }
    .box-job-page .related-box .related-list .job {
      margin-top: 15px;
      width: 100%;
      overflow: auto;
      border-bottom: 1px solid #eee; }
      .box-job-page .related-box .related-list .job .employer-info p {
        margin: 0px; }
  .box-job-page .related-box .title h4 {
    font-size: 18px; }
  .box-job-page .bid-box {
    margin-bottom: 10px;
    padding: 0px; }
    .box-job-page .bid-box p {
      margin-top: 5px; }
    .box-job-page .bid-box .navbar-title {
      margin-bottom: 0px; }
      .box-job-page .bid-box .navbar-title p {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px; }
    .box-job-page .bid-box md-switch {
      margin-top: 0px;
      display: inline-block; }
    .box-job-page .bid-box .people {
      padding-bottom: 5px; }
      .box-job-page .bid-box .people .qualified {
        overflow: auto;
        width: 100%; }
        .box-job-page .bid-box .people .qualified .qualified-avatar {
          margin-top: 10px; }
          .box-job-page .bid-box .people .qualified .qualified-avatar .avatar {
            width: 100%; }
        .box-job-page .bid-box .people .qualified .employee-actions {
          margin-top: 5px; }
          .box-job-page .bid-box .people .qualified .employee-actions a {
            display: block;
            width: 100%;
            cursor: pointer;
            color: #ddd;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 10px; }
            .box-job-page .bid-box .people .qualified .employee-actions a i {
              margin-right: 0px; }
        .box-job-page .bid-box .people .qualified .qualified-information .list-description span {
          font-size: 13px;
          padding-right: 5px; }
        .box-job-page .bid-box .people .qualified .qualified-information .list-description .name {
          font-size: 17px; }
        .box-job-page .bid-box .people .qualified .qualified-information .text-description {
          font-size: 13px;
          line-height: 16px;
          margin-bottom: 20px; }
      .box-job-page .bid-box .people .price b {
        font-size: 20px; }
      .box-job-page .bid-box .people .price span {
        font-size: 13px; }

#login {
  margin-top: 50px; }

/*===========================Font================================*/
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf); }

body {
  font-family: Roboto, sans-serif;
  color: #333; }

/*===========================Header Start================================*/
header {
  background: url(../images/background.jpg) no-repeat center center/cover; }

header .header_top .navbar-brand img {
  width: 100%; }

header .header_top .navbar-default {
  background-color: transparent;
  border-color: transparent; }

header .header_top .navbar {
  min-height: 80px; }

header .header_top .navbar-nav > li > a {
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

header .header_middle {
  padding-top: 115px;
  padding-bottom: 195px;
  padding-left: 18px; }

header .header_middle h1 {
  font-size: 50px;
  font-weight: bold;
  color: #c44e38; }

header .header_middle h2 {
  font-size: 48px;
  color: #4d4d4d;
  margin-bottom: 0;
  margin-top: 0; }

header .header_bottom {
  background: rgba(0, 0, 0, 0.4);
  padding-top: 27px;
  padding-bottom: 40px; }

header .header_bottom .header-bottom-content p {
  color: #fff;
  font-size: 25px; }

header .header_bottom .header-bottom-content form {
  margin-left: 14px; }

header .header_bottom .header-bottom-content .input-item {
  padding: 0 6px; }

header .header_bottom .header-bottom-content .input-item .form-group {
  background: #fff; }

header .header_bottom .header-bottom-content .input-item .form-group label {
  color: #f77f64;
  padding-left: 20px;
  padding-top: 7px; }

header .header_bottom .header-bottom-content .input-item .form-group input {
  padding-left: 20px;
  border: none;
  outline: none;
  font-size: 21px;
  color: #999999;
  font-weight: bold;
  -webkit-box-shadow: none;
  box-shadow: none; }

header .header_bottom .header-bottom-content .input-item .form-group .form-control:focus {
  border-color: #66afe9;
  outline: 0; }

header .header_bottom .header-bottom-content .input-item .btn-lg {
  padding: 20px 40px;
  border-radius: 0; }

header .header_bottom .header-bottom-content .input-item .btn-default {
  color: #fff;
  background-color: #c44e38;
  border-color: #c44e38; }

/*===========================Partners Start================================*/
#partners h2 {
  font-size: 40px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 80px; }

#partners .partners-logo {
  width: 100%;
  max-width: 1140px;
  text-align: center; }

#partners .partners-logo a {
  width: 9.11%;
  max-width: 126.66px;
  display: inline-block;
  padding-bottom: 40px; }

#partners .partners-logo a img {
  width: 100%; }

/*===========================How Ushift Works Start================================*/
#ushift-works {
  background: #e8e1da; }

#ushift-works h2 {
  font-weight: bold;
  font-size: 40px;
  color: #333;
  padding-top: 67px;
  padding-bottom: 67px; }

#ushift-works .ushift-works-item {
  padding-bottom: 100px; }

#ushift-works .ushift-works-item img {
  width: 100%;
  max-width: 360px;
  padding: 50px; }

#ushift-works .ushift-works-item h3 {
  font-weight: bold; }

#ushift-works .ushift-works-item p {
  padding: 0 15px; }

/*===========================How we're different Start================================*/
#different {
  padding-bottom: 67px; }

#different h2 {
  font-size: 40px;
  font-weight: bold;
  color: #333;
  padding-top: 67px;
  padding-bottom: 67px; }

#different .different-content .different-item {
  overflow: hidden;
  padding-bottom: 33px; }

#different .different-content .different-item .different-item-img {
  width: 20%;
  float: left;
  padding-top: 20px; }

#different .different-content .different-item .different-item-img img {
  width: 100%; }

#different .different-content .different-item .different-item-text {
  width: 80%;
  float: left;
  padding-left: 28px;
  padding-right: 28px; }

#different .different-content .different-item .different-item-text h3 {
  font-weight: bold; }

#different .different-content .different-item .different-item-text p {
  padding-right: 40px; }

/*===========================What Our Clients Say ================================*/
#testimonial {
  background: #e8e1da; }

#testimonial h2 {
  font-size: 40px;
  font-weight: bold;
  color: #333;
  padding-top: 67px;
  padding-bottom: 67px; }

#testimonial .testimonial-item {
  padding-bottom: 60px; }

#testimonial .testimonial-item p {
  padding-right: 60px; }

#testimonial .testimonial-item p i {
  font-size: 20px;
  color: #7d7a75; }

/*===========================What Do We Stand For================================*/
#stand-for {
  background: #c44e38;
  padding-bottom: 40px; }

#stand-for h2 {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  padding-top: 67px;
  padding-bottom: 67px; }

#stand-for .stand-for-item {
  padding: 0 85px;
  padding-bottom: 64px;
  color: #fff; }

#stand-for .stand-for-item h3 {
  font-weight: bold;
  padding-bottom: 11px; }

#stand-for .stand-for-item img {
  width: 100%; }

/*===========================Scroll to Top================================*/
.scrollup {
  width: 50px;
  height: 50px;
  font-size: 35px;
  color: #c44e38;
  background-color: transparent;
  text-align: center;
  display: none;
  position: fixed;
  bottom: 65px;
  right: 0px;
  z-index: 99999;
  cursor: pointer; }

/*===========================Footer================================*/
footer {
  background: #222222;
  color: #fff;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 20px; }

footer .footer-left .footer-logo img {
  width: 100%;
  max-width: 150px; }

footer .footer-left .address {
  padding-left: 13px;
  padding-top: 10px; }

footer .footer-left .address a {
  text-decoration: none;
  color: #fff; }

footer .footer-right p {
  text-align: right;
  margin-right: 50px;
  padding-top: 40px; }

footer .footer-right ul {
  float: right;
  margin-right: 24px; }

footer .footer-right ul li {
  display: inline-block;
  list-style-type: none; }

footer .footer-right ul li a {
  text-decoration: underline;
  color: #fff;
  display: block;
  padding: 2px 11px; }

/*===========================How It Works page================================*/
#howitworks h2 {
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px; }

#howitworks .employers-faq .go-staff {
  background: #c44e38; }

#howitworks .employers-faq .go-staff a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  display: block;
  padding: 21px 0; }

#howitworks .employers-faq .go-staff a i {
  padding-left: 8px; }

#howitworks .employers-faq .faq-title h2 {
  font-size: 25px;
  font-weight: bold; }

.faq-question-wrapper {
  overflow: hidden;
  padding-bottom: 60px; }

.faq-question-wrapper .question-icon {
  width: 20%;
  float: left;
  padding-top: 22px;
  text-align: center; }

.faq-question-wrapper .question-icon img {
  width: 100%;
  max-width: 111px; }

.faq-question-wrapper .question-text {
  width: 80%;
  float: left;
  padding-left: 30px; }

.faq-question-wrapper .question-text h3 {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 22px; }

.faq-question-wrapper .question-text .step {
  padding-top: 20px; }

.faq-question-wrapper .question-text .step p {
  font-size: 14px;
  padding-bottom: 8px;
  margin-bottom: 4px; }

.faq-question-wrapper .question-text .step p a {
  text-decoration: none;
  color: #c44e38; }

.faq-question-wrapper .question-text .step p.step-no {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 18px; }

/*===========================About Us Page================================*/
header#about-head {
  background: #c44e38; }

header#about-head .header_top .navbar-nav > li > a {
  color: #fff; }

header#about-head .header_middle {
  padding-top: 30px;
  padding-bottom: 92px; }

header#about-head .header_middle h1 {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  width: 100%;
  max-width: 690px; }

header#about-head .header_middle .header_middle-bottom {
  overflow: hidden;
  width: 100%;
  max-width: 690px;
  margin-top: 65px; }

header#about-head .header_middle .header_middle-bottom .middle-bottom-left {
  width: 20%;
  float: left; }

header#about-head .header_middle .header_middle-bottom .middle-bottom-left h2 {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold; }

header#about-head .header_middle .header_middle-bottom .middle-bottom-right {
  width: 80%;
  float: left;
  padding-left: 22px; }

header#about-head .header_middle .header_middle-bottom .middle-bottom-right p {
  color: #fff; }

header#about-head .header_middle .header_middle-bottom .middle-bottom-right p:first-child {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .5px;
  padding-top: 2px; }

#team h2 {
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 25px; }

#team .team-member {
  overflow: hidden; }

#team .team-member .team-single {
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 50px; }

#team .team-member .team-single .mem-img {
  width: 40%;
  float: left;
  text-align: center;
  position: relative; }

#team .team-member .team-single .mem-img img {
  width: 100%;
  max-width: 225px;
  padding: 0;
  margin-top: -1px;
  margin-left: -1px; }

/*#team .team-member .team-single .mem-img:before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    cursor: default;
    display: block;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}*/
#team .team-member .team-single:hover .mem-img:before {
  background: transparent; }

#team .team-member .team-single .mem-intro {
  width: 60%;
  float: left;
  padding-left: 25px;
  padding-right: 25px; }

#team .team-member .team-single .mem-intro h4 {
  font-weight: bold;
  padding-top: 2px; }

#team .team-member .team-single .mem-intro p.position {
  color: #c44e38;
  font-size: 14px; }

.animate-fade {
  opacity: 1; }

.animate-fade.ng-hide-add,
.animate-fade.ng-hide-remove {
  transition: all linear 0.5s; }

.animate-fade.ng-hide {
  opacity: 0; }

.animate-collapse {
  max-height: 500px;
  height: auto;
  overflow: hidden; }

.animate-collapse.ng-hide-add,
.animate-collapse.ng-hide-remove {
  transition: all linear 0.5s; }

.animate-collapse.ng-hide {
  max-height: 0px; }

#nf-notify {
  height: 0px;
  color: #FFF;
  overflow: hidden;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  #nf-notify .notify-container {
    text-align: center;
    width: 100%; }
    #nf-notify .notify-container .material-icons {
      vertical-align: middle;
      font-size: 20px;
      margin-top: -2px;
      margin-right: 3px; }
    #nf-notify .notify-container .notify-message {
      font-size: 14px; }

#nf-notify.notify-success {
  background: #00e676; }

#nf-notify.notify-warning {
  background: #fa9325; }

#forgot-password,
#reset-password {
  margin-top: 50px; }

.profile_edit .container_profile_edit {
  background: #FFF;
  padding: 20px; }
  .profile_edit .container_profile_edit .cover-avatar {
    position: relative; }
    .profile_edit .container_profile_edit .cover-avatar .cover {
      background-repeat: no-repeat;
      background-size: cover;
      height: 400px; }
      .profile_edit .container_profile_edit .cover-avatar .cover .cover-image {
        width: 100%; }
    .profile_edit .container_profile_edit .cover-avatar .avatar {
      position: absolute;
      bottom: 30px;
      z-index: 3;
      color: #FFF;
      left: 30px;
      width: calc(100% - 30px); }
      .profile_edit .container_profile_edit .cover-avatar .avatar .avatar-container .avatar-image {
        width: 100px;
        height: 100px; }
      .profile_edit .container_profile_edit .cover-avatar .avatar .avatar-container .username {
        height: 100px;
        line-height: 100px;
        margin: 0;
        margin-left: 20px; }
  .profile_edit .container_profile_edit .button-upload {
    width: 200px; }
  .profile_edit .container_profile_edit .col-avatar-full {
    max-width: 283px;
    max-height: 283px;
    overflow: hidden;
    border-radius: 100%; }
    .profile_edit .container_profile_edit .col-avatar-full img {
      width: 100%; }
  .profile_edit .container_profile_edit #modalEditProfile .modal-title {
    background: #26a69a;
    text-align: center;
    color: #FFF;
    height: 50px; }
    .profile_edit .container_profile_edit #modalEditProfile .modal-title .title {
      line-height: 45px; }
  .profile_edit .container_profile_edit #modalEditProfile .modal-content .previewAvatar img {
    width: 200px;
    height: 200px; }
  .profile_edit .container_profile_edit #modalEditProfile .modal-content .avatar .preUploadAvatarStatus {
    vertical-align: middle;
    margin: 0 10px; }
  .profile_edit .container_profile_edit .preview-image {
    width: 40px;
    height: 40px; }
  .profile_edit .container_profile_edit .upload-resume .resume-done {
    color: #26a69a; }
  .profile_edit .container_profile_edit .last-position-table {
    clear: both; }

.profile_edit .vertical-middle {
  vertical-align: middle; }

.create-job-page, #dashboard .container .employee-dashboard .dashboard-content .er-widget .card,
#dashboard .container .employer-dashboard .dashboard-content .er-widget .card, #update-profile .card {
  /*    .card-title {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        padding: 5px 20px;
        background-color: #c44e38 !important;
    }*/ }
  .create-job-page a, #dashboard .container .employee-dashboard .dashboard-content .er-widget .card a,
  #dashboard .container .employer-dashboard .dashboard-content .er-widget .card a, #update-profile .card a {
    cursor: pointer; }
  .create-job-page .card-content, #dashboard .container .employee-dashboard .dashboard-content .er-widget .card .card-content,
  #dashboard .container .employer-dashboard .dashboard-content .er-widget .card .card-content, #update-profile .card .card-content {
    overflow: hidden; }
    .create-job-page .card-content .cover-preview img, #dashboard .container .employee-dashboard .dashboard-content .er-widget .card .card-content .cover-preview img,
    #dashboard .container .employer-dashboard .dashboard-content .er-widget .card .card-content .cover-preview img, #update-profile .card .card-content .cover-preview img {
      width: 100%; }
    .create-job-page .card-content .row md-input-container.col, #dashboard .container .employee-dashboard .dashboard-content .er-widget .card .card-content .row md-input-container.col,
    #dashboard .container .employer-dashboard .dashboard-content .er-widget .card .card-content .row md-input-container.col, #update-profile .card .card-content .row md-input-container.col {
      padding-left: 0px;
      margin: 0px; }
      .create-job-page .card-content .row md-input-container.col label.active, #dashboard .container .employee-dashboard .dashboard-content .er-widget .card .card-content .row md-input-container.col label.active,
      #dashboard .container .employer-dashboard .dashboard-content .er-widget .card .card-content .row md-input-container.col label.active, #update-profile .card .card-content .row md-input-container.col label.active {
        color: #26a69a !important; }
      .create-job-page .card-content .row md-input-container.col input, #dashboard .container .employee-dashboard .dashboard-content .er-widget .card .card-content .row md-input-container.col input,
      #dashboard .container .employer-dashboard .dashboard-content .er-widget .card .card-content .row md-input-container.col input, #update-profile .card .card-content .row md-input-container.col input, .create-job-page .card-content .row md-input-container.col md-select, #dashboard .container .employee-dashboard .dashboard-content .er-widget .card .card-content .row md-input-container.col md-select,
      #dashboard .container .employer-dashboard .dashboard-content .er-widget .card .card-content .row md-input-container.col md-select, #update-profile .card .card-content .row md-input-container.col md-select {
        height: 50px;
        margin-bottom: 0px;
        border-bottom: 1px solid #9e9e9e; }
        .create-job-page .card-content .row md-input-container.col input md-select-value .md-text, #dashboard .container .employee-dashboard .dashboard-content .er-widget .card .card-content .row md-input-container.col input md-select-value .md-text,
        #dashboard .container .employer-dashboard .dashboard-content .er-widget .card .card-content .row md-input-container.col input md-select-value .md-text, #update-profile .card .card-content .row md-input-container.col input md-select-value .md-text, .create-job-page .card-content .row md-input-container.col md-select md-select-value .md-text, #dashboard .container .employee-dashboard .dashboard-content .er-widget .card .card-content .row md-input-container.col md-select md-select-value .md-text,
        #dashboard .container .employer-dashboard .dashboard-content .er-widget .card .card-content .row md-input-container.col md-select md-select-value .md-text, #update-profile .card .card-content .row md-input-container.col md-select md-select-value .md-text {
          color: #333;
          text-transform: capitalize; }
    .create-job-page .card-content .row .upload-avatar, #dashboard .container .employee-dashboard .dashboard-content .er-widget .card .card-content .row .upload-avatar,
    #dashboard .container .employer-dashboard .dashboard-content .er-widget .card .card-content .row .upload-avatar, #update-profile .card .card-content .row .upload-avatar {
      margin-bottom: 20px;
      text-align: center; }
      .create-job-page .card-content .row .upload-avatar .image-preview .user-profile-image img, #dashboard .container .employee-dashboard .dashboard-content .er-widget .card .card-content .row .upload-avatar .image-preview .user-profile-image img,
      #dashboard .container .employer-dashboard .dashboard-content .er-widget .card .card-content .row .upload-avatar .image-preview .user-profile-image img, #update-profile .card .card-content .row .upload-avatar .image-preview .user-profile-image img {
        max-width: 100%;
        height: 150px;
        width: 150px;
        border-radius: 100%; }
      .create-job-page .card-content .row .upload-avatar .change-avatar-btn, #dashboard .container .employee-dashboard .dashboard-content .er-widget .card .card-content .row .upload-avatar .change-avatar-btn,
      #dashboard .container .employer-dashboard .dashboard-content .er-widget .card .card-content .row .upload-avatar .change-avatar-btn, #update-profile .card .card-content .row .upload-avatar .change-avatar-btn {
        font-size: 12px;
        cursor: pointer; }
        .create-job-page .card-content .row .upload-avatar .change-avatar-btn .material-icons, #dashboard .container .employee-dashboard .dashboard-content .er-widget .card .card-content .row .upload-avatar .change-avatar-btn .material-icons,
        #dashboard .container .employer-dashboard .dashboard-content .er-widget .card .card-content .row .upload-avatar .change-avatar-btn .material-icons, #update-profile .card .card-content .row .upload-avatar .change-avatar-btn .material-icons {
          font-size: 16px;
          vertical-align: middle; }
      .create-job-page .card-content .row .upload-avatar .dz-preview, #dashboard .container .employee-dashboard .dashboard-content .er-widget .card .card-content .row .upload-avatar .dz-preview,
      #dashboard .container .employer-dashboard .dashboard-content .er-widget .card .card-content .row .upload-avatar .dz-preview, #update-profile .card .card-content .row .upload-avatar .dz-preview {
        display: none; }
  .create-job-page .card-action a, #dashboard .container .employee-dashboard .dashboard-content .er-widget .card .card-action a,
  #dashboard .container .employer-dashboard .dashboard-content .er-widget .card .card-action a, #update-profile .card .card-action a {
    cursor: pointer; }

#update-profile {
  padding-top: 20px; }

.profile .profile-cover {
  background-position: center;
  background-size: cover; }
  .profile .profile-cover .container {
    min-height: 400px;
    position: relative; }
    .profile .profile-cover .container .user-infomation {
      overflow: auto;
      position: absolute;
      bottom: 20px;
      width: 100%; }
      .profile .profile-cover .container .user-infomation .avatar h5 {
        margin: 0px 0px 0px 20px;
        line-height: 65px;
        color: #fff;
        font-size: 20px;
        text-shadow: 0 0 1px #000; }
      .profile .profile-cover .container .user-infomation .profile-button {
        width: 100%;
        bottom: 30px; }
        .profile .profile-cover .container .user-infomation .profile-button .send-message,
        .profile .profile-cover .container .user-infomation .profile-button .edit-profile {
          position: absolute;
          bottom: 0;
          z-index: 3; }
        .profile .profile-cover .container .user-infomation .profile-button .send-message {
          right: 30px; }
        .profile .profile-cover .container .user-infomation .profile-button .edit-profile {
          right: 220px; }

.profile .box-gray {
  padding: 0;
  margin: 0; }

.profile .profile-container {
  padding-top: 10px; }
  .profile .profile-container .profile-card {
    margin-bottom: 10px; }
    .profile .profile-container .profile-card .card-header,
    .profile .profile-container .profile-card .card-content {
      padding: 0px 20px; }
      .profile .profile-container .profile-card .card-header .row,
      .profile .profile-container .profile-card .card-content .row {
        margin-bottom: 0px; }
    .profile .profile-container .profile-card .card-header {
      background: #1b9ce2;
      height: 40px;
      font-size: 16px;
      line-height: 40px;
      font-weight: bold; }
    .profile .profile-container .profile-card .card-content .last-positions table {
      border: 1px solid #ddd; }
      .profile .profile-container .profile-card .card-content .last-positions table thead tr th {
        font-size: 12px; }
      .profile .profile-container .profile-card .card-content .last-positions table tbody tr td {
        font-size: 12px; }
  .profile .profile-container .previous-shifts .card-content {
    overflow: auto;
    padding: 0px; }
    .profile .profile-container .previous-shifts .card-content .collection {
      margin-top: 0px;
      border-left: none;
      border-right: none; }
      .profile .profile-container .previous-shifts .card-content .collection .shift-info {
        font-size: 11px;
        color: #666; }
    .profile .profile-container .previous-shifts .card-content .job .shift {
      font-size: 10px; }
    .profile .profile-container .previous-shifts .card-content .no-work {
      font-size: 12px;
      color: #9e9e9e; }
    .profile .profile-container .previous-shifts .card-content simple-pagination {
      float: right; }
      .profile .profile-container .previous-shifts .card-content simple-pagination .pagination li.active {
        line-height: 30px;
        background-color: #fff; }
      .profile .profile-container .previous-shifts .card-content simple-pagination ul li:first-child a,
      .profile .profile-container .previous-shifts .card-content simple-pagination ul li:last-child a {
        color: #333; }

#register {
  position: relative;
  /*margin-top: 50px;*/ }
  #register #choose-user-type,
  #register #register-form {
    position: absolute;
    width: 100%;
    top: 50px; }
  #register #choose-user-type .container .row .col:first-child {
    border-right: 1px solid #333; }

@media only screen and (max-width: 1024px) {
  #testimonial .testimonial-item p {
    padding-right: 30px;
    padding-left: 30px; } }

@media only screen and (max-width: 992px) {
  #partners h2 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 80px; }
  #stand-for .stand-for-item {
    padding: 0 33px; } }

@media only screen and (max-width: 767px) {
  .navbar-brand {
    padding: 0px 15px; }
  header .header_top .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #40d3a5;
    border-bottom: 1px solid #3fca9e;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s; }
  .navbar-nav {
    margin: 0.5px -15px; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #3bb18c; }
  header .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #45b995; }
  .navbar-default .navbar-toggle:hover {
    background-color: #40d3a5; }
  .navbar-default .navbar-toggle {
    border-color: #fff; }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: #40d3a5; }
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover {
    background-color: #40d3a5; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff; }
  header .header_bottom {
    padding-left: 10px;
    padding-right: 24px; }
  #partners h2 {
    font-size: 25px; }
  #ushift-works h2 {
    font-size: 35px; }
  #ushift-works .ushift-works-item {
    padding-bottom: 50px; }
  #different h2 {
    font-size: 35px; }
  #testimonial h2 {
    font-size: 35px; }
  #testimonial .testimonial-item p {
    padding-right: 30px;
    padding-left: 30px; }
  #stand-for h2 {
    font-size: 35px; }
  #stand-for .stand-for-item {
    padding-bottom: 21px; }
  footer .footer-left {
    max-width: 203px;
    margin: auto; }
  footer .footer-right {
    text-align: center; }
  footer .footer-right p {
    text-align: center;
    float: none;
    margin-right: 0; }
  footer .footer-right ul {
    float: none;
    margin-right: 0; }
  /* =====About Us=========*/
  #team .team-member .team-single .mem-intro {
    padding-right: 0px; } }

@media only screen and (max-width: 640px) {
  #partners .partners-logo a {
    width: 16.11%; }
  /* =====About Us=========*/
  header#about-head .header_middle h1 {
    font-size: 36px; }
  header#about-head .header_middle .header_middle-bottom .middle-bottom-left h2 {
    font-size: 20px; } }

@media only screen and (max-width: 480px) {
  header .header_middle {
    padding-top: 50px;
    padding-bottom: 163px; }
  header .header_middle h1 {
    font-size: 42px; }
  header .header_middle h2 {
    font-size: 42px; }
  #ushift-works h2 {
    font-size: 30px; }
  #different h2 {
    font-size: 30px; }
  #testimonial h2 {
    font-size: 30px; }
  #stand-for h2 {
    font-size: 30px; }
  /* =====About Us=========*/
  header#about-head .header_middle h1 {
    font-size: 25px; }
  header#about-head .header_middle .header_middle-bottom .middle-bottom-left h2 {
    font-size: 18px; } }

@media only screen and (max-width: 380px) {
  header .header_middle h1 {
    font-size: 34px; }
  header .header_middle h2 {
    font-size: 30px; }
  header .header_bottom .header-bottom-content p {
    color: #fff;
    font-size: 16px; }
  #partners .partners-logo a {
    width: 24.11%; }
  #different .different-content .different-item .different-item-text p {
    padding-right: 0px; }
  #ushift-works h2 {
    font-size: 25px;
    padding-bottom: 20px; }
  #ushift-works .ushift-works-item {
    padding-bottom: 20px; }
  #different h2 {
    font-size: 25px; }
  #testimonial h2 {
    font-size: 25px; }
  #testimonial .testimonial-item p {
    padding-right: 10px;
    padding-left: 10px; }
  #stand-for h2 {
    font-size: 25px; }
  footer .footer-right p {
    font-size: 11px; }
  footer .footer-right ul li a {
    padding: 1px 1px;
    font-size: 11px; }
  /*How It Works page*/
  #howitworks h2 {
    font-size: 21px; }
  #howitworks .employers-faq .go-staff a {
    font-size: 21px; }
  #howitworks .employers-faq .faq-title h2 {
    font-size: 21px; }
  .faq-question-wrapper .question-text h3 {
    font-size: 19px; }
  .faq-question-wrapper .question-text .step p.step-no {
    font-size: 14px; }
  /* =====About Us=========*/
  header#about-head .header_middle h1 {
    font-size: 20px; }
  header#about-head .header_middle .header_middle-bottom .middle-bottom-left h2 {
    font-size: 12px; }
  header#about-head .header_middle .header_middle-bottom .middle-bottom-right p:first-child {
    font-size: 13px;
    padding-top: 0; } }

/* duplicate content from dashboard --- IMPROVE */
#search .er-sidebar {
  margin: 0px;
  padding: 0px;
  border: none;
  box-shadow: none; }
  #search .er-sidebar .er-sidebar-item {
    overflow: auto;
    /*                        border-bottom: 1px solid #eaeaea;*/ }
    #search .er-sidebar .er-sidebar-item .collapsible-header {
      padding: 0px;
      border: none; }
      #search .er-sidebar .er-sidebar-item .collapsible-header i {
        float: none;
        line-height: 40px;
        width: auto;
        margin-right: 0px; }
    #search .er-sidebar .er-sidebar-item .collapsible-body {
      border: none; }
    #search .er-sidebar .er-sidebar-item a {
      color: #555;
      cursor: pointer;
      overflow: hidden; }
      #search .er-sidebar .er-sidebar-item a .icon {
        width: 40px;
        height: 40px;
        float: left;
        text-align: center;
        font-size: 24px; }
        #search .er-sidebar .er-sidebar-item a .icon i {
          line-height: 40px; }
      #search .er-sidebar .er-sidebar-item a .menu {
        overflow: hidden;
        line-height: 40px; }
    #search .er-sidebar .er-sidebar-item:last-child {
      border-bottom: none; }
    #search .er-sidebar .er-sidebar-item .submenu ul li {
      width: 100%;
      line-height: 40px;
      overflow: auto;
      cursor: pointer; }
      #search .er-sidebar .er-sidebar-item .submenu ul li a {
        display: block;
        padding-left: 50px; }
    #search .er-sidebar .er-sidebar-item .submenu ul li:hover {
      background: #ccc; }
      #search .er-sidebar .er-sidebar-item .submenu ul li:hover a {
        color: black;
        /*                                        font-size: $er-sidebar-hover-text-font-size;
                                        font-weight: $er-sidebar-hover-text-font-weight;*/ }
    #search .er-sidebar .er-sidebar-item .submenu ul li.er-navbar-item-active a {
      background: none;
      color: black;
      font-size: 16px;
      font-weight: 600; }
    #search .er-sidebar .er-sidebar-item.er-navbar-item-active > a {
      display: block;
      overflow: auto;
      background: none;
      color: black;
      font-size: 16px;
      font-weight: 600; }
    #search .er-sidebar .er-sidebar-item:hover > a {
      display: block;
      overflow: auto;
      background: #ccc;
      color: black;
      /*                                font-size: $er-sidebar-hover-text-font-size;
                                font-weight: $er-sidebar-hover-text-font-weight;*/ }
    #search .er-sidebar .er-sidebar-item.has-submenu > a, #search .er-sidebar .er-sidebar-item.has-submenu.er-navbar-item-active > a, #search .er-sidebar .er-sidebar-item.has-submenu:hover > a {
      background: none;
      color: #555; }

.search-categories {
  overflow: auto;
  height: auto;
  line-height: 35px;
  margin-bottom: 20px; }
  .search-categories a.button-collapse i {
    line-height: 39px; }
  .search-categories ul li a {
    letter-spacing: -0.04em;
    padding: 0px 8px;
    color: #555555;
    font-size: 0.9rem;
    text-transform: capitalize; }
    .search-categories ul li a:hover {
      color: #000;
      text-decoration: inherit; }

.sub-category {
  margin-top: 6px !important;
  padding: 0px !important;
  border: 1px #eeeeee solid; }
  .sub-category > div {
    margin-bottom: 10px;
    background: #fff; }
    .sub-category > div .title {
      font-size: 16px;
      margin: 0px;
      padding: 12px;
      border-bottom: 1px #eeeeee solid;
      text-transform: capitalize; }
    .sub-category > div ul {
      overflow: auto;
      margin: 0px; }
      .sub-category > div ul li a {
        display: block;
        width: 100%;
        color: #555555;
        padding: 5px 5px 5px 10px;
        border-bottom: 1px #eeeeee solid;
        text-transform: capitalize; }
      .sub-category > div ul li:last-child a {
        border-bottom: none; }
      .sub-category > div ul li:hover a,
      .sub-category > div ul .active a {
        color: #000;
        text-decoration: inherit;
        background: #eeeeee; }

.list-jobs {
  margin-bottom: 0px !important;
  overflow: auto; }
  .list-jobs .navbar-title {
    overflow: auto;
    margin-bottom: 10px; }
  .list-jobs .job:last-child {
    border-bottom: none; }
  .list-jobs .employer-info {
    margin-top: 10px;
    margin-bottom: 20px; }
    .list-jobs .employer-info p {
      margin-top: 0px;
      margin-bottom: 0px; }

.sidebar-job h1 {
  font-size: 35px; }

.sidebar-job h3 {
  font-size: 20px; }

.sidebar-job .logo-shop {
  max-width: 100%;
  border: 5px solid #fff; }

.sidebar-job .space-bottom {
  margin-bottom: 10px; }

.sidebar-job .tag-category .list-cate a {
  text-transform: inherit;
  padding-left: 10px;
  padding-right: 10px;
  height: 25px;
  line-height: 25px;
  margin-bottom: 10px;
  margin-right: 10px;
  text-transform: capitalize; }

/* Simple setup for this demo */
.card-content {
  padding: 0; }

.mdl-card__supporting-text {
  width: 100%;
  padding: 0; }

.mdl-stepper-horizontal-alternative .mdl-stepper-step {
  width: 25%;
  /* 100 / no_of_steps */ }

/* Begin actual mdl-stepper css styles */
.mdl-stepper-horizontal-alternative {
  display: table;
  width: 100%;
  margin: 0 auto; }

.mdl-stepper-horizontal-alternative .mdl-stepper-step {
  display: table-cell;
  position: relative;
  padding: 24px; }

.mdl-stepper-horizontal-alternative .mdl-stepper-step.step-done:hover,
.mdl-stepper-horizontal-alternative .mdl-stepper-step.step-done:active {
  background-color: rgba(0, 0, 0, 0.06); }

.mdl-stepper-horizontal-alternative .mdl-stepper-step:active {
  border-radius: 15% / 75%; }

.mdl-stepper-horizontal-alternative .mdl-stepper-step:first-child:active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.mdl-stepper-horizontal-alternative .mdl-stepper-step:last-child:active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.mdl-stepper-horizontal-alternative .mdl-stepper-step:hover .mdl-stepper-circle {
  background-color: #757575; }

.mdl-stepper-horizontal-alternative .mdl-stepper-step:first-child .mdl-stepper-bar-left,
.mdl-stepper-horizontal-alternative .mdl-stepper-step:last-child .mdl-stepper-bar-right {
  display: none; }

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-circle {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background-color: #9E9E9E;
  border-radius: 50%;
  text-align: center;
  line-height: 2em;
  font-size: 12px;
  color: white; }

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-circle {
  background-color: #ff9800; }

.mdl-stepper-horizontal-alternative .mdl-stepper-step.step-done .mdl-stepper-circle {
  background-color: #00acc1; }

.mdl-stepper-horizontal-alternative .mdl-stepper-step.step-done .mdl-stepper-circle:before {
  content: "\2714"; }

.mdl-stepper-horizontal-alternative .mdl-stepper-step.step-done .mdl-stepper-circle *,
.mdl-stepper-horizontal-alternative .mdl-stepper-step.editable-step .mdl-stepper-circle * {
  display: none; }

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-title {
  margin-top: 16px;
  font-size: 14px;
  font-weight: normal; }

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-title,
.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-optional {
  text-align: center;
  color: rgba(0, 0, 0, 0.26); }

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-title {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87); }

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step.step-done .mdl-stepper-title,
.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step.editable-step .mdl-stepper-title {
  font-weight: 300; }

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-optional {
  font-size: 12px; }

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-optional {
  color: rgba(0, 0, 0, 0.54); }

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-left,
.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-right {
  position: absolute;
  top: 36px;
  height: 1px;
  border-top: 1px solid #BDBDBD; }

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-right {
  right: 0;
  left: 50%;
  margin-left: 20px; }

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-left {
  left: 0;
  right: 50%;
  margin-right: 20px; }

@media only screen and (max-width: 768px) {
  html body div[ui-view="main"] {
    padding-top: 0px; }
    html body div[ui-view="main"] .fixed-header,
    html body div[ui-view="main"] div[ui-view="header"] {
      position: relative; }
      html body div[ui-view="main"] .fixed-header nav.breadcrumb-navbar,
      html body div[ui-view="main"] div[ui-view="header"] nav.breadcrumb-navbar {
        padding-top: 10px; }
  html body footer {
    overflow: inherit; } }

@media only screen and (min-width: 993px) {
  .container {
    width: 100%;
    max-width: 1240px;
    padding-left: 0.75rem;
    padding-right: 0.75rem; } }

@media only screen and (max-width: 993px) {
  .last-position table.responsive-table th {
    padding: 25px 5px !important; } }

@media only screen and (min-width: 993px) {
  .menu-list-job ul {
    height: 100%; }
    .menu-list-job ul li {
      height: 100%; }
      .menu-list-job ul li a {
        height: 100%; }
  .list-jobs {
    padding-right: 0px !important; } }

@media (max-width: 600px) {
  .dashboard-page .dashboard-sidebar .card {
    margin-left: -.75rem;
    margin-right: -.75rem; } }

@media only screen and (max-width: 600px) {
  .box-job-page .box-job-detail .available .list-button {
    padding: 0px; }
    .box-job-page .box-job-detail .available .list-button .row .btn:first-child {
      padding: 0px;
      font-size: 14px; }
      .box-job-page .box-job-detail .available .list-button .row .btn:first-child i {
        float: left; }
    .box-job-page .box-job-detail .available .list-button .row .btn:last-child {
      font-size: 14px; }
  .box-job-page .bid-box .row-people {
    position: relative; }
    .box-job-page .bid-box .row-people .qualified {
      width: 100%; }
      .box-job-page .bid-box .row-people .qualified .qualified-information {
        width: 100%; }
    .box-job-page .bid-box .row-people .price {
      position: absolute;
      right: 0px; }
  .price p.white-text.center-align {
    padding-left: 0px; }
  .er-create-job div {
    margin: 0 auto !important;
    float: none !important;
    padding-bottom: 10px; }
  .list-jobs {
    padding: 0px !important; } }

@media (max-width: 600px) {
  .profile .profile-cover .avatar {
    bottom: 80px; }
    .profile .profile-cover .avatar .avatar-container .username {
      font-size: 14px; }
  .profile .profile-cover .profile-button {
    text-align: center; }
    .profile .profile-cover .profile-button .send-message,
    .profile .profile-cover .profile-button .edit-profile {
      position: initial; } }

@media (max-width: 480px) {
  .profile_edit .container_profile_edit .cover-avatar .avatar {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 80%; }
    .profile_edit .container_profile_edit .cover-avatar .avatar .avatar-container {
      text-align: center;
      margin: auto;
      width: 100%; }
      .profile_edit .container_profile_edit .cover-avatar .avatar .avatar-container .avatar-image {
        width: 100%;
        height: auto;
        max-height: 150px;
        max-width: 150px;
        margin-bottom: 10px;
        float: none !important; }
      .profile_edit .container_profile_edit .cover-avatar .avatar .avatar-container .username {
        font-size: 14px;
        height: initial;
        line-height: initial;
        margin: 0;
        display: block;
        width: 100%; } }

@media (max-width: 320px) {
  .profile .profile-cover .avatar {
    bottom: 80px; }
    .profile .profile-cover .avatar .avatar-container .avatar-image {
      width: 80px;
      height: 80px; }
    .profile .profile-cover .avatar .avatar-container .username {
      height: 80px;
      line-height: 80px;
      font-size: 14px; }
  .profile .profile-container .row:first-child {
    margin-bottom: 0; } }

#mail .center .header {
  padding: 24px 0; }
  #mail .center .header .sidenav-toggle {
    margin: 0;
    width: 56px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.12); }
  #mail .center .header .search {
    height: 56px;
    line-height: 56px;
    padding: 18px;
    background: #FFFFFF; }
    #mail .center .header .search .icon {
      margin: 0; }
    #mail .center .header .search input {
      padding-left: 16px;
      height: 56px;
      color: rgba(0, 0, 0, 0.54); }

#mail .sidenav .header .logo .logo-icon {
  margin: 0 16px 0 0; }

#mail .sidenav .header .logo .logo-text {
  font-size: 24px; }

#mail .sidenav .header .account {
  width: 100%; }
  #mail .sidenav .header .account .account-selection {
    margin: 0;
    padding: 0; }
    #mail .sidenav .header .account .account-selection .md-select-label {
      width: 100%; }
    #mail .sidenav .header .account .account-selection .md-select-value {
      padding-left: 0; }

#mail .sidenav .content {
  padding: 24px 0; }
  #mail .sidenav .content .compose-button {
    padding: 0 24px 24px 24px; }
    #mail .sidenav .content .compose-button .md-button {
      width: 100%;
      margin: 0; }

#mail .sidenav._md-locked-open .header {
  color: #FFFFFF; }
  #mail .sidenav._md-locked-open .header .logo {
    padding-top: 27px; }
    #mail .sidenav._md-locked-open .header .logo .logo-icon md-icon {
      color: #FFFFFF; }

#mail .sidenav:not(._md-locked-open) .header {
  height: 150px;
  min-height: 150px;
  max-height: 150px;
  padding-top: 24px; }
