
/*===========================Font================================*/
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
body{
    font-family: Roboto,sans-serif;
    color: #333;    
}


/*===========================Header Start================================*/
header{
    background: url(../images/background.jpg) no-repeat center center /cover;
}
header .header_top{}
header .header_top .navbar-brand{}
header .header_top .navbar-brand img{
    width:100%;
}
header .header_top .navbar-default {
    background-color: transparent;
    border-color: transparent;
}
header .header_top .navbar {
    min-height: 80px;
    margin-bottom: 0px;
}
header .header_top .navbar-nav>li>a {
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
header .header_top .navbar-nav .white-shadow{
    text-shadow: 2px 0 6px #fff;
}

header .header_middle{
    padding-top: 115px;
    padding-bottom: 195px;
    padding-left: 18px;
}
header .header_middle h1{
    font-size: 50px;
    font-weight: bold;
    color: #c44e38;
    //color: #40d3a5;    
}
header .header_middle h2{
    font-size: 48px;
    color: #4d4d4d;
    margin-bottom: 0;
    margin-top: 0;
}
header .header_bottom{
    background: rgba(0,0,0,.4);
    padding-top: 27px;
    padding-bottom: 40px;
}
header .header_bottom .header-bottom-content{}
header .header_bottom .header-bottom-content p{
    color: #fff;
    font-size: 25px;
}
header .header_bottom .header-bottom-content form{
    margin-left: 14px;
}
header .header_bottom .header-bottom-content .input-item{
    padding: 0 6px;
}

header .header_bottom .header-bottom-content .input-item .form-group{
    background: #fff;
}
header .header_bottom .header-bottom-content .input-item .form-group label{
    color: #f77f64;
    padding-left: 20px;
    padding-top: 7px;
}
header .header_bottom .header-bottom-content .input-item .form-group input{
    padding-left: 20px;
    border: none;
    outline: none;
    font-size: 21px;
    color:#999999;
    font-weight: bold;
    -webkit-box-shadow: none;
    box-shadow: none;
}
header .header_bottom .header-bottom-content .input-item .form-group .form-control:focus {
    border-color: #66afe9;
    outline: 0;

}
header .header_bottom .header-bottom-content .input-item .btn-lg{
    padding: 20px 40px;
    border-radius: 0;
}
header .header_bottom .header-bottom-content .input-item .btn-default{
    color: #fff;
    //background-color: #25cd98;
    //border-color: #25cd98;
    background-color: #c44e38;
    border-color: #c44e38;
}



/*===========================Partners Start================================*/

#positions{padding-bottom: 60px}
#positions h2{
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 40px;
}
#positions .position-item{
    display: table;
    overflow: hidden;
    padding-bottom: 50px;
    padding-top: 25px;
}
#positions .position-item .position-img{
    display: table-cell;
    width: 70px;
    vertical-align: middle;
}
#positions .position-item .position-title{
    display: table-cell;
    padding-left: 20px;
    vertical-align: middle;
}
#positions .position-item .position-title p{
    font-size: 20px;
}
/*===========================How Ushift Works Start================================*/

#ushift-works{
    background: #e8e1da;
    padding-bottom: 70px;
}
#ushift-works h2{
    font-weight: bold;
    font-size: 40px;
    color: #333;
    padding-top: 40px;
    padding-bottom: 40px;
}
#ushift-works h3{
    color: #333;
    padding-bottom: 40px;
}

#ushift-works .ushift-works-item{
    padding-bottom: 100px;    
}
#ushift-works .ushift-works-item img{
    width: 100%;
    max-width: 360px;
    padding: 50px;
}
#ushift-works .ushift-works-item h3{
    font-weight: bold;
}
#ushift-works .ushift-works-item p{
    padding: 0 15px;
}

#ushift-works .row{
    
    
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;
    
}

#ushift-works .different-item-col{
    display: -webkit-flex;
    display: flex;
}
#ushift-works .different-item{
        -webkit-flex: 1;
    flex: 1;
    padding: 10px; 
    border: 2px solid #F7EFE8;
    border-radius:2px;
    font-size: 16px;
}
#ushift-works .different-item .different-item-text h3{
    text-align: center;
    color: #fff;
}
#ushift-works .different-item .different-item-text .row{
    margin: 10px
}


/*===========================How we're different Start================================*/

#different{
   padding-bottom: 67px;
}
#different h2{
    font-size: 40px;
    font-weight: bold;
    color: #333;
    padding-top: 67px;
    padding-bottom: 67px;    
}
#different .different-content{}
#different .different-content .different-item{
    overflow: hidden;
    padding-bottom: 33px;    
}
#different .different-content .different-item .different-item-img{
    width: 20%;
    float: left;
    padding-top: 20px;
}
#different .different-content .different-item .different-item-img img{
    width: 100%;
}
#different .different-content .different-item .different-item-text{
    width: 80%;
    float: left;
    padding-left: 28px;
    padding-right: 28px;
}
#different .different-content .different-item .different-item-text h3{
    font-weight: bold;
}
#different .different-content .different-item .different-item-text p{
    padding-right: 40px;
}

/*===========================What Our Clients Say ================================*/
#testimonial{
    background: #c44e38;
}
#testimonial h2{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    padding-top: 67px;
    padding-bottom: 67px;    
}
#testimonial .testimonial-item{
    padding-bottom: 60px;
    color: #fff;
}
#testimonial .testimonial-item p{
  padding-right: 60px;
}
#testimonial .testimonial-item p i{
    font-size: 20px;
    color: #7d7a75;    
}

/*===========================What Do We Stand For================================*/

#stand-for{
    //background: #25cd98;
    background: #c44e38;
    padding-bottom: 40px;
}
#stand-for h2{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    padding-top: 67px;
    padding-bottom: 67px;    
}
#stand-for .stand-for-item{
    padding: 0 85px;
    padding-bottom: 64px;
    color: #fff;
}
#stand-for .stand-for-item h3{
    font-weight: bold;
    padding-bottom: 11px;
}
#stand-for .stand-for-item p{}
#stand-for .stand-for-item img{
    width:100%;
}

/*===========================Scroll to Top================================*/

.scrollup{
    width: 50px;
    height: 50px;
    font-size: 35px;
    //color: #23af80;
    color:#c44e38;
    background-color: transparent;
    text-align: center;
    display: none;
    position: fixed;
    bottom: 65px;
    right: 0px;
    z-index: 99999;
    cursor:pointer;
}
/*===========================Footer================================*/
footer{
    background: #222222;
    color:#fff;
    overflow: hidden;
    padding-top: 40px;    
    padding-bottom: 20px;    
}

footer .footer-left .footer-logo img{
    width: 100%;
    max-width: 150px;    
}
footer .footer-left .address{
    padding-left: 13px;
    padding-top: 10px;    
}

footer .footer-left .address a{
    text-decoration: none;
    color:#fff;
}

footer .footer-right p{
    text-align: right;
    margin-right: 50px;
    padding-top: 40px;
}
footer .footer-right ul{
    float: right;
    margin-right: 24px;
}
footer .footer-right ul li{
    display: inline-block;
    list-style-type: none;
}
footer .footer-right ul li a{
    text-decoration: underline;
    color: #fff;
    display: block;
    padding: 2px 11px;
}

/*===========================How It Works page================================*/
#howitworks{}


#howitworks .howitworks_middle {
    padding-top: 30px;
    padding-bottom: 92px;  
}
#howitworks .howitworks_middle h1 {
    font-size: 50px;
    //font-weight: bold;
    color: #c44e38;
    width: 100%;
    max-width: 690px;
}
#howitworks .howitworks_middle h2 {
    font-size: 48px;
    color: #4d4d4d;
    margin-bottom: 0;
    margin-top: 0;
}

#howitworks .howitworks_middle .howitworks_middle-bottom{
    overflow: hidden;
    width: 100%;
    margin-top: 65px;      
    padding-left: 22px;
}

#howitworks .howitworks_middle .howitworks_middle-bottom p:first-child{
    //color: #fff;
    font-size: 18px;
    
    letter-spacing: .5px;
    padding-top: 2px;
}

#howitworks .howitworks_middle .howitworks_middle-bottom .right{
    max-width: 690px;
    margin-left: 20%;
    font-weight: bold;
}

#faq-employer{}
#faq-employer .faq-employer_middle h1 {
    font-size: 50px;
    //font-weight: bold;
    color: #c44e38;
    width: 100%;
    max-width: 690px;
 
}
#faq-employer .faq-employer_middle h2 {
    font-size: 48px;
    color: #4d4d4d;
    margin-bottom: 0;
    margin-top: 0;
}
#faq-employer .faq-employer_middle {
    padding-top: 30px;
    padding-bottom: 92px;  
}
#faq-employer .faq-employer_middle .faq-employer_middle-bottom{
    overflow: hidden;
    width: 100%;
    margin-top: 45px;      
    padding-left: 22px;
}

#faq-employer .faq-employer_middle .question-text{ 
}
#faq-employer .faq-employer_middle .question-text h3{
    padding-bottom: 20px; 
}
#faq-employer .faq-employer_middle .faq-employer_middle-bottom .step-no{
    //color: #fff;
    font-size: 18px;
    letter-spacing: .5px;
    padding-top: 2px;
}
#faq-employer .faq-employer_middle .question-text .step-content{
    padding-left: 40px;
}










#faq-staff{
    background: #E8E1DA;
}
#faq-staff .faq-staff_middle h1 {
    font-size: 50px;
    //font-weight: bold;
    color: #c44e38;
    width: 100%;
 
}
#faq-staff .faq-staff_middle h2 {
    font-size: 48px;
    color: #4d4d4d;
    margin-bottom: 0;
    margin-top: 0;
}
#faq-staff .faq-staff_middle {
    padding-top: 30px;
    padding-bottom: 92px;  
    text-align: right;
}
#faq-staff .faq-staff_middle .faq-staff_middle-bottom{
    overflow: hidden;
    width: 100%;
    margin-top: 45px;      
    padding-left: 22px;
    //color: #fff;
}

#faq-staff .faq-staff_middle .question-text{
    text-align: left;   
}
#faq-staff .faq-staff_middle .question-text h3{
    padding-bottom: 20px; 
}
#faq-staff .faq-staff_middle .faq-staff_middle-bottom .step-no{
    //color: #fff;
    font-size: 18px;
    letter-spacing: .5px;
    padding-top: 2px;
}
#faq-staff .faq-staff_middle .question-text .step-content{
    padding-left: 40px;
}

#join-ushift{}

#join-ushift .call-to-action{
    text-align: center;
    padding-bottom : 100px;
}

#join-ushift .call-to-action .button-call-to-action{
    background: #c44e38 none repeat scroll 0 0;
    //background: #e5492d none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding: 20px 30px;
}

/*#howitworks{}
#howitworks h2{
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;    
}
.how-it-works-p{
   text-align: left;
}
.how-it-works-p p{
    margin: auto;
    font-size: 20px;
    max-width: 690px;
    
}
#howitworks .employers-faq{}
#howitworks .employers-faq .go-staff{
    //background: #23af80;    
    background: #c44e38;
}
#howitworks .employers-faq .go-staff a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    display: block;
    padding: 21px 0;   
}
#howitworks .employers-faq .go-staff a i{
    padding-left: 8px;    
}
#howitworks .employers-faq .faq-title{}
#howitworks .employers-faq .faq-title h2{
    font-size: 25px;
    font-weight: bold;    
}
.faq-question-wrapper{
    overflow: hidden; 
    padding-bottom: 60px;   
}
.faq-question-wrapper .question-icon{
    width: 20%;
    float: left;
    padding-top: 22px;
text-align: center;    
}
.faq-question-wrapper .question-icon img{
    width:100%;
    max-width: 111px;
}
.faq-question-wrapper .question-text{
    width: 80%;
    float: left;
    padding-left: 30px;    
}
.faq-question-wrapper .question-text h3{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 22px;    
}
.faq-question-wrapper .question-text .step{
    padding-top: 20px;   
}
.faq-question-wrapper .question-text .step p{
    font-size: 14px;
    padding-bottom: 8px;
    margin-bottom: 4px;   
}
.faq-question-wrapper .question-text .step p a{
    text-decoration: none;
    //color: #23af80;    
    color: #c44e38;
}
.faq-question-wrapper .question-text .step p.step-no{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 18px;    
}*/

/*===========================Shift Seekers================================*/
header#shift-seekers-head,
header.bg-default{
    //background: #25cd98;
    background: #c44e38;
}
header#shift-seekers-head .header_top .navbar-nav>li>a,
header.bg-default .header_top .navbar-nav>li>a {
    color: #fff;
}

#shift-seekers .shift-seekers_middle {
    padding-top: 30px;
    padding-bottom: 60px;  
}
#shift-seekers .shift-seekers_middle h1 {
    font-size: 50px;
    //font-weight: bold;
    color: #c44e38;
    width: 100%;
    max-width: 690px;
}
#shift-seekers .shift-seekers_middle h2 {
    font-size: 48px;
    color: #4d4d4d;
    margin-bottom: 0;
    margin-top: 0;
}

#shift-seekers .shift-seekers_middle .shift-seekers_middle-bottom{
    overflow: hidden;
    width: 100%;
    margin-top: 65px;      
    padding-left: 22px;
}

#shift-seekers .shift-seekers_middle .shift-seekers_middle-bottom p:first-child{
    //color: #fff;
    font-size: 18px;
    
    letter-spacing: .5px;
    padding-top: 2px;
}

#shift-seekers .shift-seekers_middle .shift-seekers_middle-bottom .right{
    max-width: 690px;
    margin-left: 20%;
    font-weight: bold;
}




/*===========================About Us Page================================*/
header#about-head,
header.bg-default{
    //background: #25cd98;
    background: #c44e38;
}

header#about-head .header_top .navbar-nav>li>a,
header.bg-default .header_top .navbar-nav>li>a {
    color: #fff;
}
header#about-head .header_middle {
    padding-top: 30px;
    padding-bottom: 92px;    
}
header#about-head .header_middle h1 {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    width: 100%;
    max-width: 690px;
}
header#about-head .header_middle .header_middle-bottom{
    overflow: hidden;
    width: 100%;
    max-width: 690px;
    margin-top: 65px;   
}
header#about-head .header_middle .header_middle-bottom .middle-bottom-left{
    width: 20%;
    float: left;    
}
header#about-head .header_middle .header_middle-bottom .middle-bottom-left h2{
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;    
}
header#about-head .header_middle .header_middle-bottom .middle-bottom-right{
    width: 80%;
    float: left;
    padding-left: 22px;
}
header#about-head .header_middle .header_middle-bottom .middle-bottom-right p{
    color:#fff;
}
header#about-head .header_middle .header_middle-bottom .middle-bottom-right p:first-child{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .5px;
    padding-top: 2px;
}


#team{
    
}
#team h2{
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 25px;    
}
#team .team-member{
    overflow: hidden;
}
#team .team-member .team-single{
    overflow: hidden;
    padding-top: 25px; 
    padding-bottom: 50px;    
}
#team .team-member .team-single .mem-img{
    width: 40%;
    float: left;
    text-align: center;    
    position: relative;
}
#team .team-member .team-single .mem-img img{
    width: 80px;
    max-width: 225px;
    padding: 0;
    margin-top: -1px;
    margin-left: -1px;
}
/*#team .team-member .team-single .mem-img:before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    cursor: default;
    display: block;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}*/
#team .team-member .team-single:hover .mem-img:before{
    background: rgba(0,0,0,0);
}
#team .team-member .team-single .mem-intro{
    width: 60%;
    float: left;
    padding-left: 25px;
    padding-right: 25px; 
}
#team .team-member .team-single .mem-intro h4{
    font-weight: bold;  
    padding-top: 2px;
}
#team .team-member .team-single .mem-intro p{}
#team .team-member .team-single .mem-intro p.position{
    //color: #25cd98;
    color: #c44e38;
    font-size: 14px;    
}