@media only screen and (max-width: 1024px) {
    #testimonial .testimonial-item p {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media only screen and (max-width: 992px) {
    #partners h2 {
        font-size: 30px;
        font-weight: bold;
        padding-top: 30px;
        padding-bottom: 80px;
    }
    #stand-for .stand-for-item {
        padding: 0 33px;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-brand {
        padding: 0px 15px;
    }
    header .header_top .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
        background: #c44e38;
        border-bottom: 1px solid #d27868;
        -webkit-transition: all .1s;
        -moz-transition: all .1s;
        -o-transition: all .1s;
        transition: all .1s;
        color:white;
    }
    .navbar-nav {
        margin: 0.5px -15px;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #d27868;
        float: right;
        min-width: 270px;
    
    }
    header .navbar-default .navbar-nav>li>a:hover {
        color: #fff;
        background-color: #B54C39;
    }
    
    header .header_top .navbar-nav .white-shadow{
    text-shadow: none;
}


  
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: #B54C39 !important;
    }
    .navbar-default .navbar-toggle {
        border-color: #fff;
        background-color: #c44e38 !important;
    }
/*    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: #c44e38;
    }*/
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover {
        background-color: rgb(64, 211, 165);
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    header .header_bottom {
        padding-left: 10px;
        padding-right: 24px;
    }
    #partners h2 {
        font-size: 25px;
    }
    #ushift-works h2 {
        font-size: 35px;
    }
    #ushift-works .ushift-works-item {
        padding-bottom: 50px;
    }
    
    #ushift-works .row{
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    
    }
    #ushift-works .different-item-col {
        padding-bottom: 20px;
    }
    
    
    
    
#positions .position-item{
    text-align: center!important;
    width: 100%;
}
#positions .position-item .position-img{
    display: table-row;
}
#positions .position-item .position-title{
    display: table-row;
}







    
    #different h2 {
        font-size: 35px;
    }
    #testimonial h2 {
        font-size: 35px;
    }
    #testimonial .testimonial-item p {
        padding-right: 30px;
        padding-left: 30px;
    }
    #stand-for h2 {
        font-size: 35px;
    }
    #stand-for .stand-for-item {
        padding-bottom: 21px;
    }
    footer .footer-left {
        max-width: 203px;
        margin: auto;
    }
    footer .footer-right {
        text-align: center;
    }
    footer .footer-right p {
        text-align: center;
        float: none;
        margin-right: 0;
    }
    footer .footer-right ul {
        float: none;
        margin-right: 0;
        padding: 0px;
    }
    /* =====About Us=========*/
    #team .team-member .team-single .mem-intro {
        padding-right: 0px;
    }
}

@media only screen and (max-width: 640px) {
    #partners .partners-logo a {
        width: 16.11%;
    }
    /* =====About Us=========*/
    header#about-head .header_middle h1 {
        font-size: 36px;
    }
    header#about-head .header_middle .header_middle-bottom .middle-bottom-left h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 480px) {
    header .header_middle {
        padding-top: 50px;
        padding-bottom: 163px;
    }
    header .header_middle h1 {
        font-size: 42px;
    }
    header .header_middle h2 {
        font-size: 42px;
    }
    #ushift-works h2 {
        font-size: 30px;
    }
    #different h2 {
        font-size: 30px;
    }
    #testimonial h2 {
        font-size: 30px;
    }
    #stand-for h2 {
        font-size: 30px;
    }
    /* =====About Us=========*/
    header#about-head .header_middle h1 {
        font-size: 25px;
    }
    header#about-head .header_middle .header_middle-bottom .middle-bottom-left h2 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 380px) {
    header .header_middle h1 {
        font-size: 34px;
    }
    header .header_middle h2 {
        font-size: 30px;
    }
    header .header_bottom .header-bottom-content p {
        color: #fff;
        font-size: 16px;
    }
    #partners .partners-logo a {
        width: 24.11%;
    }
    #different .different-content .different-item .different-item-text p {
        padding-right: 0px;
    }
    #ushift-works h2 {
        font-size: 25px;
        padding-bottom: 20px;
    }
    #ushift-works .ushift-works-item {
        padding-bottom: 20px;
    }
    
    #different h2 {
        font-size: 25px;
    }
    #testimonial h2 {
        font-size: 25px;
    }
    #testimonial .testimonial-item p {
        padding-right: 10px;
        padding-left: 10px;
    }
    #stand-for h2 {
        font-size: 25px;
    }
    footer .footer-right p {
        font-size: 11px;
    }
    footer .footer-right ul li a {
        padding: 1px 1px;
        font-size: 11px;
    }
    /*How It Works page*/
    #howitworks h2 {
        font-size: 21px;
    }
    #howitworks .employers-faq .go-staff a {
        font-size: 21px;
    }
    #howitworks .employers-faq .faq-title h2 {
        font-size: 21px;
    }
    .faq-question-wrapper .question-text h3 {
        font-size: 19px;
    }
    .faq-question-wrapper .question-text .step p.step-no {
        font-size: 14px;
    }
    /* =====About Us=========*/
    header#about-head .header_middle h1 {
        font-size: 20px;
    }
    header#about-head .header_middle .header_middle-bottom .middle-bottom-left h2 {
        font-size: 12px;
    }
    header#about-head .header_middle .header_middle-bottom .middle-bottom-right p:first-child {
        font-size: 13px;
        padding-top: 0;
    }
}
