.box-gray {
  background-color: #f7f7f7;
  padding-top: 25px;
  margin-top: 2px; }

.space-bottom {
  margin-bottom: 15px; }

img {
  max-width: 100%; }

.box-search {
  max-width: 450px; }
  .box-search #search {
    max-width: calc(100% - 50px);
    margin-bottom: 5px;
    height: 30px;
    float: left; }
  .box-search i {
    margin-top: 5px;
    margin-left: 10px; }

.row .box-search {
  margin-top: 10px !important; }
.row .box-login {
  margin-top: 10px;
  float: right; }
  .row .box-login .signup {
    padding-left: 10px;
    padding-right: 10px; }

footer .container {
  width: 100%;
  max-width: 1240px; }

.menu-list-job {
  height: 35px;
  line-height: 35px; }
  .menu-list-job a.button-collapse i {
    line-height: 39px; }
  .menu-list-job ul li a {
    letter-spacing: -0.04em;
    padding: 0px 8px;
    color: #555555;
    font-size: 0.9rem; }
    .menu-list-job ul li a:hover {
      color: #000;
      text-decoration: inherit; }

.sub-category {
  margin-top: 6px !important;
  padding: 0px !important;
  border: 1px #eeeeee solid; }
  .sub-category .title {
    font-size: 1.56rem;
    margin: 0px;
    padding: 12px;
    border-bottom: 1px #eeeeee solid; }
  .sub-category ul {
    padding: 12px; }
    .sub-category ul li a {
      display: block;
      width: 100%;
      color: #555555;
      padding: 5px;
      border-bottom: 1px #eeeeee solid; }
      .sub-category ul li a:hover {
        color: #000;
        text-decoration: inherit;
        background: #eeeeee; }
    .sub-category ul li:last-child a {
      border-bottom: none; }

.list-jobs .card .card-title h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin: 0px; }
.list-jobs .card .card-content {
  padding: 7px;
  position: inherit; }
  .list-jobs .card .card-content .card-title h3 {
    font-size: 15px;
    font-weight: 300;
    margin: 0px; }
  .list-jobs .card .card-content .card-title .button-open {
    position: absolute;
    top: 5px;
    right: 5px; }
.list-jobs .card p {
  font-weight: 300; }
.list-jobs .card .prince {
  clear: both;
  font-size: 18px;
  margin-top: 5px; }
  .list-jobs .card .prince a {
    font-size: 15px; }
    .list-jobs .card .prince a i {
      color: #c6c6c6; }
  .list-jobs .card .prince span {
    color: #00b22d;
    font-weight: bold; }
    .list-jobs .card .prince span i {
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 400; }
.list-jobs .card .button-close {
  position: absolute;
  right: 5px;
  top: 5px; }

.box-job-page {
  background-color: #f7f7f7;
  padding-top: 25px;
  margin-top: 2px;
  font-size: 14px; }
  .box-job-page h1,
  .box-job-page h2,
  .box-job-page h3,
  .box-job-page h4 {
    font-size: 20px; }
  .box-job-page .box-job-detail {
    float: left;
    padding: 15px 0px 15px 0px;
    width: 100%;
    box-shadow: 0px 0px 5px #ddd;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 2px; }
    .box-job-page .box-job-detail .title h2 {
      font-size: 20px; }
    .box-job-page .box-job-detail .box-detail-second {
      padding-bottom: 10px; }
      .box-job-page .box-job-detail .box-detail-second ul {
        padding-bottom: 15px; }
    .box-job-page .box-job-detail .shortlist {
      margin-right: 15px; }
      .box-job-page .box-job-detail .shortlist a {
        text-transform: inherit;
        padding-left: 10px;
        padding-right: 10px;
        height: 25px;
        line-height: 25px; }
    .box-job-page .box-job-detail .available h3,
    .box-job-page .box-job-detail .available h4 {
      font-size: 20px; }
    .box-job-page .box-job-detail .available .calendar-detail {
      padding: 2px; }
      .box-job-page .box-job-detail .available .calendar-detail .row {
        padding: 2px;
        border-radius: 2px; }
      .box-job-page .box-job-detail .available .calendar-detail .title {
        margin: 2px; }
      .box-job-page .box-job-detail .available .calendar-detail a {
        display: block;
        margin: 2px;
        padding: 6px 10px;
        border-radius: 3px; }
        .box-job-page .box-job-detail .available .calendar-detail a p {
          margin: 0px; }
    .box-job-page .box-job-detail .available .list-button .row {
      max-width: 450px;
      margin: 0 auto;
      margin-top: 20px; }
      .box-job-page .box-job-detail .available .list-button .row .btn {
        width: 20%;
        float: left;
        box-shadow: none;
        text-transform: inherit;
        padding: 0px 5px;
        border-radius: 0px;
        font-size: 13px; }
        .box-job-page .box-job-detail .available .list-button .row .btn i {
          font-size: inherit; }
        .box-job-page .box-job-detail .available .list-button .row .btn:first-child {
          border-radius: 5px 0px 0px 5px;
          font-weight: bold;
          font-size: 15px; }
        .box-job-page .box-job-detail .available .list-button .row .btn:last-child {
          border-radius: 0px 5px 5px 0px;
          font-weight: bold;
          font-size: 15px; }
        .box-job-page .box-job-detail .available .list-button .row .btn span {
          font-size: 18px; }
    .box-job-page .box-job-detail .available .note-shortlisted span {
      font-size: 13px; }
  .box-job-page .related-box .related-list .related-detail {
    padding: 0px;
    margin-bottom: 10px; }
    .box-job-page .related-box .related-list .related-detail .related-detail-box {
      margin: 5px; }
      .box-job-page .related-box .related-list .related-detail .related-detail-box p {
        margin: 0px;
        font-size: 11px;
        padding-left: 5px;
        padding-right: 5px; }
      .box-job-page .related-box .related-list .related-detail .related-detail-box a {
        color: #333; }
      .box-job-page .related-box .related-list .related-detail .related-detail-box .img-thumbnail {
        border: 1px #aaa solid;
        background-size: contain;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        line-height: 0px;
        position: relative; }
        .box-job-page .related-box .related-list .related-detail .related-detail-box .img-thumbnail img {
          height: auto;
          width: 100%; }
        .box-job-page .related-box .related-list .related-detail .related-detail-box .img-thumbnail .tag-text {
          position: absolute;
          bottom: -8px;
          right: 0px;
          text-shadow: 2px 2px 2px white;
          background: rgba(255, 255, 255, 0.5);
          padding: 5px;
          line-height: 5px;
          border-radius: 10px;
          font-size: 9px;
          color: #000; }
      .box-job-page .related-box .related-list .related-detail .related-detail-box .title {
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 0px; }
      .box-job-page .related-box .related-list .related-detail .related-detail-box .information-shop {
        padding: 5px; }
  .box-job-page .bid-box {
    padding: 0px; }
    .box-job-page .bid-box .navbar-title p {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px; }
    .box-job-page .bid-box .row-people {
      border: 1px solid #ddd;
      border-top: none; }
      .box-job-page .bid-box .row-people .qualified {
        padding: 0px; }
        .box-job-page .bid-box .row-people .qualified .qualified-avatar {
          width: 120px; }
          .box-job-page .bid-box .row-people .qualified .qualified-avatar .avatar {
            width: 100%;
            height: auto;
            margin-top: 10px;
            max-width: 120px; }
          .box-job-page .bid-box .row-people .qualified .qualified-avatar .portfolio {
            margin: 0px; }
        .box-job-page .bid-box .row-people .qualified a {
          color: #1976D2; }
        .box-job-page .bid-box .row-people .qualified .qualified-information {
          width: calc(100% - 120px); }
          .box-job-page .bid-box .row-people .qualified .qualified-information .list-description span {
            font-size: 13px;
            padding-right: 5px; }
          .box-job-page .bid-box .row-people .qualified .qualified-information .list-description .name {
            font-size: 17px; }
          .box-job-page .bid-box .row-people .qualified .qualified-information .text-description {
            font-size: 13px;
            line-height: 16px; }
      .box-job-page .bid-box .row-people .price b {
        font-size: 20px; }
      .box-job-page .bid-box .row-people .price span {
        font-size: 13px; }

.sidebar-job h1 {
  font-size: 35px; }
.sidebar-job h3 {
  font-size: 20px; }
.sidebar-job .logo-shop {
  margin-top: 10px; }
.sidebar-job .tag-category .list-cate a {
  text-transform: inherit;
  padding-left: 10px;
  padding-right: 10px;
  height: 25px;
  line-height: 25px; }

@media only screen and (min-width: 993px) {
  .container-bt {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    overflow: auto; } }
@media only screen and (min-width: 993px) {
  .menu-list-job ul {
    height: 100%; }
    .menu-list-job ul li {
      height: 100%; }
      .menu-list-job ul li a {
        height: 100%; } }
@media only screen and (max-width: 600px) {
  .box-job-page .bid-box .row-people .qualified .qualified-avatar {
    width: 100%; }
  .box-job-page .bid-box .row-people .qualified .qualified-information {
    width: 100%; } }

/*# sourceMappingURL=style_dev.css.map */
