<div class="application-paginator">
    <ul>
        <li>
            <a ng-click="page = page - 1" ng-show="page > 1"><i class="material-icons">keyboard_arrow_left</i></a>
        </li>
        <li>Page <span ng-bind="page"></span> of <span ng-bind="data.getTotalPages()"></span></li>
        <li>
            <a ng-click="page = page + 1" ng-show="page < data.getTotalPages()"><i class="material-icons">keyboard_arrow_right</i></a>
        </li>
    </ul>
</div>
