<nav class="breadcrumb-navbar" ng-if="items | hasItem">
    <div class="container">
        <div class="nav-wrapper">
            <div class="col s12">
                <a ng-repeat="item in items" class="breadcrumb" ng-class="{'breadcrumb-item-first': $first}" ng-bind="item.name" ng-href="{{item.href}}"></a>
            </div>
        </div>
    </div>
</nav>
