<img ng-src="{{ conversation.getReceiver().getImage() }}" class="circle">
<div class="conversation-item-content">
    <div ng-if="type != 'notification'">
        <a ui-sref="app.inbox.message({conversation_id: conversation.getId()})" class="title" ng-bind="conversation.getTitle()"></a>
        <p><strong ng-bind="conversation.getReceiver().getUsername()"></strong></p>
    </div>
    <p ng-if="lastMessage.getType() == 1" ng-bind="lastMessage.getContent()"></p>
    <p ng-if="lastMessage.getType() == 2">
        The job has been completed
    </p>
    <div ng-if="lastMessage.getType() === 4">
        <p ng-if="lastMessage.getSenderId() == user.getId()">
            You have sent a application
        </p>
        <p ng-if="lastMessage.getSenderId() != user.getId()">
            You have new application
        </p>
    </div>
    <div ng-if="lastMessage.getType() === 5">
        <p ng-if="type == 'notification'">
            <span ng-if="user.getId() === lastMessage.getSenderId() && lastMessage.isAcceptNewApplication()">You accepted a new application</span>
            <span ng-if="user.getId() === lastMessage.getSenderId() && !lastMessage.isAcceptNewApplication()">The application has been cancelled</span>
            <span ng-if="user.getId() !== lastMessage.getSenderId() && lastMessage.isAcceptNewApplication()">Your application has been accepted</span>
            <span ng-if="user.getId() !== lastMessage.getSenderId() && !lastMessage.isAcceptNewApplication()">Your application has been cancelled</span>
        </p>
        <p ng-if="type == 'inbox'">
            <span ng-if="user.getId() === lastMessage.getSenderId() && lastMessage.isAcceptNewApplication()">You accepted a new application</span>
            <span ng-if="user.getId() === lastMessage.getSenderId() && !lastMessage.isAcceptNewApplication()">The application has been cancelled</span>
            <span ng-if="user.getId() !== lastMessage.getSenderId() && lastMessage.isAcceptNewApplication()">Your application has been accepted</span>
            <span ng-if="user.getId() !== lastMessage.getSenderId() && !lastMessage.isAcceptNewApplication()">Your application has been cancelled</span>
        </p>

    </div>
</div>
