<ul class="pagination right pagination-box">
    <li ng-show="page !== 1" class="waves-effect" ng-click="prev()"><a href="javascript:;"><i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect active">
        Page <span ng-bind="page"></span>
    </li>
    <li class="waves-effect" ng-click="next(nextPage)"><a><i class="material-icons">chevron_right</i></a></li>
</ul>
