<ul class="pagination right-align right pagination-box" ng-show="data.getTotalPages() > 1">
	<li ng-show="firstPage !== undefined" class="waves-effect" ng-click="goto(firstPage)"><a><i class="material-icons">first_page</i></a></li>
	<li ng-show="prevPage !== undefined" class="waves-effect" ng-click="goto(prevPage)"><a href="javascript:;"><i class="material-icons">chevron_left</i></a></li>
	<li class="waves-effect active" ng-click="goto(currentPage)">
        <a ng-bind="currentPage.number"></a>
    </li>
	<li ng-show="nextPage !== undefined" class="waves-effect" ng-click="goto(nextPage)"><a href="javascript:;"><i class="material-icons">chevron_right</i></a></li>
	<li ng-show="lastPage !== undefined" class="waves-effect" ng-click="goto(lastPage)"><a href="javascript:;"><i class="material-icons">last_page</i></a></li>
</ul>
