<div class="card">
    <div class="card-content white-text">
        <div class="col s12">
            <div class="mdl-stepper-horizontal-alternative">
                <div class="mdl-stepper-step step-done" ng-click="vm.$parent.previous()">
                    <div class="mdl-stepper-circle"><span>1</span></div>
                    <div class="mdl-stepper-title">General Informations</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step active-step">
                    <div class="mdl-stepper-circle"><span>2</span></div>
                    <div class="mdl-stepper-title">Company Informations</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>3</span></div>
                    <div class="mdl-stepper-title">Profile Created</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-title blue-grey darken-1">Company Infomations</div>
    <div class="card-content white-text">
        <div class="col s12">
            <form id="update-profile-form" name="vm.ProfileUpdateForm" ng-submit="vm.ProfileUpdateForm.$valid && vm.$parent.update(vm.profile)" update-text-fields novalidate>
                <div class="row">
                    <md-input-container class="col s12">
                        <label class="required">Company Name</label>
                        <input type="text" ng-model="vm.profile.employer.company_name" name="company_name" required ng-maxlength="100">
                        <div class="errors">
                            <span ng-show="vm.ProfileUpdateForm.$submitted && vm.ProfileUpdateForm.company_name.$error.required">Required</span>
                            <span ng-show="vm.ProfileUpdateForm.$submitted && vm.ProfileUpdateForm.company_name.$error.maxlength">The value is too long</span>
                        </div>
                    </md-input-container>
                </div>
                <div class="row">
                    <md-input-container class="col s12">
                        <label class="required">Company Address</label>
                        <input type="text" ng-model="vm.profile.employer.company_address" name="company_address" required>
                        <div class="errors">
                            <span ng-show="vm.ProfileUpdateForm.$submitted && vm.ProfileUpdateForm.company_address.$error.required">Required</span>
                        </div>
                    </md-input-container>
                </div>
                <div class="row">
                    <md-input-container class="col s12 m6">
                        <label class="required">Number of Outlets</label>
                        <input type="text" ng-model="vm.profile.employer.number_of_outlets" name="number_of_outlets" required>
                        <div class="errors">
                            <span ng-show="vm.ProfileUpdateForm.$submitted && vm.ProfileUpdateForm.number_of_outlets.$error.required">Required</span>
                        </div>
                    </md-input-container>
                    <md-input-container class="col s12 m6">
                        <label class="required">Registed Number</label>
                        <input type="text" ng-model="vm.profile.employer.registed_number" name="registed_number" required ng-maxlength="15">
                        <div class="errors">
                            <span ng-show="vm.ProfileUpdateForm.$submitted && vm.ProfileUpdateForm.registed_number.$error.required">Required</span>
                            <span ng-show="vm.ProfileUpdateForm.$submitted && vm.ProfileUpdateForm.registed_number.$error.maxlength">The value is too long</span>
                        </div>
                    </md-input-container>
                </div>
                <div class="row">
                    <md-input-container class="col s12">
                        <label class="required">Company Main Activity</label>
                        <input type="text" ng-model="vm.profile.employer.company_main_activity" name="company_main_activity" required>
                        <div class="errors">
                            <span ng-show="vm.ProfileUpdateForm.$submitted && vm.ProfileUpdateForm.company_main_activity.$error.required">Required</span>
                        </div>
                    </md-input-container>
                </div>
                <div class="row">
                    <md-input-container class="col s12 m6">
                        <label class="required">Contact</label>
                        <input type="text" ng-model="vm.profile.employer.preferred_contact_method" name="preferred_contact_method" required>
                        <div class="errors">
                            <span ng-show="vm.ProfileUpdateForm.$submitted && vm.ProfileUpdateForm.preferred_contact_method.$error.required">Required</span>
                        </div>
                    </md-input-container>
                    <md-input-container class="col s12 m6">
                        <label class="required">Contact Time</label>
                        <input type="text" ng-model="vm.profile.employer.preferred_contact_time" name="preferred_contact_time" required>
                        <div class="errors">
                            <span ng-show="vm.ProfileUpdateForm.$submitted && vm.ProfileUpdateForm.preferred_contact_time.$error.required">Required</span>
                        </div>
                    </md-input-container>
                </div>
                <div class="row">
                    <md-input-container class="col s12">
                        <label>Company About</label>
                        <textarea ng-model="vm.profile.employer.company_about"></textarea>
                    </md-input-container>
                </div>
            </form>
        </div>
    </div>
    <div class="card-action">
        <div class="row">
            <div class="col s4 left-align">
                <button ng-click="vm.$parent.skip()" class="btn btn-flat grey">Skip</button>
            </div>
            <div class="col s4">

            </div>
            <div class="col s4 right-align">
                <a ng-click="vm.$parent.previous()">Previous</a>
                <button form="update-profile-form" class="btn btn-flat">Save</button>
            </div>
        </div>

        <!--        <a ng-click="vm.$parent.skip()">Skip</a>-->
    </div>
</div>
