<div class="card">
    <div class="card-content white-text">
        <div class="col s12 center-align">
            <div class="mdl-stepper-horizontal-alternative">
                <div class="mdl-stepper-step active-step">
                    <div class="mdl-stepper-circle"><span>1</span></div>
                    <div class="mdl-stepper-title">General Informations</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>2</span></div>
                    <div class="mdl-stepper-title">Company Informations</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>3</span></div>
                    <div class="mdl-stepper-title">Profiles Deployed</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="update-profile-form" name="vm.ProfileUpdateForm" ng-submit="vm.ProfileUpdateForm.$valid && vm.$parent.update(vm.profile)" update-text-fields novalidate>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-title blue-grey darken-1">General Informations</div>
            <div class="card-content white-text">
                <div class="row">
                    <div class="input-field col s12 upload-avatar">
                        <div class="image-preview">
                            <user-profile-image image="vm.profile.image"></user-profile-image>
                        </div>
                        <a class="change-avatar-btn" dropzone before-upload="vm.beforeUploadAvatar" on-success="vm.uploadAvatar"><i class="material-icons">mode_edit</i> Change your Avatar</a>
                        <i class="vertical-middle preUploadAvatarStatus material-icons small red-text" ng-show="vm.preUploadAvatarMessage !== undefined">error</i>
                    </div>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-title blue-grey darken-1">General Informations</div>
            <div class="card-content white-text">
                <div class="row">
                    <div class="input-field col s12 upload-avatar">
                        <div class="cover-preview">
                            <img ng-src="{{vm.profile.cover}}">
                        </div>
                        <a class="change-avatar-btn" dropzone before-upload="vm.beforeUploadCover" on-success="vm.uploadCover"><i class="material-icons">mode_edit</i> Change your Cover</a>
                        <i class="vertical-middle preUploadAvatarStatus material-icons small red-text" ng-show="vm.preUploadAvatarMessage !== undefined">error</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m8">
        <div class="card">
            <div class="card-title blue-grey darken-1">General Informations</div>
            <div class="card-content white-text">
                <div class="col s12">
                    <div class="row">
                        <md-input-container class="col s12 m6">
                            <label class="required">First Name</label>
                            <input id="first-name" type="text" ng-model="vm.profile.first_name" name="first_name" required ng-maxlength="20">
                            <div class="errors">
                                <span ng-show="vm.ProfileUpdateForm.$submitted && vm.ProfileUpdateForm.first_name.$error.required">Required</span>
                                <span ng-show="vm.ProfileUpdateForm.$submitted && vm.ProfileUpdateForm.first_name.$error.maxlength">The value is too long</span>
                            </div>
                        </md-input-container>
                        <md-input-container class="col s12 m6">
                            <label class="required">Last Name</label>
                            <input id="last-name" type="text" ng-model="vm.profile.last_name" name="last_name" required ng-maxlength="20">
                            <div class="errors">
                                <span ng-show="vm.ProfileUpdateForm.$submitted && vm.ProfileUpdateForm.last_name.$error.required">Required</span>
                                <span ng-show="vm.ProfileUpdateForm.$submitted && vm.ProfileUpdateForm.last_name.$error.maxlength">The value is too long</span>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="row">
                        <md-input-container class="col s12 m6">
                            <label>Gender</label>
                            <md-select ng-model="vm.profile.gender" aria-label="Gender">
                                <md-select-label>{{ vm.profile.gender}}</md-select-label>
                                <md-option ng-value="gender.value" ng-repeat="gender in vm.genders">{{gender.display}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="col s12 m6">
                            <label>Birthday (YYYY-MM-DD)</label>
                            <input type="text" ng-model="vm.profile.birth" name="birthday" ui-mask="9999-99-99" ui-mask-placeholder-char="space">
                        </md-input-container>
                    </div>
                    <div class="row">
                        <md-input-container class="col s12">
                            <label>Mobile</label>
                            <input type="text" ng-model="vm.profile.mobile" name="mobile" ng-pattern="/^(\+\d{2,3})?\s?(\d{6,12})$/">
                            <div class="errors">
                                <span ng-show="vm.ProfileUpdateForm.$submitted && vm.ProfileUpdateForm.mobile.$error.pattern">Please enter a valid mobile number +xx xxxxxxxx</span>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="row">
                        <md-input-container class="col s12">
                            <label>Address</label>
                            <input type="text" ng-model="vm.profile.address" name="address">
                        </md-input-container>
                    </div>
                    <div class="row">
                        <md-input-container class="col s12 m6">
                            <label>City</label>
                            <input type="text" ng-model="vm.profile.city" name="city">
                        </md-input-container>
                        <md-input-container class="col s12 m6">
                            <label>Country</label>
                            <input type="text" ng-model="vm.profile.country" name="country">
                        </md-input-container>
                    </div>
                </div>

            </div>
        </div>

        <div class="card-action">
            <div class="row">
                <div class="col s6 m4 left-align">
                    <button ng-click="vm.$parent.skip()" class="btn btn-flat grey">Skip</button>
                </div>

                <div class="col s6 m4 offset-m4 right-align">
                    <button form="update-profile-form" class="btn btn-flat">Continue</button>
                </div>
            </div>

            <!--        <a ng-click="vm.$parent.skip()">Skip</a>-->
        </div>
    </div>
</form>
<!--    

    <div class="card-action">
        <button form="update-profile-form" class="btn btn-flat">Save & Next</button>
        <a ng-click="vm.$parent.skip()">Skip</a>
    </div>

-->
