<div class="card">
    <div class="card-content white-text">
        <div class="col s12">
            <div class="mdl-stepper-horizontal-alternative">
                <div class="mdl-stepper-step step-done" ng-click="vm.$parent.previous()">
                    <div class="mdl-stepper-circle"><span>1</span></div>
                    <div class="mdl-stepper-title">General Informations</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step active-step">
                    <div class="mdl-stepper-circle"><span>2</span></div>
                    <div class="mdl-stepper-title">Interested In</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>3</span></div>
                    <div class="mdl-stepper-title">Working Experiences</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>3</span></div>
                    <div class="mdl-stepper-title">Profile Created</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-title blue-grey darken-1">Interested In</div>
    <div class="card-content white-text">
        <div class="col s12">
            <form id="update-profile-form" name="vm.ProfileUpdateForm" ng-submit="vm.ProfileUpdateForm.$valid && vm.$parent.update(vm.profile)" update-text-fields novalidate>
                <div class="row">
                    <md-input-container class="col s12 m6">
                        <label>Select your industry *</label>
                        <md-select ng-model="vm.profile.employee.industry" aria-label="industry">
                            <md-option ng-repeat="industry in vm.industries" ng-value="industry">{{industry.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="col s12 m6">
                        <label>Select your position *</label>
                        <md-select name="perferred_positions" ng-model="vm.profile.employee.preferred_positions[0]" aria-label="preferred position" required>
                            <md-option ng-value="position" ng-repeat="position in vm.preferred_positions">{{position.getName()}}</md-option>
                        </md-select>
                        <div class="errors">
                            <span ng-show="vm.ProfileUpdateForm.$submitted && vm.ProfileUpdateForm.perferred_positions.$error.required">Required</span>
                        </div>
                    </md-input-container>
                </div>
                <div class="row">
                    <md-input-container class="col s12 m6">
                        <label>What type of job you are looking for</label>
                        <md-select ng-model="vm.profile.employee.kind_of_work" aria-label="kind_of_work">
                            <md-option ng-repeat="kind_of_work in vm.kind_of_works" ng-value="kind_of_work">{{kind_of_work}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="col s12 m6">
                        <label>Select your location</label>
                        <md-select ng-model="vm.profile.employee.preferred_locations" aria-label="preferred_locations" multiple="true">
                            <md-option ng-repeat="preferred_location in vm.preferred_locations" ng-value="preferred_location">{{preferred_location.name}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="row">
                    <md-input-container class="col s12 m6">
                        <md-checkbox ng-model="vm.profile.employee.allow_to_work_in_sg" aria-label="allow_to_work_in_sg">
                            Allow to work in Singapore
                        </md-checkbox>
                    </md-input-container>
                    <md-input-container class="col s12 m6">
                        <label>How many hour you can work each week?</label>
                        <input type="text" ng-model="vm.profile.employee.hours_per_week" name="hours_per_week" ng-pattern="/^\d{1,4}$/">
                        <div class="errors">
                            <span ng-show="vm.ProfileUpdateForm.$submitted && vm.ProfileUpdateForm.hours_per_week.$error.pattern">Please enter a valid number</span>
                        </div>
                    </md-input-container>
                </div>
            </form>
        </div>
    </div>
<!--    <div class="card-action">
        <button form="update-profile-form" class="btn btn-flat">Save & Next</button>
        <a ng-click="vm.$parent.skip()">Skip</a>
    </div>-->
    <div class="card-action">
        <div class="row">
            <div class="col s4 left-align">
                <button ng-click="vm.$parent.skip()" class="btn btn-flat grey">Skip</button>
            </div>
            <div class="col s4">

            </div>
            <div class="col s4 right-align">
                <a ng-click="vm.$parent.previous()">Previous</a>
                <button form="update-profile-form" class="btn btn-flat">Save</button>
            </div>
        </div>

        <!--        <a ng-click="vm.$parent.skip()">Skip</a>-->
    </div>
</div>
