<div class="row" ng-if="vm.profile.isEmployer()">
    <div class="card">
        <div class="card-content white-text">
            <div class="col s12">
                <div class="mdl-stepper-horizontal-alternative">
                    <div class="mdl-stepper-step step-done" ng-click="vm.$parent.previous()">
                        <div class="mdl-stepper-circle"><span>1</span></div>
                        <div class="mdl-stepper-title">General Informations</div>
                        <div class="mdl-stepper-bar-left"></div>
                        <div class="mdl-stepper-bar-right"></div>
                    </div>
                    <div class="mdl-stepper-step step-done">
                        <div class="mdl-stepper-circle"><span>2</span></div>
                        <div class="mdl-stepper-title">Company Informations</div>
                        <div class="mdl-stepper-bar-left"></div>
                        <div class="mdl-stepper-bar-right"></div>
                    </div>
                    <div class="mdl-stepper-step active-step">
                        <div class="mdl-stepper-circle"><span>3</span></div>
                        <div class="mdl-stepper-title">Profile Created</div>
                        <div class="mdl-stepper-bar-left"></div>
                        <div class="mdl-stepper-bar-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" ng-if="vm.profile.isEmployee()">
    <div class="card-content white-text">
        <div class="col s12">
            <div class="mdl-stepper-horizontal-alternative">
                <div class="mdl-stepper-step step-done" ng-click="vm.$parent.previous()">
                    <div class="mdl-stepper-circle"><span>1</span></div>
                    <div class="mdl-stepper-title">General Informations</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step active-step">
                    <div class="mdl-stepper-circle"><span>2</span></div>
                    <div class="mdl-stepper-title">Interested In</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step step-done">
                    <div class="mdl-stepper-circle"><span>3</span></div>
                    <div class="mdl-stepper-title">Working Experiences</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step active-step">
                    <div class="mdl-stepper-circle"><span>3</span></div>
                    <div class="mdl-stepper-title">Profile Created</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <p ng-bind="vm.message"></p>
    </div>
    <div class="card-action">
        <a ng-if="vm.profile.isEmployee()" ui-sref="app.search.sidebar.all">Work now</a>
        <a ng-if="vm.profile.isEmployer()" ui-sref="app.dashboard.new-job">Post a Job</a>
    </div>
</div>

