<div class="card">
    <div class="card-content white-text">
        <div class="col s12">
            <div class="mdl-stepper-horizontal-alternative">
                <div class="mdl-stepper-step step-done" ng-click="vm.$parent.previous()">
                    <div class="mdl-stepper-circle"><span>1</span></div>
                    <div class="mdl-stepper-title">General Informations</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step step-done"  ng-click="vm.$parent.previous()">
                    <div class="mdl-stepper-circle"><span>2</span></div>
                    <div class="mdl-stepper-title">Interested In</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step active-step">
                    <div class="mdl-stepper-circle"><span>3</span></div>
                    <div class="mdl-stepper-title">Working Experiences</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step">
                    <div class="mdl-stepper-circle"><span>3</span></div>
                    <div class="mdl-stepper-title">Profile Created</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="update-profile-form" name="vm.ProfileUpdateForm" ng-submit="vm.ProfileUpdateForm.$valid && vm.updateLastPosition(vm.profile, vm.last_positions)" update-text-fields novalidate>

    <div class="card">
        <div class="card-title blue-grey darken-1">Working Experiences</div>
        <div class="card-content">
            <div class="col s12">
                <div class="row">
                    <md-input-container class="col s12 m6">
                        <label>Select your education level *</label>
                        <md-select ng-model="vm.profile.employee.education_level" aria-label="education_level">
                            <md-option ng-repeat="item in vm.education_levels" ng-value="item">{{item.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="col s12 m6">
                        <label>Select your experiences *</label>
                        <md-select name="working_experience" ng-model="vm.profile.employee.working_experience" aria-label="working_experience" required>
                            <md-option ng-value="item" ng-repeat="item in vm.working_experiences">{{item.getName()}}</md-option>
                        </md-select>
                        <div class="errors">
                            <span ng-show="vm.ProfileUpdateForm.$submitted && vm.ProfileUpdateForm.perferred_positions.$error.required">Required</span>
                        </div>
                    </md-input-container>
                </div>
                <div class="row">
                    <p><strong>Last positions</strong></p>
                    <div class="input-field col s12 last-position">
                        <table class="responsive-table last-position-table">
                            <thead>
                                <tr>
                                    <th>Role</th>
                                    <th>Company</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Reason of leaving</th>
                                    <th>Name of manager</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.profile.employee.last_positions" ng-show="vm.profile.employee.last_positions | isArray">
                                    <td ng-bind="item.getRole()"></td>
                                    <td ng-bind="item.getCompanyName()"></td>
                                    <td ng-bind="item.getStartDate() | timeFormat:'d MMMM, YYYY'"></td>
                                    <td ng-bind="item.getEndDate() | timeFormat:'d MMMM, YYYY'"></td>
                                    <td ng-bind="item.getReasonOfLeaving()"></td>
                                    <td ng-bind="item.getNameOfManager()"></td>
                                    <td><a ng-click="vm.deleteLastPosition($index, item)" href="javascript:;" class="red-text"><i class="material-icons">delete</i></a></td>
                                </tr>
                                <tr ng-repeat="item in vm.last_positions">
                                    <td>
                                        <input type="text" ng-model="item.role">
                                    </td>
                                    <td>
                                        <input type="text" ng-model="item.company_name">
                                    </td>
                                    <td>
                                        <input type="text" pick-a-date="item.start_date" pick-a-date-options="{selectMonths:true, selectYears: 10, close: 'Accept'}" class="datepicker" max-date="vm.today" />
                                    </td>
                                    <td>
                                        <input type="text" pick-a-date="item.end_date" pick-a-date-options="{selectMonths:true, selectYears: 10, close: 'Accept'}" class="datepicker" min-date="item.start_date" max-date="vm.today"/>
                                    </td>
                                    <td>
                                        <input type="text" ng-model="item.reason_of_leaving">
                                    </td>
                                    <td>
                                        <input type="text" ng-model="item.name_of_manager">
                                    </td>
                                    <td><a ng-click="vm.deleteLastPosition($index, item)" href="javascript:;" class="red-text"><i class="material-icons">delete</i></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <a ng-click="vm.addLastPosition()" class="right btn-floating btn-large waves-effect waves-light teal lighten-1"><i class="material-icons">add</i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-action">
            <div class="row">
                <div class="col s4 left-align">
                    <button ng-click="vm.$parent.skip()" class="btn btn-flat grey">Skip</button>
                </div>
                <div class="col s4">

                </div>
                <div class="col s4 right-align">
                    <a ng-click="vm.$parent.previous()">Previous</a>
                    <button form="update-profile-form" class="btn btn-flat">Save</button>
                </div>
            </div>

            <!--        <a ng-click="vm.$parent.skip()">Skip</a>-->
        </div>
        <!--        <div class="card-action">
                    <button form="update-profile-form" class="btn btn-flat">Save & Next</button>
                    <a ng-click="vm.$parent.skip()">Skip</a>
                </div>-->
    </div>

</form>