<div id="forgot-password" update-text-fields>
    <div class="row">
        <div class="col s12 m6 l4 offset-m3 offset-l4">
            <div class="row">
                <div class="logo-image center-align">
                    <a ng-href="{{ asset('/') }}" force-reload>
                        <img ng-src="{{asset('/assets/images/logo.png')}}" alt="Ushift logo">
                    </a>
                </div>
            </div>
            <div class="forgot-password-form">
                <div class="row">
                    <form class="col s12" name="vm.forgotPasswordForm" ng-submit="vm.forgotPasswordForm.$valid && vm.forgot(email)" novalidate>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate" ng-model="email" name="email" required ng-maxlength="40" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
                                <label for="email">Email</label>
                                <div class="errors">
                                    <p class="red-text" ng-show="vm.forgotPasswordForm.$submitted && vm.forgotPasswordForm.email.$error.required">Required</p>
                                    <p class="red-text" ng-show="vm.forgotPasswordForm.$submitted && vm.forgotPasswordForm.email.$error.pattern">Please enter a valid email address</p>
                                    <p class="red-text" ng-show="vm.forgotPasswordForm.$submitted && vm.forgotPasswordForm.email.$error.maxlength">The value is too long</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="right-align">
                                <a ui-sref="user.register">Create new account</a>
                            </div>
                        </div>
                        <div class="row action-btn">
                            <button class="btn waves-effect waves-light" ng-class="{'disabled': vm.inProgress}" ng-disabled="vm.inProgress" type="submit" name="action">Forgot Password
                                <i class="material-icons right">trending_flat</i>
                                <i class="material-icons right icon-pending">replay</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
