<div id="reset-password" update-text-fields>
    <div class="row">
        <div class="col s12 m6 l4 offset-m3 offset-l4">
            <div class="row">
                <div class="logo-image center-align">
                    <a ng-href="{{ asset('/') }}" force-reload>
                        <img ng-src="{{asset('/assets/images/logo.png')}}" alt="Ushift logo">
                    </a>
                </div>
            </div>
            <div class="reset-password-form">
                <div class="row">
                    <form class="col s12" ng-submit="vm.resetPasswordForm.$valid && vm.reset(password, password_confirmation)" name="vm.resetPasswordForm" novalidate>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate" ng-model="password" name="password" required ng-minlength="4" ng-maxlength="255">
                                <label for="password">Password</label>
                                <div class="errors">
                                    <p class="red-text" ng-show="vm.resetPasswordForm.$submitted && vm.resetPasswordForm.password.$error.required">Required</p>
                                    <p class="red-text" ng-show="vm.resetPasswordForm.$submitted && vm.resetPasswordForm.password.$error.minlength">The value is too short</p>
                                    <p class="red-text" ng-show="vm.resetPasswordForm.$submitted && vm.resetPasswordForm.password.$error.maxlength">The value is too long</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password_confirmation" type="password" class="validate" ng-model="password_confirmation" name="password_confirmation" required ng-maxlength="255" data-password-verify="password">
                                <label for="password_confirmation">Password Confirmation</label>
                                <div class="errors">
                                    <p class="red-text" ng-show="vm.resetPasswordForm.$submitted && vm.resetPasswordForm.password.$error.required">Required</p>
                                    <p class="red-text" ng-show="vm.resetPasswordForm.$submitted && vm.resetPasswordForm.password.$error.maxlength">The value is too long</p>
                                    <p class="red-text" ng-show="vm.resetPasswordForm.$submitted && vm.resetPasswordForm.password_confirmation.$error.passwordVerify">Password confirmation doesn't match</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="right-align">
                                <a ui-sref="user.login">Login</a>
                            </div>
                        </div>
                        <div class="row action-btn">
                            <button class="btn waves-effect waves-light" ng-class="{'disabled': vm.inProgress}" ng-disabled="vm.inProgress" type="submit" name="action">Reset Password
                                <i class="material-icons right">trending_flat</i>
                                <i class="material-icons right icon-pending">replay</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
