<div class="message-type-normal">
    <div class="message-image">
        <img ng-if="message.getSenderId() == conversation.getReceiver().getId()" ng-src="{{ conversation.getReceiver().getImage() }}" alt="" class="circle">
        <img ng-if="message.getSenderId() == user.getId()" ng-src="{{ user.getImage() }}" alt="" class="circle">
    </div>
    <div class="message-content" ng-class="{'message-red' : message.getSenderId() == user.getId()}" >
        <div ng-bind-html="message.getContent()"></div>
    </div>
    <div ng-if="!message.getId()" class="progress">
        <div class="indeterminate"></div>
    </div>
</div>
