<div class="message-type-mark mark-completed">
    <div ng-if="user.getId() == message.getSenderId()">
        <div class="center-align">
            <p>The job has been completed</p>
            <a ui-sref="app.job({slug: job.getSlug()})" target="_blank">View job</a>
        </div>
    </div>

    <div ng-if="conversation.getReceiver().getId() == message.getSenderId()">
        <div class="center-align">
            <p>The job has been completed</p>
            <a ui-sref="app.job({slug: job.getSlug()})" target="_blank">View job</a>
        </div>
    </div>
</div>
