<div class="message-employee-send-application">
    <div ng-if="user.getId() == message.getSenderId()">
        <div class="center-align">
            <p>Your application has been submited</p>
            <a ui-sref="app.job.application({slug: job.getSlug(), user_id: message.getSenderId()})" target="_blank">View job</a>
        </div>
    </div>

    <div ng-if="conversation.getReceiver().getId() == message.getSenderId()">
        <div class="center-align">
            <p>You received a new application</p>
            <a ui-sref="app.job.application({slug: job.getSlug(), user_id: message.getSenderId()})" target="_blank">View Application</a>
        </div>
    </div>
</div>
