<div class="message-employer-changed-application">
    <div ng-if="user.getId() == message.getSenderId()">
        <div class="center-align">
            <p ng-if="user.getId() === message.getSenderId() && message.isAcceptNewApplication()">You accepted a new application</p>
            <p ng-if="user.getId() === message.getSenderId() && !message.isAcceptNewApplication()">The application has been cancelled</p>
            <a ui-sref="app.job.application({slug: message.getJobSlug(), user_id: message.getEmployeeId()})" target="_blank">View application</a>
        </div>
    </div>
    <div ng-if="user.getId() != message.getSenderId()">
        <div class="center-align">
            <p ng-if="user.getId() !== lastMessage.getSenderId() && lastMessage.isAcceptNewApplication()">Your application has been accepted</p>
            <p ng-if="user.getId() !== lastMessage.getSenderId() && !lastMessage.isAcceptNewApplication()">Your application has been cancelled</p>
            <a ui-sref="app.job.application({slug: job.getSlug(), user_id: user.getId()})" target="_blank">View Application</a>
        </div>
    </div>
</div>
