@media only screen and (max-width: 768px) {
    html {
        body {
            div[ui-view="main"] {
                padding-top: 0px;
                .fixed-header,
                div[ui-view="header"] {
                    position: relative;
                    nav.breadcrumb-navbar {
                        padding-top: 10px;
                    }
                }
                div[ui-view="content"] {}
            }
            footer {
                overflow: inherit;
            }
        }
    }
}
