<div class="chatbox">
    <div class="row messages-area">
        <div class="messages">
            <div ui-view="old-messages"></div>
            <div class="messages-collection">
                <div ng-repeat="message in vm.conversation.getMessages() | orderBy:'id'" ng-if="message.getContent()">
                    <message ng-if="message.getType() == 1" countmessage="countmessage" message="message" job="vm.job" user="vm.user" conversation="vm.conversation" type="normal"></message>
                    <message ng-if="message.getType() == 2" message="message" job="vm.job" user="vm.user" conversation="vm.conversation" type="mark_job_as_completed"></message>
                    <message ng-if="message.getType() == 3" message="message" job="vm.job" user="vm.user" conversation="vm.conversation" type="mark_job_as_incompleted"></message>
                    <message ng-if="message.getType() == 4" message="message" job="vm.job" user="vm.user" conversation="vm.conversation" type="employee_send_application"></message>
                    <message ng-if="message.getType() == 5" message="message" job="vm.job" user="vm.user" conversation="vm.conversation" type="employer_change_application"></message>
                </div>
            </div>
        </div>
    </div>
    <message-input-box class="message-box row">
        <form class="col s12">
            <div class="input-field col s12">
                <i class="material-icons prefix">textsms</i>
                <textarea id="message-textarea" class="materialize-textarea" ng-model="vm.message" ng-keypress="vm.sendKeyPress($event, vm.message)"></textarea>
                <label for="message-textarea">Message</label>
            </div>
        </form>
        <div class="actions col s12 right-align">
            <a class="waves-effect waves-light btn" ng-click="vm.send(vm.message)"><i class="material-icons right">send</i>Send</a>
        </div>
    </message-input-box>
</div>
