<!-- <div class="inbox-loadmore center-align">
    <a ng-click="vm.page = vm.page + 1">Load more...</a>
</div>
<div class="">
    <ul class="collection">
        <li class="collection-item avatar" ng-repeat="message in vm.messages | orderBy:'id'" ng-if="message">
            <img ng-if="message.getSenderId() == vm.conversation.getReceiver().getId()" ng-src="{{ vm.conversation.getReceiver().getImage() }}" alt="" class="circle">
            <img ng-if="message.getSenderId() == vm.user.getId()" ng-src="{{ vm.user.getImage() }}" alt="" class="circle">
            <div ng-bind-html="message.getContent()"></div>
        </li>
    </ul>
</div>
 -->