<inbox id="inbox">
    <div class="row inbox-body">
        <div class="contacts col s12 m4 l3 hide-on-small-only">
            <div class="row">
                <ul class="collection">
                    <li class="collection-item avatar" ng-class="{ 'has-new-message': conversation.hasNewMessage(user.getId()) }" ng-repeat="conversation in conversations" ui-sref-active="active">
                        <conversation-item type="inbox" conversation="conversation"></conversation-item>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-wrapper hide-on-med-and-up" side-nav>
            <a href="#" data-activates="mobile-demo" class="button-collapse black-text"><i class="material-icons">menu</i> <span>Conversations</span></a>
            <ul class="collection side-nav" id="mobile-demo">
                <li class="collection-item avatar" ng-class="{ 'has-new-message': conversation.hasNewMessage(user.getId()) }" ng-repeat="conversation in conversations" ui-sref-active="active">
                    <conversation-item type="inbox" conversation="conversation"></conversation-item>
                </li>
            </ul>
        </div>
        <div ui-view="messages" class="col s12 m8 l9"></div>
    </div>
</inbox>
