<div class="container">
    <div class="row">
        <div class="col s12 m4 l3 sub-category hide-on-small-only" ng-include="'/frontend/js/components/search/_sidebar.tpl.html'">
            <!--            <div ng-repeat="parent_category in parent_categories">
                            <a ui-sref="app.search.sidebar.parent_category({parent_category_slug: parent_category.getSlug(), page: undefined})">
                                <p class="title"><strong ng-bind="parent_category.getName()"></strong></p>
                            </a>
                            <ul>
                                <li ng-repeat="item in categories | filterBy:['parent_id']:parent_category.getId()" ng-class="{active: $state.params.child_category_slug == item.getSlug()}">
                                    <a ui-sref="app.search.sidebar.parent_category.child_category({parent_category_slug: parent_category.getSlug(), child_category_slug: item.getSlug(), page: undefined})" ng-bind="item.getName()"></a>
                                </li>
                            </ul>
                        </div>-->
            
        </div>
        <div class="col s12 m8 l9 list-jobs">
            <div ui-view="jobs"></div>
        </div>
        <div class="col m12 l10 offset-l2 pagination">
            <pagination data="pagination"></pagination>
        </div>
    </div>
</div>
