<div class="white card list-jobs">
    <div class="navbar-title grey darken-3">
<!--        <div class="col s12 qualified">
            <p class="white-text"><strong>JOBS</strong></p>
        </div>-->
    </div>
    <preloader ng-if="vm.jobs | isUndefined"></preloader>
    <div class="job white lighten-5" ng-repeat="item in vm.jobs">
        <job item="item"></job>
    </div>
</div>
