<div id="search">
    <nav class="white search-categories">
        <div class="container">
            <div class="nav-wrapper" side-nav>
                <a href="#" data-activates="mobile-demo" class="button-collapse black-text"><i class="material-icons">menu</i></a>
<!--                <ul class="left hide-on-med-and-down">
                                        <li ng-class="{active: $state.current.name == 'app.search.sidebar.all'}">
                                            <a ui-sref="app.search.sidebar.all({page: undefined})">All</a>
                                        </li>
                    <li ng-repeat="item in categories| filterBy:['level']:1" ng-class="{active: $state.params.parent_category_slug == item.getSlug()}">
                        <a ui-sref="app.search.sidebar.parent_category({parent_category_slug: item.getSlug(), page: undefined})" ng-bind="item.getName()"></a>
                    </li>

                </ul>-->

                <md-toolbar>
                    <md-menu-bar>
                        
<!--                    <li ng-class="{active: $state.current.name == 'app.search.sidebar.all'}">
                                            <a ui-sref="app.search.sidebar.all({page: undefined})">All</a>
                                        </li>-->
                        
                        
                            <!-- Trigger element is a md-button with an icon -->
                            <button  ui-sref="app.search.sidebar.all({page: undefined})" aria-label="All jobs">
                                <span ng-class="{active: $state.current.name == 'app.search.sidebar.all'}" >All</span>
                            </button>
<!--                            <md-menu-content width="6" >
                   
                                <md-menu-item ng-repeat="item in categories | filterBy:['parent_id']:parent_category.getId()">
                                    <md-button ui-sref="app.search.sidebar.all({page: undefined})">All</md-button>
                                </md-menu-item>

                            </md-menu-content>-->
                        
                        <md-menu ng-repeat="parent_category in parent_categories">
                            <!-- Trigger element is a md-button with an icon -->
                            <button  ng-click="$mdOpenMenu()"  aria-label="Open sample menu">
                                <span ng-class="capitalize" ng-bind="parent_category.getName()"></span>
                            </button>
                            <md-menu-content width="6" >
                   
                                <md-menu-item ng-repeat="item in categories | filterBy:['parent_id']:parent_category.getId()">
                                    <md-button ui-sref="app.search.sidebar.parent_category.child_category({parent_category_slug: parent_category.getSlug(), child_category_slug: item.getSlug(), page: undefined})" ng-bind="item.getName()"></md-button>
                                </md-menu-item>

                            </md-menu-content>
                        </md-menu>
                    </md-menu-bar>
                </md-toolbar> 


                <ul class="side-nav" id="mobile-demo">
                    <li ng-class="{active: $state.current.name == 'app.search'}">
                        <a ui-sref="app.search({page: undefined})">All</a>
                    </li>
                    <li ng-repeat="item in categories| filterBy:['level']:1" ng-class="{active: $state.params.parent_category_slug == item.getSlug()}">
                        <a ui-sref="app.search.sidebar.parent_category({parent_category_slug: item.getSlug(), page: undefined})" ng-bind="item.getName()"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div ui-view="search-content"></div>
</div>
