<div class="fixed-header" ng-include="'/frontend/js/common/layouts/partials/_header.tpl.html'"></div>
<div id="register">
    <div id="choose-user-type" ng-if="!vm.role">
        <div class="row">
            <h1 class="center-align">Let's get started!</h1>
            <p class="center-align">First, tell us what you're looking for.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <!--<p class="center-align">I want to hire a freelancer</p>-->
                    <div class="center-align">
                        <button ng-click="vm.role = 'employer'" class="btn waves-effect waves-light" type="submit" name="action">I want to hire a freelancer</button>
                    </div>
                </div>
                <div class="col s12 m6">
                    <!--<p class="center-align">I'm looking for a job</p>-->
                    <div class="center-align">
                        <button ng-click="vm.role = 'employee'" class="btn waves-effect waves-light" type="submit" name="action">I'm looking for a job</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="register-form" ng-if="vm.role">
        <div class="row">
            <div class="col s12 m6 offset-m3 l4 offset-l4">
                <form name="vm.registerForm" ng-submit="vm.registerForm.$valid && vm.register(vm.user)" update-text-fields novalidate>
                    <div class="row">
                        <md-input-container class="col s12 m6">
                            <label class="required">First Name</label>
                            <input id="first-name" type="text" ng-model="vm.user.first_name" name="first_name" required ng-maxlength="20">
                            <div class="errors">
                                <span ng-show="vm.registerForm.$submitted && vm.registerForm.first_name.$error.required">Required</span>
                                <span ng-show="vm.registerForm.$submitted && vm.registerForm.first_name.$error.maxlength">The value is too long</span>
                            </div>
                        </md-input-container>
                        <md-input-container class="col s12 m6">
                            <label class="required">Last Name</label>
                            <input id="last-name" type="text" ng-model="vm.user.last_name" name="last_name" required ng-maxlength="20">
                            <div class="errors">
                                <span ng-show="vm.registerForm.$submitted && vm.registerForm.last_name.$error.required">Required</span>
                                <span ng-show="vm.registerForm.$submitted && vm.registerForm.last_name.$error.maxlength">The value is too long</span>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="row">
                        <md-input-container class="col s12">
                            <label class="required" for="email">Email</label>
                            <input id="email" type="email" ng-model="vm.user.email" name="email" required ng-maxlength="40">
                            <div class="errors">
                                <span ng-show="vm.registerForm.$submitted && vm.registerForm.email.$error.required">Required</span>
                                <span ng-show="vm.registerForm.$submitted && vm.registerForm.email.$error.email">Please enter a valid email</span>
                                <span ng-show="vm.registerForm.$submitted && vm.registerForm.email.$error.maxlength">The value is too long</span>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="row">
                        <md-input-container class="col s12">
                            <label class="required" for="email">Password</label>
                            <input id="email" type="password" class="validate" ng-model="vm.user.password" name="password" required ng-maxlength="40">
                            <div class="errors">
                                <span ng-show="vm.registerForm.$submitted && vm.registerForm.password.$error.required">Required</span>
                                <span ng-show="vm.registerForm.$submitted && vm.registerForm.password.$error.maxlength">The value is too long</span>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="row">
                        <ul class="form-links">
                            <li class="form-links-item left">
                                <a ui-sref="user.register" ng-click="vm.role = undefined">Back</a>
                            </li>
                            <li class="form-links-item right">
                                <a ui-sref="user.login">Already have account</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row action-btn">
                        <button class="btn waves-effect waves-light" ng-class="{'disabled': vm.inProgress}" ng-disabled="vm.inProgress" type="submit" name="action">register
                            <i class="material-icons right">trending_flat</i>
                            <i class="material-icons right icon-pending">replay</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
