<div class="white">
    <div class="container">
        <nav ng-if="!isLoggedIn">
            <div class="nav-wrapper">
                <a ui-sref="app.homepage" class="brand-logo"><img ng-src="{{ asset('/assets/images/logo.png')}}" alt="Ushift logo" /></a>
                <div ng-if="!isLoggedIn">
                    <ul class="right hide-on-med-and-down" ng-if="!isLoggedIn">
                        <li ng-show="$state.current.name !== 'user.login'">
                            <a class="black-text login" ui-sref="user.login">Log in</a>
                        </li>
                        <li ng-show="$state.current.name !== 'user.register'">
                            <a class="waves-effect waves-light btn signup" ui-sref="user.register">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row menu-main-top" ng-if="isLoggedIn">
            <div class="logo-main">
                <a ui-sref="app.dashboard" class="brand-logo"><img ng-src="{{ asset('/assets/images/logo.png')}}" alt="Ushift logo" /></a>
            </div>
            <div class="box-login right-align right" ng-if="isLoggedIn" user-menu-toggle>
                <ul class="header-btn right-align">
                    <li>
                        <div class="user-avatar" toggle-dropdown="user-menu-dropdown">
                            <user-profile-image image="user.getImage()" width="42" height="42"></user-profile-image>
                        </div>
                        <div class="user-dropdown white card" id="user-menu-dropdown">
                            <ul>
                                <li>
                                    <div class="user-information">
                                        <h4 class="nickname"><strong ng-bind="vm.user.first_name"></strong></h4>
                                        <small ng-bind="vm.user.email"></small>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li ng-show="$state.current.name.indexOf('app.dashboard') < 0"><a ui-sref="app.dashboard">Dashboard</a></li>
                                <li ng-show="$state.current.name != 'app.profile'"><a ui-sref="app.profile({user_id: 'me'})">Profile</a></li>
                                <li class="divider"></li>
                                <li><a href="#" ng-click="logout()">Log out</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a ng-if="user.isEmployee()" ui-sref="app.search.sidebar.all" class="first left"><i class="material-icons">search</i> Find job</a>
                        <a ng-if="user.isEmployer()" ui-sref="app.search.sidebar.all" class="er-browse-job-link left">Browse jobs</a>
                        <a ng-if="user.isEmployer()" ui-sref="app.dashboard.new-job" class="first left"><i class="material-icons left">add</i>New Job</a>
                        
                        
                        <a class="notification-icon" toggle-dropdown="notification-dropdown"><i class="large material-icons">chat_bubble_outline</i><span class="unread-message" ng-show="unread && unread > 0" ng-bind="unread"></span></a>
                        <div id="notification-dropdown">
                            <ul class="collection">
                                <li class="collection-item avatar" ng-class="{ 'unread-message': conversation.hasNewMessage(user.getId()) }" ng-repeat="conversation in conversations" ng-click="conversation.hasNewMessage() && clearUnread(conversation.getId())">
                                    <a ui-sref="app.inbox.message({conversation_id: conversation.getId()})">
                                        <conversation-item type="notification" conversation="conversation"></conversation-item>
                                    </a>
                                </li>
                                <li>
                                    <p class="center-align">
                                        <a ui-sref="app.inbox">Open Inbox</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <breadcrumb ng-if="isLoggedIn" items="breadcrumbItems"></breadcrumb>
</div>
