<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" ng-src="{{item.image}}">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
            <a ui-sref="app.job({slug: item.getSlug()})"> 
                <h3 ng-bind="item.title"></h3>
            </a>
            <i class="button-open material-icons right">more_vert</i>
        </span>
        <p class="prince">
            <a ui-sref="app.job({slug: item.getSlug()})" data-hint="Favorite">
                <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
            </a>
            <a href="" data-hint="Favorite">
                <i class="fa fa-heart" aria-hidden="true"></i>
            </a>
            <span class="right right-align"><i ng-bind="item.type"></i> {{item.salary}}</span>
        </p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
            <h3 ng-bind="item.title"></h3>
            <i class="button-close material-icons right">close</i>
        </span>
        <p class="card-description" ng-bind="item.short_desc"></p>
    </div>
</div>
