<form class="form-recruitment" name="vm.apply_form" ng-submit="vm.apply_form.$valid && vm.apply(vm.application)" novalidate>
    <div class="selectable-shifts">
        <label>Select your shifts</label>
        <div class="shift" ng-repeat="shift in vm.job.getShifts()">
            <md-checkbox ng-model="shift.selected">
                {{ shift.getDescription() }}, {{ shift.getStartTime() | timeFormat:'MMMM Do YYYY, hh:mm' }} - {{ shift.getEndTime() | timeFormat:'MMMM Do YYYY, hh:mm' }}
            </md-checkbox>
        </div>
    </div>
    <div class="application-editor">
        <trix-editor id="application-editor" angular-trix ng-model="vm.application.request" class="trix-content" name="request" required></trix-editor>
        <div class="errors">
            <span ng-show="vm.apply_form.$submitted && vm.apply_form.request.$error.required">Required</span>
        </div>
    </div>
    <br>
    <div class="right-align">
        <button class="btn center waves-effect waves-light" ng-class="{disabled: vm.inProgress}" ng-disabled="vm.inProgress" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
            <i class="material-icons right icon-pending">replay</i>
        </button>
    </div>
</form>
