<div ng-show="vm.applications | hasItem">
    <div class="people white lighten-5" ng-repeat="item in vm.applications">
        <div class="qualified">
            <div class="col xs12 s3 m2 center-align">
                <div class="qualified-avatar">
                    <img class="avatar" ng-src="{{item[0].getImage()}}" alt="ushift">
                </div>

            </div>
            <div class="col xs12 s6 m7 qualified-information">
                <p class="list-description">
                    <span class="name">
                        <a ui-sref="app.job.application({user_id: item[0].getEmployeeId()})">
                            <strong ng-if="vm.is_owner" ng-bind="item[0].getName()"></strong>
                            <span ng-if="!vm.is_owner"></span>
                        </a>
                    </span>
                </p>
                <div class="text-description" ng-bind-html="item[0].application.request"></div>
                <div class="selected-shift">
                    <strong>Selected Shifts: </strong> <span ng-repeat="shift in item">{{ shift.shift.getDescription()}}<span ng-if="!$last">, </span></span>
                </div>
            </div>
            <div class="col xs12 s3 m3" class="employee-actions left-align" ng-if="vm.is_owner">
                <a class="waves-effect waves-light btn" style="font-size: 12px;margin-top: 35px;" ng-click="initConversation(item[0].getEmployeeId(), vm.job.getId())"><i class="material-icons left" title="Message to {{item[0].getName()}}">message</i> Send message</a>
            </div>
        </div>
    </div>
</div>
