<div class="col s12" style="margin-top: 10px;">
    <div class="col s12 m3 l2 img-thumbnail center-align">
        <img ng-src="{{item.image}}">
        <label>The Blue restaurant</label>
    </div>
    <div class="col s12 m9 l10 content">
        <div class="row">
            <div class="col s12">
                <a ui-sref="app.job({slug: item.getSlug()})">
                    <h5 class="title">{{item.title}} <i ng-if="item.isCompleted()" class="material-icons">check_circle</i></h5>
                </a>
                <div class="short-description" ng-if="item.getShortDesc() != ''" ng-bind-html="item.getShortDesc()"></div>
                <div class="list-description">
                    <small class="online"><strong>Update:</strong> <span>{{item.timestamps.updated_at.date| timeFormat:'LLLL'}}</span></small>
                </div>

                <br/>

                <div class="time-recr" ng-if="action != 'manage' && item.getShifts()|hasItem">
                    <div class="col s12 m4" ng-repeat="shift in item.getShifts()">
                        <div class="shift" style="border-color: rgba(196, 78, 56, 0.6)">
                            <div>
                                <div class="col s12 m12 shift-title center">
                                    <p ng-bind="shift.getDescription()" style="font-size: 16px;margin:6px 0px;"></p>
                                    <span class="shift-status-icon" ng-if="shift.isTaken()">
                                        <i class="material-icons">done</i>
                                    </span>
                                    <span class="shift-status-icon" ng-if="!shift.isTaken() && shift.users|hasItem">
                                        <i class="material-icons text-black">supervisor_account</i>({{ shift.users | length }})
                                    </span>
                                </div>
                            </div>
                            <div>
                                <div class="col s6 m6  center middle" style="font-size: 24px;color: #C44E38">
                                    <p style="margin: 6px 0px;">
                                        {{shift.getDuration()}}3<span style='font-size:12px'>h</span></p>
                                </div>
                                <div class="col s6 m6 center middle" style="font-size: 24px;color: #C44E38">
                                    <p style="margin: 5px 0px;">{{shift.getSalary()}}<span style='font-size:12px'>$/h</span></p>
                                </div>
                            </div>
                            <div>
                                <div class="col s12 m12 center">
                                    <p style="font-size: 14px;margin:6px 0px;">Tanjong pagar</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                </button>
                <div ng-if="action == 'manage'" class="job-manage-actions">
                    <button ng-if="!item.isCompleted()" class="btn waves-effect waves-light" ng-click="complete(item.getId())" ng-disabled="inMarkCompletedProgress" ng-class="{'disabled': inMarkCompletedProgress}">
                        <i class="material-icons left">done</i>
                        <i class="material-icons left icon-pending">replay</i> Mark as completed
                    </button>
                    <a ui-sref="app.update-job({slug: item.getSlug()})">
                        <button class="btn waves-effect waves-light">
                            <i class="material-icons left">edit</i>
                            <i class="material-icons left icon-pending">replay</i> Edit
                        </button>
                    </a>
                    <button class="btn waves-effect waves-light" ng-click="delete(item.getId())" ng-disabled="inProgress" ng-class="{'disabled': inProgress}">
                        <i class="material-icons left">delete</i>
                        <i class="material-icons left icon-pending">replay</i> Delete
                </div>
            </div>
        </div>

    </div>
</div>
