<div class="box-job-page" ng-show="vm.job">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 l9 card">
                <div class="white job-detail">
                    <div class="row">
                        <div class="col s12 m7 title">
                            <h1 ng-bind="vm.job.title"></h1>
                            <span><small>created on {{vm.job.getCreatedAt() | timeFormat: 'LL'}}</small></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="label col s12 m3 l2">
                            <strong>Description</strong>
                        </div>
                        <div class="content col s12 m9 l10">
                            <div class="content" ng-bind-html="vm.job.description"></div>
                        </div>
                    </div>
                    <div class="row" ng-show="vm.job.note">
                        <div class="label col s12 m3 l2">
                            <strong>Note</strong>
                        </div>
                        <div class="content col s12 m9 l10">
                            <div class="title" ng-bind="vm.job.note"></div>
                        </div>
                    </div>
                    <div class="row" ng-show="vm.job.requirement">
                        <div class="label col s12 m3 l2">
                            <strong>Requirement</strong>
                        </div>
                        <div class="content col s12 m9 l10">
                            <div class="title" ng-bind="vm.job.requirement"></div>
                        </div>
                    </div>
                    <div class="row available">
                        <div class="col s12">
                            <div class="shifts row">
                                <div class="col s6 l3" ng-repeat="shift in vm.job.getShifts()">
                                    <div class="card">
                                        <div class="card-title">
                                            <p class="left" ng-bind="shift.description"></p>
                                            <md-checkbox class="right" ng-show="user.isEmployee() && !vm.job.isCompleted()" ng-model="shift.selected" aria-label="shift"></md-checkbox>
                                        </div>
                                        <div class="card-content" ng-click="vm.showApply = true">
                                            <p><strong>Salary: </strong>$<span ng-bind="shift.getSalary()"></span></p>
                                            <p><strong>From:</strong> <span ng-bind="shift.getStartTime() | timeFormat:'MMMM Do YYYY, hh:mm'"></span></p>
                                            <p><strong>To:</strong> <span ng-bind="shift.getEndTime() | timeFormat:'MMMM Do YYYY, hh:mm'"></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 bid-project" ng-show="user.isEmployee() && !vm.job.isCompleted()">
                        <div class="row">
                            <p class="right-align">
                                <a href="#" class="btn center waves-effect waves-light button-bid-project" ng-click="vm.showApply = !vm.showApply">{{vm.showApply ? 'Hide' : 'Send your application'}}</a>
                            </p>
                        </div>
                        <div class="row animate-collapse apply-form" ng-show="vm.showApply" ng-include="'/frontend/js/components/job/_apply_form.tpl.html'"></div>
                    </div>
                </div>
                <div class="white box-job-detail bid-box" ui-view="applications">
                </div>
            </div>
            <div class="hide-on-small-only col m4 l3 sidebar-job">
                <div class="space-bottom">
                    <p class="title center-align"><strong>The blue restaurant</strong></p>
                    <div class="employer-avatar center-align">
                        <img class="logo-shop" src="../assets/images/jobs/office.jpg" alt="logo shop">
                    </div>
                    <div class="about-us" ng-show="vm.job.company_about">
                        <p class="title">About us...</p>
                        <p class="content" ng-bind="vm.job.company_about"></p>
                    </div>
                </div>
<!--                <div class="space-bottom" ng-if="vm.job.getLatitude() !== undefined && vm.job.getLongitude() !== undefined">
                    <div class="map">
                        <p class="title">Address</p>
                        <div class="light-blue-text" ng-bind="vm.job.getAddress()"></div>
                        <div class="map-box">
                            <map lat="vm.job.getLatitude()" lng="vm.job.getLongitude()"></map>
                        </div>
                    </div>
                </div>
                -->
                <div class="space-bottom" ng-if="vm.job.getLatitude() !== undefined && vm.job.getLongitude() !== undefined">
                    <div class="map">
                        <p class="title">Address</p>
                        <div class="light-blue-text" ng-bind="vm.job.getAddress()"></div>
                        <div class="map-box">
                            <img src="../assets/images/jobs/map_rivervalley.jpg"/>
                        </div>
                    </div>
                </div>
                <div class="space-bottom" ng-if="vm.job.getCategories() | hasItem">
                    <div class="tag-category">
                        <p class="title">Categories</p>
                        <p class="list-cate">
                            <a class="waves-effect waves-light btn signup blue-grey lighten-1" ng-repeat="category in vm.job.getCategories()" ng-bind="category.name" ng-click="vm.gotoSearchPage(category)"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row card" ng-if="user.isEmployer()">
            <div class="white box-job-detail related-box">
<!--                <div class="col s12 title">
                    <h4>Other positions nearby...</h4>
                </div>-->
                <div class="related-list">
                    <div class="navbar-title grey darken-3">
                        <div class="col s12">
                            <div class="col s8 m9 qualified">
                                <p class="white-text"><strong>Other positions nearby...</strong></p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="job white lighten-5" ng-repeat="item in vm.jobs">
                        <job item="item"></job>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
