<div class="verify">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <p ng-class="vm.verifyClass" class="center-align" ng-bind="vm.verifyMessage"></p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 verify-button center-align">
                <a class="waves-effect waves-light btn" ui-sref="app.dashboard">Dashboard</a>
            </div>
        </div>
    </div>
</div>
